{% extends 'views/index.html' %}

{% block style %}
<style>
    .content {
        width: 100%;
        height: 70vh;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 0 200px;
    }
</style>
{% endblock %}

{% block content %}
<div class="social-nav">
    <div class="facebook">
        <a href="https://www.facebook.com/Software-Dev-116227830285629" target="_blank" rel="noopener noreferrer"><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
    </div>
    <div class="instagram">
        <a href="https://www.instagram.com/software_devtr/" target="_blank" rel="noopener noreferrer"><ion-icon name="logo-instagram"></ion-icon></a>
    </div>
    <div class="youtube">
        <a href="https://www.youtube.com/channel/UCVmabo4MSxCJjtRDvGcPL5g" target="_blank" rel="noopener noreferrer"><ion-icon name="logo-youtube"></ion-icon></a>
    </div>
</div>
<div class="wrap-container">
    <div class="svg-container">

    </div>
    <div class="content">
        <h4 class="main-content color-font">
            We sale and develope system for your business.
        </h4>
        <p class="sub-content color-text">
            We provide any kind of development services and equipment that help you improve your business. We are focusing on quality and price in balance. Moreover, we either sell as retail or wholesale for consumer preferences. 
        </p>
    </div>
</div>
{% endblock %}