{% extends 'views/financial.html' %}

{% block style %}
<style>
    @font-face {
        font-family: "Ionicons";
        src: url("https://code.ionicframework.com/ionicons/2.0.1/fonts/ionicons.eot?v=2.0.1");
        src: url("https://code.ionicframework.com/ionicons/2.0.1/fonts/ionicons.eot?v=2.0.1#iefix") format("embedded-opentype"), url("https://code.ionicframework.com/ionicons/2.0.1/fonts/ionicons.ttf?v=2.0.1") format("truetype"), url("https://code.ionicframework.com/ionicons/2.0.1/fonts/ionicons.woff?v=2.0.1") format("woff"), url("https://code.ionicframework.com/ionicons/2.0.1/fonts/ionicons.svg?v=2.0.1#Ionicons") format("svg");
        font-weight: normal;
        font-style: normal;
    }

    td {
        padding: 5px !important;
        font-size: 13px !important;
    }

    tbody tr td {
        font-size: 11px !important;
    }

    tbody tr td:hover {
        color: var(--color-font) !important;
    }

    .text-center {
        text-align: center;
    }

    .cancel-btn:hover i {
        color: var(--color-font);
    }

    .description {
        max-width: 50px !important;
    }

    [contenteditable="true"]:active,
    [contenteditable="true"]:focus {
        border: 1px solid var(--color-hr);
        border-radius: 7px;
        outline: none;
        transform: scale(1.1) !important;
    }

    p[contenteditable="true"] {
        cursor: text;
    }

    .order-wrapper {
        padding: 10px 20px 10px 10px;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        background-color: var(--color-menu);
        z-index: 10;
        transition: 0.3s ease;
    }

    #list-orders {
        height: 100%;
    }

    thead tr {
        background-color: var(--color-menu);
    }

    .content-menu {
        border: none;
    }

    .wrap-container {
        display: flex;
        justify-content: space-between;
    }

    .col-filter {
        width: 100%;
        padding-right: 20px;
    }

    .col-order {
        width: 530px;
        position: relative;
    }

    .drawer-btn {
        color: crimson;
        margin: 0 0 0 5px;
    }

    .drawer-btn.active {
        color: limegreen;
    }

    .search-btn {
        background-color: var(--color-menu);
        height: 34px;
        border: none;
        padding: 0 6px 0 16px !important;
    }

    .search-input {
        background-color: var(--color-menu) !important;
    }

    .grid-products {
        grid-column-gap: 20px;
        grid-row-gap: 20px;
        grid-template-columns: repeat(auto-fill, minmax(110px, 1fr)) !important;
        grid-template-rows: repeat(auto-fill, minmax(200px, 200px)) !important;
        padding: 15px 15px 0 15px;
    }

    .grid-products .product-item {
        height: 200px;
        background-color: var(--color-menu);
        cursor: default;
    }

    .grid-products .product-item .item-wrapper .item-img {
        height: 110px;
        background-color: var(--color-bg);
    }

    .grid-products .product-item .item-wrapper .item-details {
        height: calc(100% - 110px);
    }

    .product-btn {
        background-color: rgba(31, 31, 31, 0.3);
        cursor: pointer;
        width: 100%;
        height: 100%;
        font-size: 38px !important;
        color: dodgerblue !important;
        top: 0;
        right: 0;
        transform: scale(1) !important;
        border-radius: none;
        border-radius: 0;
    }

    .drawer-dropdown {
        left: -120px !important;
    }

    .list-products .product-item {
        height: 130px;
        padding: 10px 0;
    }

    .list-products .product-item .item-wrapper .item-details .details .color-font {
        font-size: 18px !important;
    }

    .list-products .product-item .item-wrapper .item-details div:nth-child(2) p:first-child {
        font-size: 13px !important;
    }

    .list-products .product-item .item-wrapper .item-img {
        width: 130px;
        height: 110px;
    }

    .product-item.active .product-btn {
        color: crimson !important;
    }

    .order-btn:hover {
        color: var(--color-font) !important;
    }

    .form-empty {
        padding: 5px;
    }

    .form-empty:disabled:hover {
        border-color: var(--color-hr);
    }

    .list-products .product-item .item-wrapper .item-img .product-btn {
        top: 0;
        left: 0;
    }

    .order-btn {
        border: 1px solid var(--color-hr);
        border-radius: 20px;
        margin-left: 10px;
        background-color: var(--color-menu);
        padding: 5px 10px 5px 5px;

    }

    .order-icon {
        position: relative;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 31px;
        height: 31px;
        background-color: var(--color-menu);
        border-radius: 50%;
        box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15) !important;
    }

    .sum-order {
        position: absolute;
        top: -4px;
        right: -4px;
        font-size: 11px;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        color: var(--color-font);
        background-color: dodgerblue;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15) !important;
    }

    .property-values {
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    }

    .modal-wrapper {
        height: 65vh;
        position: relative;
    }

    .details-img {
        width: 170px;
        height: 170px;
    }

    .config-list {
        border-top: 1px solid var(--color-hr);
        margin-top: 10px;
        padding: 5px 0;
    }

    .config-list p {
        text-align: start;
    }

    .value-active {
        color: dodgerblue;
    }

    .span-border.active {
        border: 1px solid dodgerblue;
    }

    .alert-btn {
        position: absolute;
        top: 10px;
        right: 25px;
        font-size: 23px;
        z-index: 100;
    }

    input#input-discount::after {
        content: "%";
        position: absolute;
        top: 0;
        right: 0;
    }

    .details-colors {
        position: relative;
        display: grid;
        grid-gap: 10px;
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
        grid-template-rows: repeat(auto-fill, minmax(75px, 75px));
        width: 100%;
        height: auto;
    }

    .span-border {
        position: relative;
        width: 100%;
        height: 75px;
        padding: 7px 10px 5px 10px;
        margin: 0;
        border-radius: 10px;
        transition: 0.3s ease;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        transition: 0 ease;
        background-color: var(--color-menu);
        border: none;
        box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15) !important;
    }

    .span-border.active,
    .span-border:hover {
        border: none;
    }

    .span-border.active::after {
        content: "\f3a7";
        color: dodgerblue;
        position: absolute;
        font-family: "Ionicons";
        top: 5px;
        right: 10px;
        font-size: 18px;
    }

    .span-color {
        width: 33px;
        height: 33px;
        border-radius: 50%;
    }

    .money-add {
        cursor: pointer;
    }

    #list-money .form-empty {
        border-radius: 7px;
        padding-left: 7px;
    }

    .drawer-time {
        width: auto;
        height: 100%;
        padding: 3px 3px 3px 1px;
        border-radius: 23px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        border: 1px solid var(--color-hr);
        transition: 0.3s ease;
    }

    .drawer-time.active .time-btn {
        color: limegreen;
    }

    .drawer-time.active {
        padding-left: 10px;
    }

    .time-btn {
        margin-left: 3px;
        cursor: pointer;
        color: crimson;
        font-size: 28px;
    }

    .pre-divied {
        background-color: var(--color-menu);
    }

    .remove-btn:hover i {
        color: var(--color-font);
    }

    .money-add, .payment-add {
        cursor: pointer;
    }

    .payment-add {
        background-color: var(--color-menu);
    }

</style>
{% endblock %}

{% block content %}
<div class="wrap-container">
    <div class="col-filter" style="border-right: 1px solid var(--color-hr);">
        <!-- Begin -->
        <div class="content-menu flex-between">
            <div class="dropdown" id="list-cates">
                <div class="menu-icon" data-toggle="dropdown">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
                <div class="dropdown-menu">
                    {% if categories %}
                    {% for category in categories %}
                    <div class="dropdown-item category-item" id="{{category.id}}">{{category.category}}</div>
                    {% endfor %}
                    {% else %}
                    <div class="dropdown-item">No categories</div>
                    {% endif %}
                </div>
            </div>
            <div class="menu-items flex-start-center color-text notranslate">
                {% if brands %}
                {% for brand in brands %}
                <div class="menu-item" id="{{ brand.id }}">{{ brand.brand }}</div>
                {% endfor %}
                {% else %}
                <div class="menu-item">...</div>
                {% endif %}
            </div>
            <div class="menu-btn flex-end-center color-text">
                <div class="view-btn"><i class="fa fa-list-ul list-btn" aria-hidden="true"></i></i></div>
                <div class="view-btn active"><i class="fa fa-th grid-btn" aria-hidden="true"></i></div>
                <div class="dropdown" id="list-filters">
                    <div class="sort-btn" data-toggle="dropdown"><i class="fa fa-sliders" aria-hidden="true"></i></div>
                    <div class="dropdown-menu">
                        <div class="dropdown-item sort-item" id="title">Title</div>
                        <div class="dropdown-item sort-item" id="newest">Newest</div>
                        <div class="dropdown-item sort-item" id="oldest">Oldest</div>
                        <div class="dropdown-item sort-item" id="most-expensive">Most expensive</div>
                        <div class="dropdown-item sort-item" id="cheapest">Cheapest</div>
                    </div>
                </div>
                <div class="search-btn flex-between notranslate color-text">
                    <i class="fa fa-search" aria-hidden="true"></i>
                    <input type="text" class="search-input color-text pl-2" placeholder="Search">
                </div>
                {% if current_user.drawer == '' %}
                <div class="menu-icon drawer-btn">
                    <i class="fa fa-usd" aria-hidden="true"></i>
                </div>
                {% else %}
                <div class="menu-icon drawer-btn active" id="{{ current_user.drawer }}">
                    <i class="fa fa-usd" aria-hidden="true"></i>
                </div>
                {% endif %}
            </div>
        </div>
        <div class="grid-products product-container">
            <div class="empty-result hide color-text">No product found...</div>
            {% if products %}
            {% for product in products %}
            <div class="product-item" id="{{product.id}}" order="{{loop.index}}">
                <input type="hidden" id="details-brand" value="{{product.brandId}}">
                <input type="hidden" id="details-categ" value="{{product.categoryId}}">
                <div class="item-wrapper">
                    <div class="item-img">
                        <img src="/static/uploads/{{product.photo}}">
                        <div class="product-btn color-text" title="Add product to list">
                            <ion-icon name="add-circle-outline"></ion-icon>
                        </div>
                    </div>
                    <div class="item-details">
                        <div class="details">
                            <p class="notranslate color-font text-wrapper" id="details-title" style="font-size: 14px;"
                                title="{{product.product}}">{{product.product}}</p>
                            <p class="hide color-text" style="font-size: 10px;" id="details-date">{{product.createdOn}}
                            </p>
                            <p class="color-text" id="details-category" style="font-size: 10px;">
                                {{product.productOfCategory.category}}</p>
                            <p class="color-text hide" id="details-description" style="font-size: 10px;">
                                {{product.description}}</p>
                            <p class="price-tag currency-format hide">{{ product.price }}</p>
                        </div>
                        <div class="notranslate flex-between-end color-text" style="width: 100%;">
                            <p class="color-font text-wrapper" id="details-price"
                                style="font-size: 14px; width: 110px;">
                                <span class="symbol"></span><span class="stock-tag" style="font-size: 12px;">
                                    {% if product.isStock == True %}
                                    {% set total_stock = namespace(value=0) %}
                                    {% if product.stocks %}
                                    {% for stock in product.stocks %}
                                    {% set total_stock.value = total_stock.value + stock.quantity %}
                                    {% endfor %}
                                    {% if total_stock.value > 0 %}
                                    {{ total_stock.value }} Available
                                    {% else %}
                                    Out of stock
                                    {% endif %}
                                    {% else %}
                                    Out of stock
                                    {% endif %}
                                    {% else %}
                                    Available
                                    {% endif %}
                                </span></p>
                            <p style="font-size: 12px;">
                                <i class="fa fa-heart-o" aria-hidden="true"></i>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
            {% else %}
            <div class="empty-result color-text">No product found...</div>
            {% endif %}
        </div>


        <!-- Noted -->
    </div>
    <div class="col-order pl-4">
        <h4 class="color-font" style="text-align: center;">Transaction</h4>
        <div class="order-container mt-2">
            <table class="table order-table notranslate">
                <thead>
                    <tr class="color-font">
                        <td style="width: 50%;">Description</td>
                        <td class="text-center" style="width: 20%;">Price</td>
                        <td class="text-center" style="width: 15%;">Disc</td>
                        <td class="text-center" style="width: 15%;">Qty</td>
                        <td class="text-center" style="width: 20%;">Amount</td>
                        <td class="text-center cancel-btn"></td>
                    </tr>
                </thead>
                <tbody id="list-orders">
                    <tr class="order-form color-text notranslate"></tr>
                </tbody>
            </table>
            <div class="order-wrapper flex-between-center">
                <button class="btn color-text order-btn" id="">
                    <span class="mr-2 order-icon">
                        <span class="sum-order notranslate">0</span>
                        <i class="fa fa-cart-arrow-down" aria-hidden="true"></i>
                    </span>
                    <span>Place Order</span>
                </button>
                <div class="arrow arrow-left animate-left-to-right">
                    <div class="flex-between-center">
                        <span class="mr-3 color-text">Total:</span>
                        <span id="sumTotal" class="color-font currency-format notranslate">0</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="productProperty" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
        <div class="modal-content">

        </div>
    </div>
</div>

<div class="modal fade" id="paymentModel" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-body" style="padding: 0; height: 80vh;">
                <div class="payment-container">
                    <div class="payment-bill">
                        <div class="payment-header">
                            <div class="payment-type">
                                <div class="type-btn type-cash color-text active">Cash</div>
                                <div class="type-btn type-card color-text">Card</div>
                            </div>
                        </div>
                        <div class="payment-body">
                            <div class="row">
                                <div class="col-md-10">
                                    <div class="form-group">
                                        <input type="number" step="any" class="form-control input-color" name="receive-cash" id="receive-cash" required>
                                        <label for="receive-cash" class="label receive-cash">Amount</label>
                                        <select name="receive-currency" id="receive-currency" class="form-control input-color">
                                            <option value="USD"><span>&#36;</span></option>
                                            <option value="KHR"><span>&#6107;</span></option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-2 pl-0">
                                    <div class="form-group">
                                        <button class="btn color-text payment-add"><ion-icon name="add-outline" style="vertical-align: middle"></ion-icon></button>
                                    </div>
                                </div>
                            </div>
                            <div class="money-container mt-3" style="height: 100%; overflow: auto">
                                <table class="table money-table">
                                    <thead>
                                        <tr class="color-font">
                                            <td style="width: 40%;">Paid</td>
                                            <td style="width: 15%; text-align:center;">Currency</td>
                                            <td style="width: 10%; text-align:center;">Unit</td>
                                            <td style="width: 25%; text-align:center;">Total</td>
                                            <td style="width: 10%;"></td>
                                        </tr>
                                    </thead>
                                    <tbody id="list-payment" class="color-text"></tbody>
                                </table>
                            </div>
                        </div>
                        <div class="payment-total color-text">
                            
                        </div>
                    </div>
                    <div class="payment-invoice">
                        <div class="invoice-header">
                            <h5 class="color-text" style="text-align: center; font-size: 23px;">SHOP</h5>
                        </div>
                        <div class="invoice-body">
                            <div class="shop-details flex-column-start-center mb-1">
                                <p class="color-text">103AEo Street 108, Sangkat Wat Phnom, Khan Daun Penh</p>
                                <p class="color-text">Contact: {{ current_user.profile[0].phone }}</p>
                            </div>
                            <div class="flex-between-center pb-1">
                                <p class="color-text">Date: <span id="invoiceDate"></span></p>
                                <p class="color-text"><span id="invoiceTime"></span></p>
                            </div>
                            <div class="flex-between-center border-dashed py-1">
                                <p class="color-text">Invoice: <span id="invoiceNo"></span></p>
                                <p class="color-text">Cashier: <span>{{ current_user.username }}</span></p>
                            </div>
                            <div class="item-payment mt-2">
                                <table class="table invoice-table">
                                    <thead>
                                        <tr class="color-font">
                                            <td style="width: 40%;">Item Name</td>
                                            <td style="width: 15%; text-align:center;">Price</td>
                                            <td style="width: 10%; text-align:center;">Disc</td>
                                            <td style="width: 15%; text-align:center;">Qty</td>
                                            <td style="width: 20%; text-align:center;">Total</td>
                                        </tr>
                                    </thead>
                                    <tbody id="item-invoice" class="color-text"></tbody>
                                </table> 
                            </div>
                        </div>
                        <div class="invoice-total border-dashed">
                            <div class="flex-between-start" style="width: 100%;">
                                <p class="color-text" style="width: 50%;">Total</p>
                                <div class="flex-between-center" style="width: 50%;">
                                    <p class="color-text">USD:</p>
                                    <p class="color-text" id="totalUSD"><span>&#36;</span></p>
                                </div> 
                            </div>
                            <div class="flex-between-center">
                                <p class="color-text">KHR:</p>
                                <p class="color-text" id="totalKHR"><span>&#6107;</span></p>
                            </div> 
                            <div class="flex-between-center border-dashed my-1 pt-1">
                                <p class="color-text">Cash:</p>
                                <p class="color-text" id="totalCash">...</p>
                            </div>
                            <div class="flex-between-center">
                                <p class="color-text">Change:</p>
                                <p class="color-text" id="totalChange">...</p>
                            </div>
                        </div>
                        <div class="invoice-footer">
                            <p class="color-text">Thank you for coming</p>
                        </div>
                    </div>
                    <button type="button" class="btn color-font close-modal invoice-close" data-dismiss="modal"><ion-icon name="close-outline"></ion-icon></button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="drawerModal" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document" style="max-width: 400px;">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title color-font">Drawer</h4>
                {% if current_user.drawer == '' %}
                <div class="drawer-time" title="Drawer is off">
                    <span class="color-text" id="drawerTime"></span>
                    <ion-icon name="time-outline" class="time-btn"></ion-icon>
                </div>
                {% else %}
                <div class="drawer-time active" title="Drawer is on">
                    {% for drawer in current_user.drawers %}
                    {% if drawer.id == current_user.drawer %}
                    <span class="color-text" id="drawerTime">{{ drawer.startedOn.strftime("%b %d %Y %H:%M:%S") }}</span>
                    {% endif %}
                    {% endfor %}
                    <ion-icon name="time-outline" class="time-btn"></ion-icon>
                </div>
                {% endif %}
            </div>

            <div class="modal-body">
                
            </div>

            <div class="modal-footer">
                <button type="button" class="btn color-font close-modal" data-dismiss="modal">Cancel</button>
                {% if current_user.drawer == '' %}
                    <button class="btn border drawer-save color-font">Create</button>
                    <button class="btn border drawer-end color-font hide" id="{{ current_user.drawer }}">End</button>
                {% else %}
                    <button class="btn border drawer-save color-font hide">Create</button>
                    <button class="btn border drawer-end color-font" id="{{ current_user.drawer }}">End</button>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
<script src="{{url_for('static', filename='js/printThis.js')}}"></script>
<script src="{{url_for('static', filename='js/cashing.js')}}"></script>
<script src="https://cdn.rawgit.com/meetselva/attrchange/master/js/attrchange.js"></script>
<script>
    $(document).on('click', '.type-btn', function() {
        var types = $('.payment-type').children()
        Array.from(types).forEach(t => {
            $(t).removeClass('active')
        })
        $(this).addClass('active')
        if ($(this).hasClass('type-cash')) {
            $('.payment-body').html(`<div class="row">
                                <div class="col-md-10">
                                    <div class="form-group">
                                        <input type="number" step="any" class="form-control input-color" name="receive-cash" id="receive-cash" required>
                                        <label for="receive-cash" class="label receive-cash">Amount</label>
                                        <select name="receive-currency" id="receive-currency" class="form-control input-color">
                                            <option value="USD"><span>&#36;</span></option>
                                            <option value="KHR"><span>&#6107;</span></option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-2 pl-0">
                                    <div class="form-group">
                                        <button class="btn color-text payment-add"><ion-icon name="add-outline" style="vertical-align: middle"></ion-icon></button>
                                    </div>
                                </div>
                            </div>
                            <div class="money-container mt-3" style="height: 100%; overflow: auto">
                                <table class="table money-table">
                                    <thead>
                                        <tr class="color-font">
                                            <td style="width: 40%;">Money</td>
                                            <td style="width: 15%; text-align:center;">Currency</td>
                                            <td style="width: 10%; text-align:center;">Unit</td>
                                            <td style="width: 25%; text-align:center;">Total</td>
                                            <td style="width: 10%;"></td>
                                        </tr>
                                    </thead>
                                    <tbody id="list-payment" class="color-text"></tbody>
                                </table>
                            </div>`)
        } else {
            $('.payment-body').html('<div style="width: 100%; height: 100%; display: flex; justify-content: center; align-items: center"><p class="color-text">Upgrade to advance mode</p></div>')
        }
    })

    $('.drawer-btn').on('click', function () {
        var id = $(this).attr('id')
        $.ajax({
            url: '/drawer/'+id,
            type: 'POST',
            success: function(data) {
                console.log(data)
                $('#drawerModal').find('.modal-body').html(drawerForm(data.counter, data.rate, data.data))
                $('#drawerModal').modal('show')
            }
        })
    })

    var orderLists = []

    $(document).on('submit', '#orderForm', function () {
        event.preventDefault()
        var discount = $('#input-discount').val()
        var quantity = $('#input-quantity').val()
        var id = $('#input-product').val()
        var details = $('#input-details').val()

        if (quantity < 1) {
            $('#input-quantity').focus()
            alert('Value must be atleast 1')
        } else {

            var orderList = {}

            orderLists.forEach(o => {
                if (o.orderId == id) {
                    orderList = o
                }
            })

            orderList.discount = discount
            orderList.quantity = quantity

            var jsonObj = JSON.stringify(orderList)

            $.ajax({
                url: '/order/product/' + orderList.productId,
                type: 'POST',
                data: {
                    data: jsonObj
                },
                dataType: 'json',
                success: function (data) {
                    if (data.result == 'success') {
                        $('#list-orders tr:last').before(showOrder(data.data.id, details, data.data.price, data.data.discount, data.data.quantity, data.data.amount))
                        $('.order-form').empty()
                        if (data.data.isStock != false) {
                            if (data.data.stock == 0) {
                                data.data.stock = 'Out of stock'
                            } else {
                                data.data.stock = data.data.stock + ' Available'
                            }
                            $('#' + orderList.productId).find('.stock-tag').text(data.data.stock)
                        }
                        var total = accounting.unformat($('#sumTotal').text())
                        total += data.data.amount
                        $('#sumTotal').text(accounting.formatMoney(total))

                        var order = parseInt($('.sum-order').text())
                        order += data.data.quantity
                        $('.sum-order').text(order)
                    } else {
                        alert(data.data.message)
                    }
                }
            })
        }

        return false
    })

    $(document).on('click', '.continue-btn', function () {
        var orderId = generateString(23)

        var validation = {
            isSelected: true
        }

        var orderList = {
            'orderId': orderId,
            'colorId': '',
            'discount': 0,
            'quantity': 0,
            'productId': '',
            'values': []
        }

        var properties = document.querySelectorAll('.property-values')
        var colors = $('.details-colors').children()
        var details = $('.details-title').text()
        var id = $('.details-title').attr('id')
        var cost = accounting.unformat($('.details-price').text())

        orderList.productId = id

        if (colors.length > 0) {
            validation.isSelected = false
            Array.from(colors).forEach(c => {
                var color = $(c).find('.span-color').attr('title')

                if ($(c).hasClass('active')) {
                    details += '-' + color
                    validation.isSelected = true
                    orderList.colorId = $(c).find('.span-color').attr('id')
                }
            })
        }

        Array.from(properties).forEach(p => {
            var valueObj = {}
            var pid = $(p).attr('id').split('_')[1]
            var pname = $(p).attr('id').split('_')[0].toLowerCase()
            var vname = $('.value').find('input[name=' + pname + ']:checked').parent().find('#value-value').text()

            var value = $('.value').find('input[name=' + pname + ']:checked').val()
            if (value != undefined) {
                valueObj['propertyName'] = pname
                valueObj['propertyId'] = pid
                valueObj['valueId'] = value
                orderList.values.push(valueObj)

                if ($(p).children().length > 1) {
                    details += '-' + vname
                }
            }
        })

        orderLists.push(orderList)

        if (validation.isSelected == true) {
            // Stockform
            $('.order-form').html(orderForm(orderId, details, cost, '', '', accounting.formatMoney(0)))
            $('.order-form').find('#input-discount').focus()
            $('#productProperty').modal('hide')

        } else {
            alert('Color must be selected')
        }
    })

    $(document).on('click', '.cancel-btn', function () {
        $(this).closest('tr').fadeOut('slow', function () {
            $(this).remove()
        })
    })

    $(document).on('input', '#input-quantity', function () {
        if ($(this).val() != '' && $(this).val() > 0) {
            toggleEdit($(this).closest('.order-form').find('.save-btn'), $(this).closest('.order-form').find('.cancel-btn'))
        } else {
            toggleEdit($(this).closest('.order-form').find('.cancel-btn'), $(this).closest('.order-form').find('.save-btn'))
        }
        var price = $(this).closest('tr').find('#input-price').val()
        var discount = $(this).closest('tr').find('#input-discount').val()
        var quantity = $(this).val()
        var total = (price - (price * discount / 100)) * quantity
        $('#calculated-result').text(accounting.formatMoney(total))
    })

    $(document).on('input', '#input-discount', function () {
        if ($(this).val() < 0) {
            $(this).val(0)
        }
        if ($(this).val() > 100) {
            $(this).val(100)
        }

        var price = $(this).closest('tr').find('#input-price').val()
        var quantity = $(this).closest('tr').find('#input-quantity').val()
        var discount = $(this).val()
        var total = (price - (price * discount / 100)) * quantity
        $('#calculated-result').text(accounting.formatMoney(total))

    })

    $(document).on('keypress', '#input-discount', function (e) {
        if (e.which == 13) {
            $('#input-quantity').focus()
        }
    })

    $(document).on('click', '.span-border', function () {
        var self = $(this).find('.span-color')
        var id = self.attr('id')
        self.bind('click', function () {
            return false;
        });

        Array.from($('.details-colors').children()).forEach(color => {
            $(color).removeClass('active')
        })
        self.parent().addClass('active')
        $.ajax({
            url: '/color/' + id,
            type: 'POST',
            success: function (data) {
                $('.details-img').html(showColorPhotos(data.photos, 'color-photo'))
                gsap.from('.details-img', {
                    opacity: 0,
                    duration: 0.8,
                    onComplete: function () {
                        self.unbind('click')
                    }
                })
            }
        })
    })

    $('.product-btn').on('click', function () {
        var id = $(this).closest('.product-item').attr('id')
        $('#productProperty').modal('show')
        $.ajax({
            url: '/product/' + id,
            type: 'POST',
            success: function (data) {
                var photo = '/static/uploads/' + data.photo
                data.values.sort(dynamicSort('price'))
                $('#productProperty').find('.modal-content').html(productConfiguration({
                    image: photo,
                    colors: data.colors,
                    product: data.product,
                    category: data.category.category,
                    description: data.description,
                    currency: data.currency,
                    price: data.price,
                    properties: data.category.properties,
                    values: data.values,
                    id: data.id,
                    stocks: data.stocks
                }))
            }
        })
    })

    $(document).on('click', '.save-btn', function () {
        $('#orderForm').submit()
    })

    function orderForm(id, details, cost, discount, quantity, total) {

        return `<input type="hidden" id="input-product" value="` + id + `">
            <td><input type="text" class="form-empty color-text input-color" title="`+ details + `" id="input-details" value="` + details + `"
                    placeholder="Details" disabled></td>
            <td><input type="number" class="form-empty color-text input-color" id="input-price" value="`+ cost + `"
                    placeholder="Price" disabled></td>
            <td><input min="1" max="100" type="number" class="form-empty color-text input-color" id="input-discount" value="`+ discount + `"
                    placeholder="Disc"></td>
            <td><form id="orderForm" style="width: auto"><input type="number" class="form-empty color-text input-color" id="input-quantity"
                    placeholder="Qty" value="`+ quantity + `"></form></td>
            <td id="calculated-result" style="text-align:center;">`+ total + `</td>
            <td class="cancel-btn">
                <ion-icon name="close-outline"></ion-icon>
            </td>
            <td class="save-btn hide">
                <ion-icon name="checkmark-outline"></ion-icon>
            </td>
            <td class="remove-btn hide">
                <i class="fa fa-trash-o" aria-hidden="true"></i>
            </td>`
    }

    $(document).ready(function () {
        $(document).on('change', '.input-radio', function () {
            var pid = $(this).closest('.property-values').attr('id').split('_')[1]
            var name = $(this).closest('.value').find('#value-value').text()
            var description = $(this).closest('.value').find('#value-description').text()
            var price = $(this).closest('.value').find('#value-price').text()


            $('#value-price').text()

            var values = $(this).closest('.property-values').children()
            Array.from(values).forEach(v => {
                var v_price = $(v).find('#value-price').text()
                var n_price = accounting.formatMoney(accounting.unformat(v_price) - accounting.unformat(price), {
                    precision: 0,
                    format: {
                        pos: "+%s%v",
                        neg: "-%s%v",
                        zero: '<ion-icon class="value-active" name="checkmark-done-outline"></ion-icon>'
                    }
                })

                $(v).find('#value-price').html(n_price)

            })

            var details_price = accounting.unformat($('.details-price').text()) + accounting.unformat(price)

            $('.details-price').text(accounting.formatMoney(details_price))

            var configList = document.querySelectorAll('.config-list')
            Array.from(configList).forEach(c => {
                if ($(c).attr('id') == pid) {
                    $(c).find('.value-description').text(description.toLowerCase() + ' ' + name.toLowerCase())
                }
            })
        })

        $('[data-toggle="tooltip"]').tooltip({
            trigger: 'hover'
        })
        currencyFormat()

        $('.arrow').addClass('active')

        currencyFormat()
        var products = Array.from(document.querySelectorAll('.product-item'))

        var temp_products = products

        $('.search-input').on('input', function () {
            searchProducts($(this).val(), temp_products, '#details-title')
        })

        $('.menu-item, .category-item').on('click', function () {
            var menus = document.querySelectorAll('.menu-item')
            var cates = document.querySelectorAll('.category-item')
            var input = $('.search-input').val()
            if ($(this).hasClass('active')) {
                $(this).removeClass('active')
                temp_products = selectMenu(products, menus, cates, input)
            } else {
                $(this).addClass('active')
                temp_products = selectMenu(products, menus, cates, input)
            }
            event.stopPropagation()
        })

        $('.list-btn').on('click', function () {
            var views = document.querySelectorAll('.view-btn')
            Array.from(views).forEach(v => {
                $(v).removeClass('active')
            })
            $(this).parent().addClass('active')
            $('.product-container').removeClass('grid-products')
            $('.product-container').addClass('list-products')
        })

        $('.grid-btn').on('click', function () {
            var views = document.querySelectorAll('.view-btn')
            Array.from(views).forEach(v => {
                $(v).removeClass('active')
            })
            $(this).parent().addClass('active')
            $('.product-container').removeClass('list-products')
            $('.product-container').addClass('grid-products')
        })

        $('.fa-search').on('click', function () {
            toggleActive($('.search-input'))
        })

        $('#list-cates').attrchange({
            trackValues: true,
            callback: function (evnt) {
                if (evnt.attributeName == "class") {
                    if (evnt.newValue.search(/open/i) == -1) {
                        if ($('#list-cates').hasClass('show')) {
                            $('.menu-icon').addClass('active')
                        } else {
                            $('.menu-icon').removeClass('active')
                        }
                    }
                }
            }
        });

        $('#list-filters').attrchange({
            trackValues: true,
            callback: function (evnt) {
                if (evnt.attributeName == "class") {
                    if (evnt.newValue.search(/open/i) == -1) {
                        if ($('#list-filters').hasClass('show')) {
                            $('.sort-btn').addClass('active')
                        } else {
                            $('.sort-btn').removeClass('active')
                        }
                    }
                }
            }
        });

        $('.sort-item').on('click', function () {
            var items = document.querySelectorAll('.sort-item')
            Array.from(items).forEach(item => {
                $(item).removeClass('active')
            })
            toggleActive($(this))

            var filter = $(this).attr('id')

            if (filter == 'selected') {
                console.log(filter)
            } else {
                switch (filter) {
                    case 'most-expensive':
                        filterProduct(products, '.price-tag', 'price-desc')
                        break
                    case 'cheapest':
                        filterProduct(products, '.price-tag', 'price-asc')
                        break
                    case 'title':
                        filterProduct(products, '#details-title', 'title-asc')
                        break
                    case 'newest':
                        filterProduct(products, '#details-date', 'date-asc')
                        break
                    case 'oldest':
                        filterProduct(products, '#details-date', 'date-desc')
                        break
                }
            }

            var i = 1
            products.forEach(p => {
                $(p).attr('order', i)
                i++
            })

            $('.product-container').append($('.product-container .product-item').sort(function (a, b) {
                return a.getAttribute('order') - b.getAttribute('order')
            }))
        })
    })

    function showOrder(id, description, price, discount, quantity, amount) {
        return `<tr class="color-text transaction-item" id="` + id + `">
                    <td class="description" id="order-description">`+ description + `</td>
                    <td class="text-center currency-format" id="order-price">`+ accounting.formatMoney(price, {
            precision: 2,
            format: {
                pos: "%s%v",
                neg: "%s%v",
                zero: '%s%v'
            }
        }).replace(/\.0+$/, '') + `</td>
                    <td>
                        <p class="color-text text-center" contenteditable="true" id="order-discount">`+ discount + `%</p>
                    </td>
                    <td>
                        <p class="color-text text-center" contenteditable="true" id="order-quantity">`+ quantity + `</p>
                    </td>
                    <td class="text-center currency-format" id="order-amount">`+ accounting.formatMoney(amount, {
            precision: 2,
            format: {
                pos: "%s%v",
                neg: "%s%v",
                zero: '%s%v'
            }
        }).replace(/\.0+$/, '') + `</td>
                    <td class="cancel-btn hide">
                        <ion-icon name="close-outline"></ion-icon>
                    </td>
                    <td class="save-btn hide">
                        <ion-icon name="checkmark-outline"></ion-icon>
                    </td>
                    <td class="remove-btn">
                        <i class="fa fa-trash-o" aria-hidden="true"></i>
                    </td>
                </tr>`
    }

    function drawerForm(counter, rate, moneys) {
        var element = ''
        if (moneys.length > 0) {
            moneys.forEach(m => {
                element += `<tr class="color-font">
                                <td style="width: 25%;">`+m.money+`</td>
                                <td style="width: 15%; text-align:center;">`+m.currency+`</td>
                                <td style="width: 20%; text-align:center;">`+m.unit+`</td>
                                <td style="width: 25%; text-align:center;">`+m.money * m.unit+`</td>
                                <td class="color-text flex-between-center"><ion-icon name="remove-outline"></ion-icon><ion-icon name="add-outline"></ion-icon></td>
                            </tr>`
            })
        }

        return `<div class="row">
                    <div class="col-md-4 pr-0">
                        <div class="form-group">
                            <input class="form-control input-color" step="any" type="number" name="drawer-rate" id="drawer-rate" value="` +
                                rate + `">
                            <label class="label rate" for="drawer-rate">Rate</label>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="form-group">
                            <input class="form-control input-color" type="text" name="drawer-counter" id="drawer-counter" value="` +
                        counter +
                        `">
                            <label class="label counter" for="drawer-counter">Counter</label>
                        </div>
                    </div>
                </div>
                <div class="money-container mt-3" style="height: 370px; overflow: auto">
                    <table class="table money-table">
                        <thead>
                            <tr class="color-font">
                                <td style="width: 35%;"><ion-icon name="add-outline" class="money-add mr-2" style="vertical-align: middle"></ion-icon>Money</td>
                                <td style="width: 15%; text-align:center;">Currency</td>
                                <td style="width: 20%; text-align:center;">Unit</td>
                                <td style="width: 25%; text-align:center;">Total</td>
                                <td style="width: 5%;"></td>
                            </tr>
                        </thead>
                        <tbody id="list-money" class="color-text">
                            `+element+`
                            <tr class="money-form color-text">

                            </tr>
                        </tbody>
                    </table>
                </div>

                `
    }

    function moneyForm(money, currency, unit, total) {
        var select = `<select name="money-currency" id="money-currency" class="form-empty color-text input-color">`
        if (currency == 'dollar') {
            select += `<option value="USD" selected><span>&#36;</span></option>
                        <option value="KHR"><span>&#6107;</span></option>
                    </select>`
        } else {
            select += `<option value="USD"><span>&#36;</span></option>
                        <option value="KHR" selected><span>&#6107;</span></option>
                    </select>`
        }
        select += '</div>'
        return `<td class="pl-0">
                    <input type="number" class="form-empty color-text input-color" id="money-money" value="` + money + `"
                    placeholder="Money">
                </td>
                <td>
                    `+select+`
                </td>
                <td>
                    <input min="1" type="number" class="form-empty color-text input-color" id="money-unit" value="`+ unit + `"
                    placeholder="Unit">
                </td>
                <td>
                    <input type="number" class="form-empty color-text input-color" id="money-total" value="`+ total + `"
                    placeholder="Total">
                </td>
                <td class="money-btn">
                    <ion-icon name="checkmark-outline" class="money-save hide"></ion-icon>
                    <ion-icon name="close-outline" class="money-delete"></ion-icon>
                </td>`
    }

    

    $(document).on('click', '.money-delete', function() {
        if ($(this).closest('tr').hasClass('money-form')) {
            $(this).closest('tr').empty()
        } else {
            var id = $(this).closest('tr').attr('id')
            drawerObj.moneys.forEach((m, i) => {
                if (m.id == id) {
                    drawerObj.moneys.splice(i, 1)
                    $(this).closest('tr').remove()
                }
            })
        } 
    })

    $(document).on('click', '.money-add', function() {
        $('.money-form').html(moneyForm('', 'dollar', '', ''))
    })

    function exchangeMoney(rate, number, currency) {
        switch (currency) {
            case 'KHR':
                number *= rate
                break
            case 'USD':
                number /= rate
                break
        }
        return number
    }

    var drawerObj = {
        rate: 4000,
        counter: 'Default',
        moneys: []
    }

    var obj = {
        'id': '',
        'unit': 0,
        'money': 0,
        'currency': 'dollar',
        'total': 0
    }

    $(document).on('input', '#drawer-rate', function() {
        drawerObj.rate = $(this).val()
    })

    $(document).on('input', '#drawer-counter', function() {
        drawerObj.counter = $(this).val()
    })

    $(document).on('input', '#money-money, #money-unit', function() {
        var money = $(this).closest('tr').find('#money-money').val()
        var unit = $(this).closest('tr').find('#money-unit').val()
        if (money == '') {
            money = 0
        }
        if (unit == '') {
            unit = 0
        }
        if ($(this).val() < 0) {
            $(this).val(0)
        }
        var total = parseFloat(money) * parseFloat(unit)
        if (total > 0) {
            toggleEdit($(this).closest('tr').find(('.money-save')), $(this).closest('tr').find(('.money-delete')))
        } else {
            toggleEdit($(this).closest('tr').find(('.money-delete')), $(this).closest('tr').find(('.money-save')))
        }
        $(this).closest('tr').find('#money-total').val(total)
    })

    $(document).on('input', '#money-total', function() {
        var input = $(this).val()
        if (input == '' || input < 0) {
            input = 0
        }
        $(this).closest('tr').find(('.money-save'))
        if (input > 0) {
            toggleEdit($(this).closest('tr').find(('.money-save')), $(this).closest('tr').find(('.money-delete')))
        } else {
            toggleEdit($(this).closest('tr').find(('.money-delete')), $(this).closest('tr').find(('.money-save')))
        }
        var unit = $(this).closest('tr').find('#money-unit').val()
        $(this).closest('tr').find('#money-money').val(parseInt(input / unit))
    })

    $(document).on('click', '.money-save', function() {
        var money = $(this).closest('tr').find('#money-money').val()
        var unit = $(this).closest('tr').find('#money-unit').val()
        var currency = $(this).closest('tr').find('#money-currency').val()
        var total = $(this).closest('tr').find('#money-total').val()
        var id = generateString(8)
        obj = {
            'id': id,
            'unit': unit,
            'money': money,
            'currency': currency,
            'total': total
        }
        drawerObj.moneys.push(obj)
        $('#list-money tr:last').before(`<tr id="`+obj.id+`">
                                <td style="width: 35%;">`+obj.money+`</td>
                                <td style="width: 15%; text-align:center;">`+obj.currency+`</td>
                                <td style="width: 20%; text-align:center;">`+obj.unit+`</td>
                                <td style="width: 25%; text-align:center;">`+obj.total+`</td>
                                <td style="width: 5%;"><ion-icon name="close-outline" class="money-delete"></ion-icon></td>
                                </tr>`)
    })

    $(document).on('click', '.drawer-save', function() {
        var obj = JSON.stringify(drawerObj)
        $.ajax({
            url: '/drawer/create',
            type: 'POST',
            data: {
                data: obj
            },
            dataType: 'json',
            success: function(data) {
                if (data.data == 'Success') {
                    $('.drawer-btn, .drawer-time').addClass('active')
                    $('#drawerTime').html(data.startedOn)
                    $('#list-money').html(`<tr class="money-form color-text"></tr>`)
                    drawerObj.moneys.forEach(m => {
                        $('#list-money tr:last').before(`<tr class="color-font">
                            <td style="width: 35%;">`+m.money+`</td>
                            <td style="width: 15%; text-align:center;">`+m.currency+`</td>
                            <td style="width: 20%; text-align:center;">`+m.unit+`</td>
                            <td style="width: 25%; text-align:center;">`+m.total+`</td>
                            <td style="width: 5%;"></td>
                            </tr>`)
                        
                    })
                    toggleEdit($('.drawer-end'), $('.drawer-save'))
                    $('.drawer-end, .drawer-btn').attr('id', data.id)
                }
            }
        })
    })

    $(document).on('click', '.drawer-end', function() {
        var id = $(this).attr('id')
        $.ajax({
            url: '/drawer/end/'+id,
            type: 'POST',
            success: function(data) {
                if (data.data == 'Success') {
                    $('.drawer-btn, .drawer-time').removeClass('active')
                    $('#drawerTime').empty()
                    $('#list-money').html(`<tr class="money-form color-text"></tr>`)
                    drawerObj.moneys = []
                    toggleEdit($('.drawer-save'), $('.drawer-end'))
                    $('.drawer-btn').attr('id', 'none')
                }
            }
        })
    })

    $(document).on('click', '.remove-btn', function() {
        var id = $(this).closest('.transaction-item')
        $.ajax({
            url: '/transaction/delete/'+id.attr('id'),
            type: 'POST',
            success: function(data) {
                if (data.result == 'Success') {
                    $(id).fadeOut('slow', function() {
                        $(this).remove()
                    })
                } else {
                    alert(data.result)
                }
            }
        })
    })

</script>
{% endblock %}
