{% extends 'layout/layout.html' %}

{% block navbar %}
<ul class="menu-bar">
    <li class="menu-category">
        <a href="/category" class="ln-category">
            Category
        </a>
    </li>
    <li class="menu-brand">
        <a href="/brand" class="ln-product">
            Product
        </a>
    </li>
    <li class="menu-store">
        <a href="/store" class="ln-store">
            Store
        </a>
    </li>
    <li class="menu-admin">
        <a href="/admin" class="ln-user">
            User
        </a>
    </li>
    <li class="menu-role">
        <a href="/role" class="ln-role">
            Role
        </a>
    </li>
    <!-- <li class="menu-advertise">
        <a href="/advertise">
            Advertise
        </a>
    </li> -->
</ul>
{% endblock %}

{% block content %}
<div class="wrap-container grid-container">
    <div class="grid-item">
        <div class="item-header ln-category">
            Category
        </div>
        <div class="item-body" id="pie">
            <canvas id="pieChart"></canvas>
        </div>
    </div>
    <div class="grid-item">
        <div class="item-header ln-brand">
            Brand
        </div>
        <div class="item-body" id="doughnut">
            <canvas id="doughnutChart"></canvas>
        </div>
    </div>
    <div class="grid-item">
        <div class="item-header ln-store">
            Store
        </div>
        <div class="item-body" id="store">
            <canvas id="chartStore"></canvas>
        </div>
    </div>
    <div class="grid-item">
        <div class="item-header ln-user">
            User
        </div>
        <div class="item-body" id="user">
            <canvas id="chartUser"></canvas>
        </div>
    </div>
    <div class="grid-item">
        <div class="item-header ln-role">
            Role
        </div>
        <div class="item-body" id="role">
            <canvas id="chartRole"></canvas>
        </div>
    </div>
    <!-- <div class="grid-item">
        <div class="item-header">
            Advertise
        </div>
        <div class="item-body" id="advertise">
            <canvas id="chartAdvertise"></canvas>
        </div>
    </div> -->

</div>
{% endblock %}
{% block script %}
<script>
    $(document).ready(function () {
        $('#pie').parent().css({
            'grid-column': '1/3'
        })
        $.ajax({
            url: '/custome',
            method: 'POST',
            success: function (data) {
                var category = {
                    labels: [],
                    quantities: [],
                    colors: []
                }

                data.categories.forEach(c => {
                    category.labels.push(c.category)
                    category.quantities.push(c.products.length)
                    category.colors.push(hexToRgbA(generateColor()))

                })

                var brand = {
                    labels: [],
                    quantities: [],
                    colors: []
                }

                data.brands.forEach(b => {
                    brand.labels.push(b.brand)
                    brand.quantities.push(b.products.length)
                    brand.colors.push(hexToRgbA(generateColor()))

                })

                var floor = {
                    labels: [],
                    quantities: [],
                    colors: []
                }

                data.floors.forEach(b => {
                    floor.labels.push(b.floor)
                    floor.quantities.push(b.rooms.length)
                    floor.colors.push(hexToRgbA(generateColor()))

                })

                // var advertiseObj = {
                //     labels: ['Main', 'Side'],
                //     quantities: [data.advertises.Main, data.advertises.Side],
                //     colors: ['rgba(54, 162, 235, 0.5)', 'rgba(255, 206, 86, 0.5)']
                // }

                var userObj = {
                    labels: ['Confirm', 'Pending', 'Admin'],
                    quantities: [data.users.Confirm, data.users.Pending, data.users.Admin],
                    colors: ['rgba(54, 162, 235, 0.5)', 'rgba(255, 206, 86, 0.5)', 'rgba(92, 184, 92, 0.5)']
                }

                var roleObj = {
                    labels: [],
                    quantities: [],
                    colors: []
                }

                data.roles.forEach(r => {
                    roleObj.labels.push(r.label)
                    roleObj.quantities.push(r.data)
                    roleObj.colors.push(hexToRgbA(generateColor()))
                })

                var role = document.getElementById('role')
                var chartRole = document.getElementById('chartRole')

                var pie = document.getElementById('pie')
                var pieCanvas = document.getElementById('pieChart')

                var store = document.getElementById('store')
                var chartStore = document.getElementById('chartStore')

                var user = document.getElementById('user')
                var chartUser = document.getElementById('chartUser')

                var doughnut = document.getElementById('doughnut')
                var doughnutCanvas = document.getElementById('doughnutChart')

                // var advertise = document.getElementById('advertise')
                // var chartAdvertise = document.getElementById('chartAdvertise')

                // _Chart(advertise, chartAdvertise, 'pie', advertiseObj, '', '')
                _Chart(store, chartStore, 'pie', floor, 'Room: ', '')
                _Chart(role, chartRole, 'pie', roleObj, '', 'opt')
                _Chart(user, chartUser, 'pie', userObj, '', 'usr')
                _Chart(pie, pieCanvas, 'doughnut', category, 'Product: ', 'pcs')
                _Chart(doughnut, doughnutCanvas, 'pie', brand, 'Product: ', 'pcs')

            }
        })
    })


</script>
{% endblock %}