{% extends 'layout/layout.html' %}

{% block navbar %}
<ul class="menu-bar">
    <li class="menu-category">
        <a href="/category">
            Category
        </a>
    </li>
    <li class="menu-brand">
        <a href="/brand">
            Brand
        </a>
    </li>
    <li class="menu-stock">
        <a href="/stock">
            Stock
        </a>
    </li>
    <li class="menu-advertise">
        <a href="/advertise">
            Advertise
        </a>
    </li>
</ul>
{% endblock %}

{% block content %}
<div class="wrap-container grid-container">
    <div class="grid-item">
        <div class="item-header">
            Category
        </div>
        <div class="item-body" id="pie">
            <canvas id="pieChart"></canvas>
        </div>
    </div>
    <div class="grid-item">
        <div class="item-header">
            Brand
        </div>
        <div class="item-body" id="doughnut">
            <canvas id="doughnutChart"></canvas>
        </div>
    </div>
    <div class="grid-item">
        <div class="item-header">
            Product
        </div>
        <div class="item-body" id="product">
            <canvas id="productChart"></canvas>
        </div>
    </div>
    <div class="grid-item">
        <div class="item-header">
            Advertise
        </div>
        <div class="item-body">

        </div>
    </div>
</div>
{% endblock %}
{% block script %}
<script>
    function _Chart(div, canvas, type, data) {
        this.div = div
        this.canvas = canvas
        this.type = type
        this.data = data

        var canvas = this.canvas

        canvas.width = this.div.offsetWidth
        canvas.height = this.div.offsetHeight

        $(window).on('resize', function () {
            canvas.width = this.div.offsetWidth
            canvas.height = this.div.offsetHeight
        })
        var bgColor = $('.grid-item').css('background-color')
        var fontColor = $('.color-font').css('color')

        var ctxP = canvas.getContext('2d');
        var myPieChart = new Chart(ctxP, {
            type: this.type,
            data: {
                labels: this.data.labels,
                datasets: [{
                    data: this.data.quantities,
                    backgroundColor: this.data.colors
                }]
            },
            options: {
                responsive: true,
                elements: {
                    arc: {
                        borderColor: bgColor
                    }
                },
                legend: {
                    display: true,
                    labels: {
                        fontColor: fontColor,
                        padding: 30
                    },
                    position: 'left'
                },
            }
        });
    }
    function generateColor() {
        var letters = '456789AB';
        var color = '#';
        for (var i = 0; i < 6; i++) {
            color += letters[Math.floor(Math.random() * 8)];
        }
        return color;
    }
    $(document).ready(function () {
        $.ajax({
            url: '/custome',
            method: 'POST',
            success: function (data) {
                var category = {
                    labels: [],
                    quantities: [],
                    colors: []
                }

                data.categories.forEach(c => {
                    category.labels.push(c.category)
                    category.quantities.push(c.products.length)
                    category.colors.push(generateColor())

                });

                var brand = {
                    labels: [],
                    quantities: [],
                    colors: []
                }

                data.brands.forEach(b => {
                    brand.labels.push(b.brand)
                    brand.quantities.push(b.products.length)
                    brand.colors.push(generateColor())

                });


                var pie = document.getElementById('pie')
                var pieCanvas = document.getElementById('pieChart')

                var doughnut = document.getElementById('doughnut')
                var doughnutCanvas = document.getElementById('doughnutChart')


                _Chart(pie, pieCanvas, 'doughnut', category)
                _Chart(doughnut, doughnutCanvas, 'pie', brand)
            }
        })
    })


</script>
{% endblock %}