{% extends 'layout/layout.html' %}

{% block navbar %}
<ul class="menu-bar">
    <li>
        <a href="/category">
            Category
        </a>
    </li>
    <li>
        <a href="">
            Brand
        </a>
    </li>
    <li>
        <a href="">
            Product
        </a>
    </li>
    <li>
        <a href="">
            Advertise
        </a>
    </li>
</ul>
{% endblock %}

{% block content %}
<div class="wrap-container grid-container">
    <div class="grid-item">
        <div class="item-header">
            Category
        </div>
        <div class="item-body" id="pie">
            <canvas id="pieChart"></canvas>
        </div>
    </div>
    <div class="grid-item">
        <div class="item-header">
            Brand
        </div>
        <div class="item-body">

        </div>
    </div>
    <div class="grid-item">
        <div class="item-header">
            Product
        </div>
        <div class="item-body">

        </div>
    </div>
    <div class="grid-item">
        <div class="item-header">
            Advertise
        </div>
        <div class="item-body">

        </div>
    </div>
</div>
{% endblock %}
{% block script %}
<script>
    var pie = $('#pie')

    var canvase = document.getElementById("pieChart")

    canvase.width = pie.width()
    canvase.height = pie.height()

    $(window).on('resize', function () {
        canvase.width = pie.clientWidth
        canvase.height = pie.clientHeight
    })
    var bgColor = $('body').css('background-color')
    var fontColor = $('.color-font').css('color')

    console.log(fontColor)

    var ctxP = canvase.getContext('2d');
    var myPieChart = new Chart(ctxP, {
        type: 'pie',
        data: {
            labels: ["Laptop", "Phone", "Watch", "Keyboard", "Mouse", "Headset", "Mousepad"],
            datasets: [{
                data: [30, 50, 100, 40, 120, 40, 70],
                backgroundColor: ["#F7464A", "#46BFBD", "#FDB45C", "#949FB1", "#4D5360", "#ff22ff", "#994499"]
            }]
        },
        options: {
            responsive: true,
            elements: {
                arc: {
                    borderColor: bgColor
                }
            },
            legend: {
                display: true,
                labels: {
                    fontColor: fontColor,
                    padding: 30
                },
                position: 'left'
            }
        }
    });

</script>
{% endblock %}