{% extends 'layout/layout.html' %}

{% block navbar %}
<ul class="menu-bar">
    <li class="menu-cashing">
        <a href="/cashing" class="cashing">
            Cashing
        </a>
    </li>
    <li class="menu-order">
        <a href="/order" class="order">
            Order
        </a>
    </li>
    <li class="menu-stock">
        <a href="/stock" class="stock">
            Stock
        </a>
    </li>
    <li class="menu-expense">
        <a href="/expense" class="expense">
            Expense
        </a>
    </li>
    <li class="menu-transaction">
        <a href="/transaction" class="transaction">
            Transaction
        </a>
    </li>
</ul>
{% endblock %}

{% block content %}
<div class="wrap-container grid-container">
    <div class="grid-item">
        <div class="item-header">
            Cashing
        </div>
        <div class="item-body" id="pieCashing">
            <canvas id="chartCashing"></canvas>
        </div>
    </div>
    <div class="grid-item">
        <div class="item-header">
            Transaction
        </div>
        <div class="item-body" id="pieTransaction">
            <canvas id="chartTransaction"></canvas>
        </div>
    </div>
</div>
<div class="authentication {{ authentication }}"></div>
{% endblock %}
{% block script %}
<script>
    $(document).ready(function() {
        if ($('.authentication').hasClass('require')) {
            $('#loginModal').modal('show')
        }

        $.ajax({
            url: '/financial',
            method: 'POST',
            success: function (data) {
                var transaction = {
                    labels: ['Completed', 'Pending'],
                    quantities: [data.transactionObj.complete.length, data.transactionObj.pending.length],
                    colors: ['rgba(54, 162, 235, 0.5)', 'rgba(255, 206, 86, 0.5)']
                }

                var payment = {
                    labels: ['Completed', 'Cancelled'],
                    quantities: [data.paymentObj.complete.length, data.paymentObj.pending.length],
                    colors: ['rgba(54, 162, 235, 0.5)', 'rgba(255, 206, 86, 0.5)']
                }


                var pieCashing = document.getElementById('pieCashing')
                var chartCashing = document.getElementById('chartCashing')

                var pieTransaction = document.getElementById('pieTransaction')
                var chartTransaction = document.getElementById('chartTransaction')

                _Chart(pieCashing, chartCashing, 'doughnut', payment)
                _Chart(pieTransaction, chartTransaction, 'doughnut', transaction)
            }
        })
    })
</script>
{% endblock %}