{% extends 'layout/layout.html' %}

{% block style %}
<style>
</style>
{% endblock %}

{% block navbar %}
<ul class="menu-bar">
    <li class="menu-cashing">
        <a href="/cashing" class="cashing">
            
        </a>
    </li>
    <li class="menu-order">
        <a href="/order" class="order">
            
        </a>
    </li>
    <li class="menu-stock">
        <a href="/stock" class="stock">
            
        </a>
    </li>
    <li class="menu-expense">
        <a href="/expense" class="expense">
            
        </a>
    </li>
    <li class="menu-transaction">
        <a href="/transaction" class="transaction">
            
        </a>
    </li>
</ul>
{% endblock %}

{% block content %}
<div class="wrap-container grid-container">
    <div class="grid-item">
        <div class="item-header cashing">
            
        </div>
        <div class="item-body" id="pieCashing">
            <canvas id="chartCashing"></canvas>
        </div>
    </div>
    <div class="grid-item">
        <div class="item-header transaction">
            
        </div>
        <div class="item-body" id="pieTransaction">
            <canvas id="chartTransaction"></canvas>
        </div>
    </div>
    <div class="grid-item">
        <div class="item-header order">
            
        </div>
        <div class="item-body" id="pieOrder">
            <canvas id="chartOrder"></canvas>
        </div>
    </div>
    <div class="grid-item">
        <div class="item-header expense">
            
        </div>
        <div class="item-body" id="pieExpense">
            <canvas id="chartExpense"></canvas>
        </div>
    </div>
    <div class="grid-item">
        <div class="item-header stock">
            
        </div>
        <div class="item-body" id="pieStock">
            <canvas id="chartStock"></canvas>
        </div>
    </div>
</div>
<div class="authentication {{ authentication }}"></div>
{% endblock %}
{% block script %}
<script>
    $(document).ready(function() {
        if ($('.authentication').hasClass('require')) {
            $('#loginModal').modal('show')
        }

        $('#pieStock').parent().css({
            'grid-column': '1/3'
        })

        $.ajax({
            url: '/financial',
            method: 'POST',
            success: function (data) {
                var transaction = {
                    labels: ['Completed', 'Pending'],
                    quantities: [data.transactionObj.complete.length, data.transactionObj.pending.length],
                    colors: ['rgba(54, 162, 235, 0.5)', 'rgba(255, 206, 86, 0.5)']
                }

                var expense = {
                    labels: ['Stock', 'Utility'],
                    quantities: [data.expenseObj.stock, data.expenseObj.utility],
                    colors: ['rgba(217, 83, 79, 0.5)', 'rgba(255, 206, 86, 0.5)']
                }

                var payment = {
                    labels: ['Total', 'Canceled'],
                    quantities: [data.paymentObj.complete, data.paymentObj.pending],
                    colors: ['rgba(54, 162, 235, 0.5)', 'rgba(255, 206, 86, 0.5)']
                }

                var order = {
                    labels: ['Completed', 'In Process', 'Booking'],
                    quantities: [data.orderObj.complete.length, data.orderObj.process.length, data.orderObj.pending.length],
                    colors: ['rgba(54, 162, 235, 0.5)', 'rgba(92, 184, 92, 0.5)', 'rgba(255, 206, 86, 0.5)']
                }

                var stock = {
                    labels: [],
                    quantities: [],
                    colors: []
                }

                data.stockArr.forEach(data => {
                    stock.labels.push(data.label)
                    stock.quantities.push(data.data)
                    stock.colors.push(hexToRgbA(generateColor()))
                });

                var pieCashing = document.getElementById('pieCashing')
                var chartCashing = document.getElementById('chartCashing')

                var pieTransaction = document.getElementById('pieTransaction')
                var chartTransaction = document.getElementById('chartTransaction')

                var pieOrder = document.getElementById('pieOrder')
                var chartOrder = document.getElementById('chartOrder')

                var pieExpense = document.getElementById('pieExpense')
                var chartExpense = document.getElementById('chartExpense')

                var pieStock = document.getElementById('pieStock')
                var chartStock = document.getElementById('chartStock')

                _Chart(pieCashing, chartCashing, 'doughnut', payment, 'Today: ', '$')
                _Chart(pieTransaction, chartTransaction, 'doughnut', transaction, 'Today: ', '')
                _Chart(pieOrder, chartOrder, 'doughnut', order, 'Today: ', '')
                _Chart(pieExpense, chartExpense, 'doughnut', expense, 'Today: ', '$')
                _Chart(pieStock, chartStock, 'doughnut', stock, 'In Stock: ', 'pcs')
            }
        })
    })
</script>
{% endblock %}