{% extends 'layout/layout.html' %}

{% block content %}
<div class="wrap-container">
    <div class="row-wrapper">
        <div class="column-wrapper" style="width: 750px;">
            <h3 class="color-font details-title" id="{{ product.id }}">{{ product.product }}</h3>
            <div class="flex-start">
                {% if product.currency == 'dollar' %}
                <p>$</p>
                {% else %}
                <p>R</p>
                {% endif %}
                <p>{{ product.price }}</p>
            </div>

            <div class="item-img">
                <img src="/static/uploads/{{ product.photo }}">
            </div>
            {% if product.colors %}
            <div class="details-colors">
                {% for color in product.colors %}
                <span style="background-color: {{ color.hex }}"></span>
                {% endfor %}
            </div>
            {% endif %}
        </div>
        <div class="column-wrapper" style="width: 100%;">
            <div class="list-properties">
                {% for property in product.productOfCategory.properties %}
                <div class="flex-between mt-3" style="width: 100%;">
                    <h5 class="color-font sub-content mb-2"><i class="fa fa-caret-right right" aria-hidden="true"></i>{{ property.property }}</h5>
                    <button class="btn border color-font btn-slim add-value" id="{{ property.id }}" data-toggle="modal" data-target="#addValue"><p class="plus">+</p></button>
                </div>
                <div class="property-values">
                    {% if product.values %}
                        {% for value in product.values %}
                            {% if value.propertyId == property.id %}
                            <div class="value">
                                <p>{{ value.value }}</p>
                                <p>{{ value.price }}</p>
                                <p>{{ value.currency }}</p>
                                <p>{{ value.description }}</p>
                            </div>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="addValue" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Your cart</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="input-group">
                    <label for="property-name">Name</label>
                    <input type="text" name="property-name" id="property-name">
                </div>
                <div class="input-group">
                    <label for="property-price">Price</label>
                    <input type="number" name="property-price" id="property-price" value="0.00">
                </div>
                <div class="input-group">
                    <label for="property-currency">Currency</label>
                    <select id="property-currency" name="property-currency">
                        <option value="dollar">$</option>
                        <option value="riel">R</option>
                    </select>
                </div>
                <div class="input-group">
                    <label for="property-description">Description</label>
                    <input type="text" id="property-description" name="property-description">
                </div>
                
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary save-btn">Save</button>
            </div>
        </div>
    </div>
</div>


{% endblock %}

{% block script %}
<script>

</script>
{% endblock %}