{% extends 'views/custome.html' %}

{% block style %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@simonwep/pickr/dist/themes/classic.min.css" />
{% endblock %}

{% block content %}
<div class="wrap-container">
    <div class="row-wrapper">
        <div class="column-wrapper" style="width: 350px; box-sizing: border-box; overflow: hidden;">
            <div id="brand-nav">
                <div class="flex-between-end">
                    <h5 class="color-font">Brands</h5>
                    <button class="btn border color-font btn-slim" id="add-brand">
                        <p class="plus">+</p>
                    </button>
                </div>
                <hr class="mt-2">
                <div class="item-container" style="height: 70vh;">
                    {% if brands %}
                    {% for brand in brands %}
                    <div class="flex-between item color-font" id="{{ brand.id }}">
                        <p class="edit-content notranslate" contenteditable="true">{{ brand.brand }}</p>
                        <p class="btn-clear notranslate" onclick="return removeBrand(this)">+</p>
                        <p class="checkmark notranslate hide">L</p>
                    </div>
                    {% endfor %}
                    {% endif %}
                    <form action="/brand" method="post" class="form" id="brand-form">
                        {{ form.csrf_token }}
                        <div class="form-group m-0" id="brd">
                            {{ form.brand(class='form-control input-color', placeholder='Brand', autocomplete='off') }}
                        </div>
                        <div class="form-group m-0">
                            {{ form.description(class='form-control input-color', placeholder='Description') }}
                        </div>
                        <div class="form-group flex-end m-0">
                            {{form.submit(class='btn border btn-shadow color-font')}}
                        </div>
                    </form>
                </div>
            </div>
            <div id="product-nav" class="hide">

            </div>
        </div>
        <div class="border-right"></div>
        <div class="column-wrapper" style="width: 100%; box-sizing: border-box; overflow: hidden;">
            <div class="content-header"></div>
            <div class="content-body">
                <div class="inset-shadow hide"></div>
                <div class="grid-products">

                </div>
                <div class="loader hide">
                    <div class="loading"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="addValue" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document" style="width: 370px;">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title color-font" id="myModalLabel">Your cart</h4>
            </div>
            <div class="modal-body">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn color-font" data-dismiss="modal">Cancel</button>
                <button class="btn border save-btn color-font">Save</button>
                <button class="hide btn border edit-btn color-font">Edit</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
<script src="https://cdn.jsdelivr.net/npm/@simonwep/pickr/dist/pickr.min.js"></script>
<script>
    $(document).on('focus', '#discount', function() {
        $('.percentage').removeClass('hide')
    })

    $(document).on('focusout', '#discount', function() {
        if ($(this).val() == '') {
            $('.percentage').addClass('hide')
        }
    })

    $(document).on('click', '.pcr-delete', function () {
        var id = $(this).attr('id')
        if (confirm('Are you sure you want to delete this color?')) {
            $.ajax({
                url: 'color/remove/' + id,
                type: 'POST',
                success: function (data) {
                    if (data['result'] == 'Success') {
                        $('#color option:selected').remove()
                        $("#color").val($("#color option:first").val());
                        $('.edit-color').css('background-color', 'var(--color-bg)')
                        $('#pickr-edit').remove()
                        $('.details-colors').find('#' + id).parent().fadeOut(300, function () {
                            $(this).remove()
                        })
                        $('.details-img').html(showColorPhotos(data.photos, 'no-photo'))
                        $('#color-img').html(showColorPhotos(data.photos, 'no-photo'))
                        $('.upload-label').addClass('disabled')
                        $('#photo').attr('disabled', true)
                    }
                }
            })
        }
    })

    $(document).on('click', '.span-color', function () {
        var self = $(this)
        var id = self.attr('id')
        self.bind('click', function () {
            return false;
        });
        
        Array.from($('.details-colors').children()).forEach(color => {
            $(color).removeClass('active')
        })
        self.parent().addClass('active')
        $.ajax({
            url: '/color/' + id,
            type: 'POST',
            success: function (data) {
                $('.details-img').html(showColorPhotos(data.photos, 'color-photo'))
                gsap.from('.details-img', {
                    opacity: 0,
                    duration: 0.8,
                    onComplete: function() {
                        self.unbind('click')
                    }
                })
            }
        })
    })

    $('.grid-products').on('click', '.edit-value', function () {
        var label = $(this).parent().parent()
        var id = $(label).attr('id')

        var name = $(label).find('#value-value').text()
        var price = $(label).find('#value-price').text()
        var currency = $(label).find('#value-currency').text()
        var description = $(label).find('#value-description').text()

        if (currency == '$') {
            currency = 'dollar'
        } else {
            currency = 'riel'
        }
        $('#addValue').modal('show')
        $('.edit-btn').attr('id', id)
        toggleEdit($('.edit-btn'), $('.save-btn'))
        $('.modal-body').html(valueForm(name, price, currency, description))
        return false
    })

    $('.edit-btn').on('click', function () {
        var id = $(this).attr('id')
        var value = $('#property-name').val()
        var price = $('#property-price').val()
        var currency = $('#property-currency').val()
        var description = $('#property-description').val()

        if (value == '') {
            $('#property-name').focus()
        } else {
            $.ajax({
                url: '/value/save/' + id,
                type: 'POST',
                data: { value: value, price: price, currency: currency, description: description },
                success: function (data) {
                    $('#addValue').modal('hide')
                    if (data.currency == 'riel') {
                        data.currency = 'R'
                    } else {
                        data.currency = '$'
                    }
                    $('label#' + id).find('#value-value').text(data.value)
                    $('label#' + id).find('#value-price').text(data.price)
                    $('label#' + id).find('#value-currency').text(data.currency)
                    $('label#' + id).find('#value-description').text(data.description)
                }
            })
        }
    })

    $('.grid-products').on('click', '.delete-value', function () {
        if (confirm('Are you sure you want to delete this value?')) {
            var id = $(this).parent().parent().attr('id')
            $.ajax({
                url: '/value/remove/' + id,
                type: 'POST',
                success: function (data) {
                    $('label#' + id).fadeOut(300, function () {
                        $(this).remove()
                    })
                }
            })
        }
        return false
    })

    $(document).on('click', '.save-product', function () {
        var id = $(this).attr('id')
        var product = $('#product').val()
        var barcode = $('#barcode').val()
        var isStock = $('#is-stock')
        var price = $('#price').val()
        var currency = $('#currency').val()
        var discount = $('#discount').val()
        var period = $('#period').val()
        var description = $('#details').val()
        var category = $('#category').val()

        if ($(isStock).prop('checked') == true) {
            isStock = true
        } else {
            isStock = false
        }
        
        if (category != null) {
            if (product == '') {
                $('#product').focus()
            } else if (price == '') {
                $('#price').focus()
            } else {
                $.ajax({
                    url: '/product/save/' + id,
                    type: 'POST',
                    data: { product: product, barcode: barcode, price: price, discount: discount, period: period, currency: currency, description: description, category: category, isStock: isStock },
                    success: function (data) {
                        alert('Done')
                    }
                })
            }
        }
    })

    $('.grid-products').on('click', '.delete-product', function () {
        event.preventDefault()
        var id = $(this).closest('.product-item').attr('id')
        if (confirm('Are you sure you want to delete this product?')) {
            $.ajax({
                url: '/product/remove/' + id,
                type: 'POST',
                success: function (data) {
                    $('.grid-products').find('#' + id).fadeOut(500, function () {
                        $(this).remove()
                    })
                }
            })
        }
        return false
    })

    $('.grid-products').on('click', '.edit-product', function () {
        event.preventDefault()
        var id = $(this).closest('.product-item').attr('id')

        $('.add-product').attr("disabled", true)
        $('.add-product p').addClass('clear')

        $.ajax({
            url: '/product/' + id,
            method: 'POST',
            success: function (data) {
                var photo = 'static/uploads/' + data.photo
                data.values.sort(dynamicSort('price'))
                $('.grid-products').html(showProductDetails({
                    image: photo,
                    colors: data.colors,
                    product: data.product,
                    category: data.category.category,
                    description: data.description,
                    currency: data.currency,
                    price: data.price,
                    properties: data.category.properties,
                    values: data.values,
                    id: data.id
                }))

                gsap.from('.details-title, #details-category, .details-colors, .details-details, .details-appearance, .details-property, .details-img', {
                    opacity: 0,
                    duration: 1,
                    delay: 0.3
                })
                gsap.from('.description-container span, .description-container p', {
                    opacity: 0,
                    x: 70,
                    duration: 0.7,
                    delay: 0.2,
                    stagger: 0.1
                })

                gsap.to('#brand-nav', {
                    x: '-100%',
                    duration: 0.2,
                    onComplete: function () {
                        $('.add-product').attr("disabled", false)
                        toggleEdit($('#product-nav'), $('#brand-nav'))
                        $('#product-nav').html(showProductForm({
                            category: data.productOfCategory,
                            product: data.product,
                            barcode: data.barcode,
                            stock: data.isStock,
                            price: data.price,
                            discount: data.discount,
                            period: data.period,
                            description: data.description,
                            colors: data.colors,
                            image: photo
                        }))

                        var options = $('#category').children()

                        Array.from(options).forEach(option => {
                            if (data.productOfCategory == $(option).val()) {
                                $(option).prop('selected', true)
                            }
                        })

                        $('.pickr').attr('id', id)

                        $('.product-image').removeClass('hide')

                        toggleEdit($('.save-product'), $('.submit-product'))
                        $('.save-product').attr('id', data['id'])

                        uploadColor('.pickr', 'color-name')
                        $('#brand-id').val(data.productOfBrand)

                        gsap.to('#product-nav', {
                            x: 0
                        })
                    }
                })
            }
        })
        return false
    })

    $(document).on('change', '#color', function () {
        $('#color-img').html(`<div class="image-item">
                                <img src="/static/uploads/default.png" id="image-src">
                            </div>`)
        var id = $('#color option:selected').attr('id')
        var color = $('#color option:selected').text()
        var loader = $('#color-img').closest('.upload-container').find('.bubbling')
        if ($('#color').val() != '') {
            toggleLoader(loader)
            $('#photo').attr('disabled', false)
            $('.upload-label').removeClass('disabled')
            $('.selected-color').html(color)
            $('.edit-color').css('background-color', $('#color').val())
            $('.edit-color').attr('id', id)
            $.ajax({
                url: '/color/' + id,
                type: 'POST',
                success: function (data) {
                    setTimeout(function () {
                        $('#color-img').html(showColorPhotos(data.photos, 'color-images'))
                        $('.pcr-app').each((i, obj) => {
                            if ($(obj).attr('id') == 'pickr-edit') {
                                $(obj).remove()
                            }
                        })
                        const pickr = Pickr.create({
                            el: '.edit-color',
                            theme: 'classic', // or 'monolith', or 'nano'
                            defaultRepresentation: 'HEX',
                            default: data.hex,
                            useAsButton: true,
                            components: {
                                // Main components
                                preview: true,
                                opacity: true,
                                hue: true,

                                // Input / output Options
                                interaction: {
                                    hex: false,
                                    rgba: false,
                                    hsla: false,
                                    hsva: false,
                                    cmyk: false,
                                    input: true,
                                    clear: false,
                                    save: true
                                }
                            }
                        })

                        $('.pcr-app').each((i, obj) => {
                            if ($(obj).attr('id') != 'pickr-add') {
                                $(obj).attr('id', 'pickr-edit')
                                $(obj).find('.pcr-interaction').attr('id', 'pcr-save-btn')
                            }
                        })


                        $('#pcr-save-btn').prepend('<input value="' + data.color + '" type="text" class="pcr-name" id="edit-name" placeholder="Name" style="width: 36%; text-align: left">')
                        $('#pcr-save-btn').append('<input value="Delete" type="button" class="pcr-delete ml-1" id="' + data.id + '">')

                        pickr.on('save', (color, instance) => {
                            $('.pcr-save').attr('disabled', true)
                            const hex = color.toHEXA().toString()
                            const name = $('#edit-name').val()

                            if (name != '') {
                                $.ajax({
                                    url: '/color/save/' + id,
                                    type: 'post',
                                    data: { 'hex': hex, 'color': name },
                                    success: function (res) {
                                        $('#color option:selected').attr('value', res.hex)
                                        $('#color option:selected').text(res.color)
                                        $('.pcr-save').attr('disabled', false)
                                        $('.details-colors').find('#' + data.id).css('background-color', res.hex)
                                        $('.details-colors').find('#' + data.id).attr('title', res.color)
                                        $('.edit-color').css('background-color', res.hex)
                                        $('#edit-name').val(res.color)
                                        pickr.hide()
                                    }
                                })
                            } else {
                                $('#edit-name').focus()
                                $('.pcr-save').attr('disabled', false)
                            }
                        })
                        toggleLoader(loader)
                    }, 500)
                }
            })
        } else {
            $('#photo').attr('disabled', true)
            $('.upload-label').addClass('disabled')
            $('.selected-color').html(color)
        }
    })

    $(document).on('change', '#photo', function () {
        var photos = document.querySelector('#photo').files
        /*color change*/
        var color = $('#color option:selected').attr('id')
        var name = $('#product').val()
        var product = document.querySelector('.pickr').id
        uploadPhoto(photos, color, product, this, '/color/photo')
    })

    $(document).on('change', '#product-photo', function () {
        var photo = document.querySelector('#product-photo').files
        var name = $('#product').val()
        var product = document.querySelector('.save-product').id
        uploadPhoto(photo, '', product, this, '/product/photo')
    })

    $(document).on('click', '.submit-product', function () {
        event.preventDefault();
        var brand = $('#brand-id').val()
        var product = $('#product').val()
        var barcode = $('#barcode').val()
        var isStock = $('#is-stock')
        var price = $('#price').val()
        var currency = $('#currency').val()
        var discount = $('#discount').val()
        var period = $('#period').val()
        var description = $('#details').val()
        var category = $('#category').val()

        if ($(isStock).prop('checked') == true) {
            isStock = true
        } else {
            isStock = false
        }
        
        if (category != null) {
            if (product == '') {
                $('#product').focus()
            } else if (price == '') {
                $('#price').focus()
            } else {
                $.ajax({
                    url: '/product/add',
                    type: 'POST',
                    data: {brand: brand, product: product, barcode: barcode, price: price, discount: discount, period: period, currency: currency, description: description, category: category, isStock: isStock },
                    success: function (data) {
                        $('.product-image').removeClass('hide')
                        toggleEdit($('.save-product'), $('.submit-product'))
                        $('.save-product').attr('id', data['id'])
                        $('.pickr').attr('id', data['id'])
                        $('.details-title').attr('id', data['id'])
                        var values = document.querySelectorAll('.btn-value')
                        Array.from(values).forEach(value => {
                            $(value).attr('disabled', false)
                            $(value).removeClass('disabled')
                        })
                    }
                })
            }
        } else {
            alert('No category selected')
        }
    })

    $('.grid-products').on('scroll', function () {
        if ($('.grid-products').scrollTop()) {
            $('.inset-shadow').removeClass('hide');
        } else {
            $('.inset-shadow').addClass('hide');
        }
    })

    $('#product-nav').on('input', '#product', function () {
        var product = $(this).val()
        if (product == '') {
            $('.details-title').text('Product Name')
        } else {
            $('.details-title').text(product)
        }
    })

    $('#product-nav').on('input', '#price', function () {
        var price = $(this).val()
        $('.details-price').text(price)
    })

    $('#product-nav').on('input', '#details', function () {
        var description = $(this).val()
        $('#details-description').text(description)
    })

    $('#product-nav').on('change', '#category', function () {
        var category = $('#category option:selected').text()
        id = $(this).val()
        product = $('.details-title').attr('id')
        $('#details-category').text(category)
        gsap.from('#details-category', {
            opacity: 0,
            duration: 0.7
        })
        $.ajax({
            url: '/property/' + id,
            type: 'POST',
            data: { product: product },
            success: function (data) {
                var properties = ''
                var element = ''
                if (product != '') {
                    element = '<button class="btn border btn-value color-font"><p class="plus">+</p></button>'
                } else {
                    element = '<button class="btn border btn-value color-font disabled" disabled><p class="plus">+</p></button>'
                }
                if (data.property.properties.length) {
                    data.property.properties.forEach((property, i) => {
                        var value_element = ''
                        if (data.product != '') {
                            if (data.product.values.length > 0) {
                                data.product.values.forEach(value => {
                                    if (value.currency == 'riel') {
                                        value.currency = 'R'
                                    } else {
                                        value.currency = '$'
                                    }
                                    if (value.property == property.id) {
                                        value_element += `<label class="value container-input" id="` + value
                                            .id + `">
                                                        <div class="product-btn color-text">
                                                            <i class="fa fa-pencil-square-o edit-value" aria-hidden="true"></i>
                                                            <i class="fa fa-trash-o delete-value" aria-hidden="true"></i>
                                                        </div>
                                                        <div class="flex-between-start">
                                                            <div class="flex-column-start-start">
                                                                <h5 class="color-font" id="value-value">` + value.value +
                                            `</h5>
                                                                <p style="font-size: 11px" class="color-text" id="value-description">` + value.description + `</p>
                                                            </div>
                                                        </div>
                                                        <div class="flex-end" style="font-size: 18px">
                                                            <p class="color-text" id="value-currency">` + value.currency + `</p>
                                                            <p class="color-text" id="value-price">` + value.price + `</p>
                                                        </div>
                                                        <input type="radio" name="` + property.id + `">
                                                        <span class="checkbox"></span>
                                                    </label>`
                                    }
                                })
                            }
                        }
                        properties += `<div class="flex-column-start-start mt-4">
                                        <h5 class="color-font mb-3 property-title"><i class="fa fa-caret-right right" aria-hidden="true"></i>` +
                            property.property + `</h5>
                                        <button class="hide btn border color-font btn-slim add-value" id="` +
                            property.id + `" data-toggle="modal" data-target="#addValue"><p class="plus">+</p></button>
                                    </div>
                                    <div class="property-values property-` + property.id + `">
                                        ` + element + value_element + `
                                    </div>`
                    })
                }

                $('.details-property').html(properties)
                gsap.from('.property-title', {
                    opacity: 0,
                    duration: 0.5
                })
                gsap.from('.value, .btn-value', {
                    opacity: 0,
                    scale: 0.7
                })
            }
        })
    })

    $('#product-nav').on('change', '#currency', function () {
        var currency = $('#currency').val()
        if (currency == 'riel') {
            $('.details-symbol').html('R')
        } else {
            $('.details-symbol').html('$')
        }
    })

    $('.content-header').on('click', '.add-product', function () {
        $('.add-product').attr("disabled", true)
        var id = $(this).attr('id')
        var product = $('#product-nav')
        var brand = $('#brand-nav')
        var loader = $('.loader')
        var list = $('.grid-products')
        var details = $('.details')
        var icon = $('#add-product')

        if (product.hasClass('hide')) {
            $('.add-product p').addClass('clear')

            gsap.to('#brand-nav', {
                x: '-100%',
                duration: 0.2,
                onComplete: function () {
                    $('.add-product').attr("disabled", false)
                    toggleEdit(product, brand)

                    $('#product-nav').html(showProductForm({
                        category: "Select category",
                        product: "",
                        barcode: "",
                        stock: true,
                        price: "",
                        discount: "",
                        period: "",
                        description: "",
                        colors: "",
                        image: '/static/uploads/default.png'
                    }))

                    uploadColor('.pickr', 'color-name')

                    $('#brand-id').val(id)
                    gsap.to('#product-nav', {
                        x: 0,
                        onComplete: function () {

                        }
                    })

                    $('.grid-products').html(showProductDetails({
                        image: 'static/svg/camera-{{current_user.theme}}.svg',
                        colors: "",
                        product: "Product Name",
                        category: "category",
                        description: "description",
                        currency: "$",
                        price: "0.00",
                        properties: "",
                        values: "",
                        id: ""
                    }))

                    gsap.from('.details-title, #details-category, .details-details, .details-appearance, .details-property, .details-img', {
                        opacity: 0,
                        duration: 1,
                        delay: 0.3
                    })
                    gsap.from('.description-container span, .description-container p', {
                        opacity: 0,
                        x: 70,
                        duration: 0.7,
                        delay: 0.2,
                        stagger: 0.1
                    })
                }
            })

        } else {
            $('.add-product p').removeClass('clear')
            toggleLoader(loader)
            $('.grid-products').empty()
            if ($('.content-body').has('.product-details')) {
                $('.product-details').remove()
            }
            $.ajax({
                url: '/product',
                type: 'post',
                data: {
                    data: id
                },
                success: function (results) {
                    setTimeout(function () {
                        toggleLoader(loader)
                    }, 300)
                    results.forEach(data => {
                        showProduct($('.grid-products'), data.id, data.product, data
                            .category, data.photo, data.price, data.arrival, data.discount)

                    });

                    currencyFormat('$', 0, false)

                    gsap.to('#product-nav', {
                        x: '100%',
                        duration: 0.2,
                        onComplete: function () {
                            $('.add-product').attr("disabled", false)
                            toggleEdit(brand, product)
                            gsap.to('#brand-nav', {
                                x: 0
                            })
                            gsap.from('.grid-products', {
                                opacity: 0
                            })
                        }
                    })
                }
            })

        }
    })

    $('#add-brand').on('click', function () {
        var form = $('.form').toggleClass('display')
        if (form.hasClass('display')) {
            $('#add-brand p').addClass('clear')
        } else {
            $('#add-brand p').removeClass('clear')
        }
        $('#brand').focus()
        document.querySelector('#submit').scrollIntoView({
            behavior: 'smooth'
        })

        gsap.from('.form', {
            y: -50,
            opacity: 0
        })
    })
    $(document).on('submit', '#brand-form', function () {
        $.ajax({
            url: $(this).attr('action'),
            type: $(this).attr('method'),
            dataType: 'json',
            data: $(this).serialize(),
            success: function (data) {
                if (data['redirect'] == '/brand') {
                    var element = `<div class="flex-between item color-font" id="` + data['id'] + `">
                        <p class="notranslate edit-content" contenteditable="true">` + data['name'] + `</p>
                        <p class="notranslate btn-clear" onclick="return removeBrand(this)">+</p>
                        <p class="notranslate checkmark hide">L</p>
                    </div>`
                    $('.item-container .form').before(element)
                    $('#brand').val('')
                    $('#description').val('')
                }
                if (data['brand'].length > 0) {
                    for (let index = 0; index < data['brand'].length; index++) {
                        const element = data['brand'][index];
                        $('#brand').addClass('invalid')
                        $('#brd').append('<div title="' + element +
                            '" class="errors-msg" id="err-brd"><i class="fa fa-exclamation" aria-hidden="true"></i></div>'
                        )
                    }
                    gsap.from('#err-brd', {
                        opacity: 0,
                        scale: 0.5,
                        duration: 1,
                        ease: 'elastic.out'
                    })
                } else {
                    $('#brand').removeClass('invalid')
                    $('#err-brd').remove()
                }
            }
        });
        return false;
    })
    $('.item-container').on('click', '.item', function (e) {
        var id = $(this).attr('id')

        var containers = $('.item-container').children()

        Array.from(containers).forEach(item => {
            $(item).removeClass('is-selected')
        });
        $(this).addClass('is-selected')
    })
    $(document).on('click', '.edit-content', function () {
        var id = $(this).parent().attr('id')

        var old_content = $(this).parent().find('.edit-content').text()

        clear = $('#' + id).find('.btn-clear')
        check = $('#' + id).find('.checkmark')

        toggleEdit($(check), $(clear))

        var isContented = false

        $(check).on('mousedown', function () {
            var new_content = $(this).parent().find('.edit-content').text()
            isContented = true
            if (new_content != '') {
                $.ajax({
                    url: '/brand/update/' + id,
                    method: 'POST',
                    data: {
                        data: new_content
                    },
                    success: function (data) {
                        $('#' + id).find('.edit-content').text(new_content)
                        toggleEdit($(clear), $(check))
                    }
                })
            } else {
                alert('Please fill the text')
                $('#' + id).find('.edit-content').text(old_content)
            }
        })

        $(this).on('focusout', function () {
            if (!isContented) {
                $('#' + id).find('.edit-content').text(old_content)
            }
            toggleEdit($(clear), $(check))

        })
        event.stopPropagation()
    })

    function removeBrand(arg) {
        event.stopPropagation()
        var id = $(arg).parent().attr('id')
        if (confirm('Brand may contain many products and properties! Are you sure you want to delete it?')) {
            $.ajax({
                url: '/brand/remove/' + id,
                method: 'POST',
                success: function (data) {
                    if (data['msg'] == 'Success') {
                        console.log('success')
                        window.location.reload()

                    } else {
                        console.log('failed')
                    }
                }
            })
        } else {
            return
        }
    }
    $('.item-container').on('click', '.item', function () {
        $('.item').bind('click', function () {
            return false;
        });
        var id = $(this).attr('id')
        var head = $(this).find('.edit-content').text()
        toggleLoader($('.loader'))
        $('.grid-products').empty()
        $('.content-header').html(
            '<div class="flex-between"><h5 class="notranslate color-font"><i class="fa fa-caret-right right" aria-hidden="true"></i>' +
            head + '</h5><button class="btn border color-font add-product btn-slim" id="' +
            id + '"><p class="plus">+</p></button></div>')

        $.ajax({
            url: '/product',
            type: 'post',
            data: {
                data: id
            },
            success: function (results) {
                results.forEach(data => {
                    showProduct($('.grid-products'), data.id, data.product, data.category,
                        data.photo, data.price, data.arrival, data.discount)

                });

                currencyFormat('$', 0, false)

                setTimeout(function () {
                    $('.item').unbind('click')
                    toggleLoader($('.loader'))
                    gsap.from('.grid-products', {
                        opacity: 0
                    })
                }, 300)

            }
        })
    })

    $('.carousel-item').on('click', function () {
        console.log(this)
    })
</script>
{% endblock %}