{% extends 'views/custome.html' %}

{% block content %}
<div class="wrap-container">
    <div class="row-wrapper">
        <div class="column-wrapper" style="width: 350px;">
            <div id="brand-nav">
                <div class="flex-between-end">
                    <h5 class="color-font">Brands</h5>
                    <button class="btn border color-font btn-slim" id="add-brand">
                        <p class="plus">+</p>
                    </button>
                </div>
                <hr>
                <div class="item-container" style="height: 70vh;">
                    {% if brands %}
                    {% for brand in brands %}
                    <div class="flex-between item color-font" id="{{ brand.id }}">
                        <p class="edit-content" contenteditable="true">{{ brand.brand }}</p>
                        <p class="btn-clear" onclick="return removeBrand(this)">+</p>
                        <p class="checkmark hide">L</p>
                    </div>
                    {% endfor %}
                    {% endif %}
                    <form action="/brand" method="post" class="form" id="brand-form">
                        {{ form.csrf_token }}
                        <div class="form-group m-0" id="brd">
                            {{ form.brand(class='form-control input-color', placeholder='Brand', autocomplete='off') }}
                        </div>
                        <div class="form-group m-0">
                            {{ form.description(class='form-control input-color', placeholder='Description') }}
                        </div>
                        <div class="form-group flex-end m-0">
                            {{form.submit(class='btn border btn-shadow color-font')}}
                        </div>
                    </form>
                </div>
            </div>
            <div id="product-nav" class="hide">
                <h5 class="color-font m-0">Product</h5>
                <div class="slide-form" style="width: 100%;">
                    <form action="/product/add" method="post" enctype="multipart/form-data" style="width: 100%;"
                        id="product-form">
                        <h5 class="color-font sub-content"><i class="fa fa-caret-right right" aria-hidden="true"></i>Select Category</h5>
                        <div class="form-group selector">
                            <p class="detail-content">Use category for specific products</p>
                            <select name="category" id="category" class="form-control input-color">
                                {% if categories %}
                                {% for category in categories %}
                                <option value="{{category.id}}">{{category.category}}</option>
                                {% endfor %}
                                {% else %}
                                <option value="">No category</option>
                                {% endif %}
                            </select>
                        </div>
                        <h5 class="color-font sub-content mb-2"><i class="fa fa-caret-right right" aria-hidden="true"></i>Product Informations</h5>
                        <div class="form-group">
                            <input type="text" class="form-control input-color" name="product" id="product" required>
                            <label for="product" class="label product color-font">Product</label>
                        </div>
                        
                        <div class="row">
                            <div class="col-md-8">
                                <div class="form-group">
                                    <input type="number" class="form-control input-color" name="price" id="price"
                                        required>
                                    <label for="price" class="label price color-font">Price</label>
                                </div>
                            </div>
                            <div class="col-md-4 selector pl-0">
                                <div class="form-group">
                                    <select name="currency" id="currency" class="form-control input-color">
                                        <option value="dollar"><span>&#36;</span></option>
                                        <option value="riel"><span>&#6107;</span></option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <textarea name="description" id="product-description"
                                class="form-control input-color textarea" required></textarea>
                            <label for="description" class="label description color-font">Description</label>
                        </div>
                        <div class="product-image hide">
                            <h5 class="color-font sub-content"><i class="fa fa-caret-right right" aria-hidden="true"></i>Product Image</h5>
                            <div class="form-group">
                                <p class="detail-content">Select product photo. This photo will be show in the product</p>
                                <div class="upload-container">
                                    <label for="photo" class="upload-label">
                                        <input type="file" name="photo" id="photo" class="upload-input">
                                        <span><i class="fa fa-camera" aria-hidden="true"></i></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <input type="submit" value="Save" class="submit-btn hide">
                    </form>
                </div>
                <button class="btn btn-block border color-font submit-product">Create</button>
            </div>
        </div>
        <div class="border-right"></div>
        <div class="column-wrapper" style="width: 100%;">
            <div class="content-header">

            </div>
            <div class="content-body flex-between">
                <div class="list-product" style="width: 100%; height: 100%;">
                    <div class="sample hide">
                        <div class="sample-header">
                            <div class="product-img">
                                <img src="/static/uploads/mac.png" alt="Default">
                            </div>
                            <div class="product-info">
                                <div class="product-title">
                                    <h3 class="color-font">Product Name</h3>
                                    <p class="paragraph">Category</p>
                                </div>
                                <div class="product-price">
                                    <h3></h3>
                                </div>
                            </div>
                        </div>
                        <div class="sample-body">
                            <div class="body-header">
                                <div class="header-menu">
                                    <p class="color-font">Specs</p>
                                    <p class="color-font">Dimension</p>
                                    <p class="color-font">Features</p>
                                </div>
                                <div class="header-btn">
                                    <button class="btn-blank color-font"><i class="fa fa-search" aria-hidden="true"></i></button>
                                </div>
                            </div>
                            <div class="body-content">
                                
                            </div>
                        </div>
                    </div>
                </div>
                <div class="loader hide">
                    <div class="loading"></div>
                </div>
            </div>  
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
<script>

    $('.submit-product').on('click', function() {
        $('.submit-btn').click()
        var product = $('#product').val()
        var price = $('#price').val()
        var currency = $('#currency').val()
        var description = $('#product-description').val()
        var category = $('#category').val()

        console.log(product, price, currency, description, category)
    })

    $('.content-header').on('click', '.add-product', function () {
        var id = $(this).attr('id')
        var product = $('#product-nav')
        var brand = $('#brand-nav')
        var loader = $('.loader')
        var list = $('.list-product')

        if (product.hasClass('hide')) {
            $('.add-product p').addClass('clear')
            toggleEdit(loader, list)
            gsap.to('#brand-nav', {
                opacity: 0,
                x: -10,
                onComplete: function () {
                    toggleEdit(product, brand)
                    toggleEdit(list, loader)
                    $('.sample').removeClass('hide')
                    $('.submit-product').attr('id', id)
                    gsap.to('#product-nav', {
                        opacity: 1,
                        x: 0
                    })
                }
            })
            
        } else {
            $('.add-product p').removeClass('clear')
            toggleEdit(loader, list)
            gsap.to('#product-nav', {
                opacity: 0,
                x: -10,
                onComplete: function () {
                    toggleEdit(brand, product)
                    toggleEdit(list, loader)
                    $('.sample').addClass('hide')
                    gsap.to('#brand-nav', {
                        opacity: 1,
                        x: 0
                    })
                }
            })
        }
    })

    $('#add-brand').on('click', function () {
        var form = $('.form').toggleClass('display')
        if (form.hasClass('display')) {
            $('#add-brand p').addClass('clear')
        } else {
            $('#add-brand p').removeClass('clear')
        }
        $('#brand').focus()
        document.querySelector('#submit').scrollIntoView({
            behavior: 'smooth'
        })

        gsap.from('.form', {
            y: -50,
            opacity: 0
        })
    })
    $(document).on('submit', '#brand-form', function () {
        $.ajax({
            url: $(this).attr('action'),
            type: $(this).attr('method'),
            dataType: 'json',
            data: $(this).serialize(),
            success: function (data) {
                if (data['redirect'] == '/brand') {
                    var element = `<div class="flex-between item color-font" id="` + data['id'] + `">
                        <p class="edit-content" contenteditable="true">` + data['name'] + `</p>
                        <p class="btn-clear" onclick="return removeBrand(this)">+</p>
                        <p class="checkmark hide">L</p>
                    </div>`
                    $('.item-container .form').before(element)
                    $('#brand').val('')
                    $('#description').val('')
                }
                if (data['brand'].length > 0) {
                    for (let index = 0; index < data['brand'].length; index++) {
                        const element = data['brand'][index];
                        $('#brand').addClass('invalid')
                        $('#brd').append('<div title="' + element +
                            '" class="errors-msg" id="err-brd"><i class="fa fa-exclamation" aria-hidden="true"></i></div>'
                        )
                    }
                    gsap.from('#err-brd', {
                        opacity: 0,
                        scale: 0.5,
                        duration: 1,
                        ease: 'elastic.out'
                    })
                } else {
                    $('#brand').removeClass('invalid')
                    $('#err-brd').remove()
                }
            }
        });
        return false;
    })
    $('.item-container').on('click', '.item', function (e) {
        var id = $(this).attr('id')

        var containers = $('.item-container').children()

        Array.from(containers).forEach(item => {
            $(item).removeClass('is-selected')
        });
        $(this).addClass('is-selected')


    })
    $(document).on('click', '.edit-content', function () {
        event.stopPropagation()
        var id = $(this).parent().attr('id')

        var old_content = $(this).parent().find('.edit-content').text()

        clear = $('#' + id).find('.btn-clear')
        check = $('#' + id).find('.checkmark')

        toggleEdit($(check), $(clear))

        var isContented = false

        $(check).on('mousedown', function () {
            var new_content = $(this).parent().find('.edit-content').text()
            isContented = true
            $.ajax({
                url: '/brand/update/' + id,
                method: 'POST',
                data: {
                    data: new_content
                },
                success: function (data) {
                    console.log(data)
                    $('#' + id).find('.edit-content').text(new_content)
                    toggleEdit($(clear), $(check))
                }
            })
        })

        $(this).on('focusout', function () {
            if (!isContented) {
                $('#' + id).find('.edit-content').text(old_content)
            }
            toggleEdit($(clear), $(check))

        })

    })

    function removeBrand(arg) {
        event.stopPropagation()
        var id = $(arg).parent().attr('id')
        if (confirm('Brand may contain many products and properties! Are you sure you want to delete it?')) {
            $.ajax({
                url: '/brand/remove/' + id,
                method: 'POST',
                success: function (data) {
                    if (data['msg'] == 'Success') {
                        console.log('done')

                    } else {
                        console.log('failed')
                    }
                }
            })
        } else {
            return
        }
    }
    $('.item-container').on('click', '.item', function () {
        var id = $(this).attr('id')
        var head = $(this).find('.edit-content').text()
        console.log(id, head)
        $('.content-header').html(
            '<div class="flex-between"><h5 class="color-font"><i class="fa fa-caret-right right" aria-hidden="true"></i>' +
            head + '</h5><button class="btn border color-font add-product btn-slim" id="' +
            id + '"><p class="plus">+</p></button></div>')
        
    })
</script>
{% endblock %}