{% extends 'layout/layout.html' %}

{% block content %}
<div class="wrap-container">
    <div class="row-wrapper">
        <div class="column-wrapper" style="width: 750px;">
            <h3 class="color-font product-title" id="{{ product.id }}">{{ product.product }}</h3>
            <div class="flex-start">
                {% if product.currency == 'dollar' %}
                <p>$</p>
                {% else %}
                <p>R</p>
                {% endif %}
                <p>{{ product.price }}</p>
            </div>

            <div class="item-img">
                <img src="/static/uploads/{{ product.photo }}">
            </div>
            {% if product.colors %}
            <div class="details-colors">
                {% for color in product.colors %}
                <span style="background-color: {{ color.hex }}"></span>
                {% endfor %}
            </div>
            {% endif %}
        </div>
        <div class="column-wrapper" style="width: 100%;">
            <div class="list-properties">
                {% for property in product.productOfCategory.properties %}
                <h5 class="color-font sub-content mb-2"><i class="fa fa-caret-right right"
                        aria-hidden="true"></i>{{ property.property }}</h5>
                <div class="property-values" id="{{ property.id }}">
                    <button type="button" class="add-value" data-toggle="modal" data-target="#modalCart">
                        <i class="fa fa-plus-circle color-font" aria-hidden="true"></i>
                    </button>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modalCart" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Your cart</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="input-group">
                    <label for="name">Name</label>
                    <input type="text" name="name" id="name">
                </div>
                <div class="input-group">
                    <label for="price">Price</label>
                    <input type="number" name="price" id="price" value="0.00">
                </div>
                <div class="input-group">
                    <label for="currency">Currency</label>
                    <select id="currency" name="currency">
                        <option value="dollar">$</option>
                        <option value="riel">R</option>
                    </select>
                </div>
                <div class="input-group">
                    <label for="description">Description</label>
                    <input type="text" id="description" name="description">
                </div>
                
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary save-btn">Save</button>
            </div>
        </div>
    </div>
</div>


{% endblock %}

{% block script %}
<script>
    $('.add-value').on('click', function () {
        var property = $(this).parents('.property-values').attr('id')
        var  title = $(this).parent().prev('.sub-content').text()
        $('.modal-title').text(title)
        $('.save-btn').attr('id', property)
    })
    $('.save-btn').on('click', function() {
        var product = $('.product-title').attr('id')
        var property = $(this).attr('id')

        var value = $('#name').val()
        var price = $('#price').val()
        var currency = $('#currency').val()
        var description = $('#description').val()

        console.log(product, property, value, price, currency, description)
        var form = new FormData()
        form.append('value', value)
        form.append('product', product)
        form.append('property', property)
        form.append('price', price)
        form.append('currency', currency)
        form.append('description', description)
        $.ajax({
            url: '/value/add',
            method: 'POST',
            processData: false,
            data: form,
            success: function(data) {
                console.log(data)
            }
        })
        
    })
</script>
{% endblock %}