{% extends 'views/custome.html' %}

{% block content %}
<div class="wrap-container">
    <div class="row-wrapper">
        <div class="column-wrapper" style="width: 350px; box-sizing: border-box; overflow: hidden;">
            <div id="brand-nav">
                <div class="flex-between-end">
                    <h5 class="color-font">Brands</h5>
                    <button class="btn border color-font btn-slim" id="add-brand">
                        <p class="plus">+</p>
                    </button>
                </div>
                <hr>
                <div class="item-container" style="height: 70vh;">
                    {% if brands %}
                    {% for brand in brands %}
                    <div class="flex-between item color-font" id="{{ brand.id }}">
                        <p class="edit-content" contenteditable="true">{{ brand.brand }}</p>
                        <p class="btn-clear" onclick="return removeBrand(this)">+</p>
                        <p class="checkmark hide">L</p>
                    </div>
                    {% endfor %}
                    {% endif %}
                    <form action="/brand" method="post" class="form" id="brand-form">
                        {{ form.csrf_token }}
                        <div class="form-group m-0" id="brd">
                            {{ form.brand(class='form-control input-color', placeholder='Brand', autocomplete='off') }}
                        </div>
                        <div class="form-group m-0">
                            {{ form.description(class='form-control input-color', placeholder='Description') }}
                        </div>
                        <div class="form-group flex-end m-0">
                            {{form.submit(class='btn border btn-shadow color-font')}}
                        </div>
                    </form>
                </div>
            </div>
            <div id="product-nav" class="hide">

            </div>
        </div>
        <div class="border-right"></div>
        <div class="column-wrapper" style="width: 100%; box-sizing: border-box; overflow: hidden;">
            <div class="content-header"></div>
            <div class="content-body">
                <div class="inset-shadow hide"></div>
                <div class="list-product">
                    
                </div>
                <div class="loader hide">
                    <div class="loading"></div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
<script>
    $(document).on('change', '#photo', function () {
        uploadPhoto($(this).val())
    })

    $(document).on('submit', '#product-form', function () {
        event.preventDefault();
        $.ajax({
            url: $(this).attr('action'),
            type: $(this).attr('method'),
            dataType: 'json',
            data: $(this).serialize(),
            success: function (data) {
                $('.product-image').removeClass('hide')
                toggleEdit($('.save-product'), $('.submit-product'))
                $('.save-product').attr('id', data['id'])
            }
        })
    })

    $('.list-product').on('scroll', function () {
        if ($('.list-product').scrollTop()) {
            $('.inset-shadow').removeClass('hide');
        } else {
            $('.inset-shadow').addClass('hide');
        }
    })

    $(document).on('click', '.save-product', function() {
        $('.add-product').click()
        
    })

    $('#product-nav').on('input', '#product', function () {
        var product = $(this).val()
        if (product == '') {
            $('#sample-title').text('Product Name')
        } else {
            $('#sample-title').text(product)
        }
    })

    $('#product-nav').on('input', '#price', function () {
        var price = $(this).val()
        $('#sample-price').text(price)
    })

    $('#product-nav').on('input', '#details', function () {
        var description = $(this).val()
        $('#sample-description').text(description)
    })

    $('#product-nav').on('change', '#category', function () {
        var category = $('#category option:selected').text()
        $('#sample-category').text(category)
    })

    $('#product-nav').on('change', '#currency', function () {
        var currency = $('#currency').val()
        var price = $('#details-price').text()
        if (currency == 'riel') {
            $('#sample-symbol').html('R')
        } else {
            $('#sample-symbol').html('$')
        }

        console.log(currency)
    })

    $('#product-nav').on('click', '.submit-product', function () {
        $('.submit-btn').click()
        var id = $(this).attr('id')
        var product = $('#product').val()
        var price = $('#price').val()
        var currency = $('#currency').val()
        var description = $('#details').val()
        var category = $('#category').val()

        console.log(product, price, currency, description, category)
    })


    $('.content-header').on('click', '.add-product', function () {
        $('.add-product').attr("disabled", true)
        var id = $(this).attr('id')
        var product = $('#product-nav')
        var brand = $('#brand-nav')
        var loader = $('.loader')
        var list = $('.list-product')
        var sample = $('.sample')
        var icon = $('#add-product')

        if (product.hasClass('hide')) {
            $('.add-product p').addClass('clear')
            // $('.content-body').prepend(productSample)
            $('.list-product').html(productSample)
            
            gsap.to('#brand-nav', {
                x: '-100%',
                duration: 0.2,
                onComplete: function () {
                    $('.add-product').attr("disabled", false)
                    toggleEdit(product, brand)
                    $('#product-nav').html(showProductForm({category: "Select category", product: "", price: "", description: ""}))
                    
                    $('#brand-id').val(id)
                    gsap.to('#product-nav', {
                        x: 0
                    },)
                }
            })

        } else {
            $('.add-product p').removeClass('clear')
            toggleLoader(loader)
            $('.list-product').empty()
            if ($('.content-body').has('.product-sample')) {
                $('.product-sample').remove()
            }
            $.ajax({
                url: '/product',
                type: 'post',
                data: {data: id},
                success: function(results) {
                    setTimeout(function() {
                        toggleLoader(loader)
                    }, 300)
                    results.forEach(data => {
                        showProduct($('.list-product'), data.id, data.product, data.category, data.photo, data.price)
                        
                    });

                    gsap.to('#product-nav', {
                        x: '100%',
                        duration: 0.2,
                        onComplete: function () {
                            $('.add-product').attr("disabled", false)
                            toggleEdit(brand, product)
                            gsap.to('#brand-nav', {
                                x: 0
                            })
                        }
                    })
                }
            })
            
        }
    })

    $('#add-brand').on('click', function () {
        var form = $('.form').toggleClass('display')
        if (form.hasClass('display')) {
            $('#add-brand p').addClass('clear')
        } else {
            $('#add-brand p').removeClass('clear')
        }
        $('#brand').focus()
        document.querySelector('#submit').scrollIntoView({
            behavior: 'smooth'
        })

        gsap.from('.form', {
            y: -50,
            opacity: 0
        })
    })
    $(document).on('submit', '#brand-form', function () {
        $.ajax({
            url: $(this).attr('action'),
            type: $(this).attr('method'),
            dataType: 'json',
            data: $(this).serialize(),
            success: function (data) {
                if (data['redirect'] == '/brand') {
                    var element = `<div class="flex-between item color-font" id="` + data['id'] + `">
                        <p class="edit-content" contenteditable="true">` + data['name'] + `</p>
                        <p class="btn-clear" onclick="return removeBrand(this)">+</p>
                        <p class="checkmark hide">L</p>
                    </div>`
                    $('.item-container .form').before(element)
                    $('#brand').val('')
                    $('#description').val('')
                }
                if (data['brand'].length > 0) {
                    for (let index = 0; index < data['brand'].length; index++) {
                        const element = data['brand'][index];
                        $('#brand').addClass('invalid')
                        $('#brd').append('<div title="' + element +
                            '" class="errors-msg" id="err-brd"><i class="fa fa-exclamation" aria-hidden="true"></i></div>'
                        )
                    }
                    gsap.from('#err-brd', {
                        opacity: 0,
                        scale: 0.5,
                        duration: 1,
                        ease: 'elastic.out'
                    })
                } else {
                    $('#brand').removeClass('invalid')
                    $('#err-brd').remove()
                }
            }
        });
        return false;
    })
    $('.item-container').on('click', '.item', function (e) {
        var id = $(this).attr('id')

        var containers = $('.item-container').children()

        Array.from(containers).forEach(item => {
            $(item).removeClass('is-selected')
        });
        $(this).addClass('is-selected')
    })
    $(document).on('click', '.edit-content', function () {
        event.stopPropagation()
        var id = $(this).parent().attr('id')

        var old_content = $(this).parent().find('.edit-content').text()

        clear = $('#' + id).find('.btn-clear')
        check = $('#' + id).find('.checkmark')

        toggleEdit($(check), $(clear))

        var isContented = false

        $(check).on('mousedown', function () {
            var new_content = $(this).parent().find('.edit-content').text()
            isContented = true
            $.ajax({
                url: '/brand/update/' + id,
                method: 'POST',
                data: {
                    data: new_content
                },
                success: function (data) {
                    console.log(data)
                    $('#' + id).find('.edit-content').text(new_content)
                    toggleEdit($(clear), $(check))
                }
            })
        })

        $(this).on('focusout', function () {
            if (!isContented) {
                $('#' + id).find('.edit-content').text(old_content)
            }
            toggleEdit($(clear), $(check))

        })

    })

    function removeBrand(arg) {
        event.stopPropagation()
        var id = $(arg).parent().attr('id')
        if (confirm('Brand may contain many products and properties! Are you sure you want to delete it?')) {
            $.ajax({
                url: '/brand/remove/' + id,
                method: 'POST',
                success: function (data) {
                    if (data['msg'] == 'Success') {
                        console.log('done')

                    } else {
                        console.log('failed')
                    }
                }
            })
        } else {
            return
        }
    }
    $('.item-container').on('click', '.item', function () {
        $('.item').bind('click', function(){ return false; });
        var id = $(this).attr('id')
        var head = $(this).find('.edit-content').text()
        toggleLoader($('.loader'))
        $('.list-product').empty()
        $('.content-header').html(
            '<div class="flex-between"><h5 class="color-font"><i class="fa fa-caret-right right" aria-hidden="true"></i>' +
            head + '</h5><button class="btn border color-font add-product btn-slim" id="' +
            id + '"><p class="plus">+</p></button></div>')

        $.ajax({
            url: '/product',
            type: 'post',
            data: {data: id},
            success: function(results) {
                results.forEach(data => {
                    showProduct($('.list-product'), data.id, data.product, data.category, data.photo, data.price)
                    
                });
                
                setTimeout(function() {
                    $('.item').unbind('click')
                    toggleLoader($('.loader'))
                }, 300)
                
            }
        })
        
    })
    
</script>
{% endblock %}