<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <title>Document</title>
</head>
<body>
    <div class="container" style="margin-top: 50px;">
        <h1>Register</h1>
        <a class="btn border" href="/login">Back to Login</a>
        <div class="row">
            <div class="col-md-6 border-right">
    
            </div>
            <div class="col-md-6" style="padding: 20px 30px;">
                
                <form action="/register" method="post" enctype="multipart/form-data" class="px-3">
                    {{form.hidden_tag()}}
                    <div class="form-group">
                        {{ form.username.label(class='label') }}
                        {% if form.username.errors %}
                        {{ form.username(class='form-control is-invalid') }}
                        <div class="invalid-feedback">
                            {% for error in form.username.errors %}
                            <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                        {% else %}
                        {{ form.username(class='form-control') }}
                        {% endif %}
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                {{ form.firstname.label(class='label') }}
                                {% if form.firstname.errors %}
                                {{ form.firstname(class='form-control is-invalid') }}
                                <div class="invalid-feedback">
                                    {% for error in form.firstname.errors %}
                                    <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                                {% else %}
                                {{ form.firstname(class='form-control') }}
                                {% endif %}
                            </div>
    
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                {{ form.lastname.label(class='label') }}
                                {% if form.lastname.errors %}
                                {{ form.lastname(class='form-control is-invalid') }}
                                <div class="invalid-feedback">
                                    {% for error in form.lastname.errors %}
                                    <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                                {% else %}
                                {{ form.lastname(class='form-control') }}
                                {% endif %}
                            </div>
    
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                {{ form.gender.label(class='label') }}
                                {% if form.gender.errors %}
                                {{ form.gender(class='form-control is-invalid') }}
                                <div class="invalid-feedback">
                                    {% for error in form.gender.errors %}
                                    <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                                {% else %}
                                {{ form.gender(class='form-control') }}
                                {% endif %}
                            </div>
    
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                {{ form.birthdate.label(class='label') }}
                                {% if form.birthdate.errors %}
                                {{ form.birthdate(class='form-control is-invalid') }}
                                <div class="invalid-feedback">
                                    {% for error in form.birthdate.errors %}
                                    <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                                {% else %}
                                {{ form.birthdate(class='form-control') }}
                                {% endif %}
                            </div>
    
                        </div>
                    </div>
                    <div class="form-group">
                        {{ form.email.label(class='label') }}
                        {% if form.email.errors %}
                        {{ form.email(class='form-control is-invalid') }}
                        <div class="invalid-feedback">
                            {% for error in form.email.errors %}
                            <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                        {% else %}
                        {{ form.email(class='form-control') }}
                        {% endif %}
                    </div>
                    <div class="form-group">
                        {{ form.password.label(class='label') }}
                        {% if form.password.errors %}
                        {{ form.password(class='form-control is-invalid') }}
                        <div class="invalid-feedback">
                            {% for error in form.password.errors %}
                            <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                        {% else %}
                        {{ form.password(class='form-control') }}
                        {% endif %}
                    </div>
                    <div class="form-group">
                        {{ form.confirm.label(class='label') }}
                        {% if form.confirm.errors %}
                        {{ form.confirm(class='form-control is-invalid') }}
                        <div class="invalid-feedback">
                            {% for error in form.confirm.errors %}
                            <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                        {% else %}
                        {{ form.confirm(class='form-control') }}
                        {% endif %}
                    </div>
                    {{ form.submit(class='btn border') }}
                </form>
            </div>
        </div>
    </div>
</body>
</html>