{% extends 'layout/layout.html' %}

{% block navbar %}
<ul class="menu-bar">
    <li class="menu-financial_report">
        <a href="/financial_report" class="financial_report">
            Financial
        </a>
    </li>
    <li class="menu-performance_report">
        <a href="/performance_report" class="performance_report">
            Performance
        </a>
    </li>
</ul>
{% endblock %}

{% block content %}
    <div class="wrap-container">
        
    </div>
{% endblock %}

{% block script %}
    <script>

    </script>
{% endblock %}