{% extends 'layout/layout.html' %}

{% block navbar %}
<ul class="menu-bar">
    <li class="menu-financial_report">
        <a href="/financial_report" class="financial_report">
            Financial
        </a>
    </li>
    <li class="menu-sale_report">
        <a href="/sale_report" class="sale_report">
            Product
        </a>
    </li>
    <li class="menu-account">
        <a href="/account" class="account">
            Performance
        </a>
    </li>
    <li class="menu-activity">
        <a href="/activity" class="activity">
            Activity
        </a>
    </li>
</ul>
{% endblock %}

{% block content %}
    <div class="wrap-container grid-container">
        <div class="grid-item">
            <div class="item-header">
                Financial
            </div>
            <div class="item-body" id="financial">
                <canvas id="chartFinancial"></canvas>
            </div>
        </div>
        <div class="grid-item">
            <div class="item-header">
                Product
            </div>
            <div class="item-body" id="product">
                <canvas id="chartProduct"></canvas>
            </div>
        </div>
        <div class="grid-item">
            <div class="item-header">
                Performance
            </div>
            <div class="item-body" id="performance">
                <canvas id="chartPerformance"></canvas>
            </div>
        </div>
        <div class="grid-item">
            <div class="item-header">
                Activity
            </div>
            <div class="item-body" id="activity">
                <canvas id="chartActivity"></canvas>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script>

    </script>
{% endblock %}