{% extends 'views/report.html' %}

{% block style %}
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.6.4/css/buttons.dataTables.min.css">
<style>
    #chart-container {
        width: 100%;
        height: 400px;
    }

    .list-menu {
        height: 100%;
    }

    .generate-button {
        display: flex;
        justify-content: flex-end;
    }

    .generate-button button {
        background-color: var(--color-menu);
        border: none;
        outline: none;
        box-shadow: none;
        margin: 0 5px;
        width: 27px;
        height: 27px;
        border-radius: 50%;
        color: var(--color-text);
        font-size: 12px;
        vertical-align: middle;
    }

    .item.active {
        background-color: var(--color-menu);
    }

    .select-list select,
    .select-list input {
        width: 130px;
        padding-left: 8px;
    }
    thead tr {
        background-color: var(--color-menu);
    }

    .modal-body {
        height: 70vh;
        overflow-y: scroll;
    }
    @media only screen and (max-width: 750px) {
        .menu-btn div {
            position: absolute;
        }
        /* Check */
        .menu-btn {
            width: auto;
        }
    }
</style>
{% endblock %}

{% block content %}
<div class="wrap-container">

    <div class="row-wrapper">
        <div class="column-wrapper" style="width: 350px">
            <h5 class="color-font ln-category">Categories</h5>
            <hr>
            <div class="item-container">
                <div class="flex-between item active color-font" id="product_report">
                    <p class="ln-sale">Sale</p>
                    <p><i class="fa fa-caret-right" aria-hidden="true"></i></p>
                </div>
                <div class="flex-between item color-font" id="quantity_report">
                    <p class="ln-quantity">Quantity</p>
                    <p><i class="fa fa-caret-right" aria-hidden="true"></i></p>
                </div>
            </div>
        </div>
        <div class="border-right"></div>
        <div class="column-wrapper" style="width: 100%;">
            <div class="flex-between">
                <div class="select-list color-text">
                    <i class="fa fa-caret-right right" aria-hidden="true"></i>
                    <select id="filter" class="input-color ml-0 mr-2" name="filter">
                        <option value="daily" class="ln-daily">Daily</option>
                    </select>
                    <span class="ln-from">From</span>: <input type="date" class="input-color mx-1" id="start-date">
                    - <input type="date" class="input-color ml-1" id="end-date">
                </div>
                <div class="generate-button">
                    <button class="export-excel">
                        <i class="fa fa-file-excel-o" aria-hidden="true"></i>
                    </button>
                    <button class="export-pdf">
                        <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
                    </button>
                    <button class="export-print">
                        <i class="fa fa-print" aria-hidden="true"></i>
                    </button>
                </div>
            </div>
            <br>
            <div id="chart-container">
                <canvas id="canvas"></canvas>
            </div>
            <table id="export-table"></table>
        </div>
    </div>
</div>
<div class="modal fade" id="transactionModal" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title color-font" id="transaction-title"></h4>
                <h4 class="color-text" id="total-title"></h4>
            </div>

            <div class="modal-body">
                <table class="table">
                    <thead id="table-head">
                        
                    </thead>
                    <tbody id="table-body">

                    </tbody>
                </table>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn color-font close-modal ln-close" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
<script src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.6.4/js/dataTables.buttons.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.6.4/js/buttons.flash.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
<script src="https://cdn.datatables.net/buttons/1.6.4/js/buttons.html5.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.6.4/js/buttons.print.min.js"></script>
<script>
    var myChart = null

    function updateChart(value, label, start, end, id, prefix, suffix) {
        $.ajax({
            url: '/' + id,
            type: 'POST',
            data: { 'filter': value, 'start': start, 'end': end },
            success: function (data) {

                var dataObj = {
                    labels: [],
                    data: []
                }

                data.data.forEach(d => {
                    dataObj.labels.push(d.label)
                    dataObj.data.push(d.data)
                })

                myChart.data.labels = dataObj.labels

                myChart.data.datasets.forEach((dataset) => {
                    dataset.data = dataObj.data
                    dataset.label = label
                })

                newTooltips = {
                            enabled: true,
                            mode: 'single',
                            callbacks: {
                                label: function(tooltipItems, data) {
                                    return prefix + data.datasets[0].data[tooltipItems.index] + suffix;
                                }
                            }
                        }

                myChart.options.tooltips = newTooltips

                myChart.update()
            }
        })
    }

    $('#filter').on('change', function () {
        var value = $(this).val()
        var label = $('#filter option:selected').text()
        var start = $('#start-date').val()
        var end = $('#end-date').val()
        var id = ''
        Array.from($('.item-container').children()).forEach(i => {
            if ($(i).hasClass('active')) {
                id = $(i).attr('id')
            }
        })

        if (id == 'product_report') {
            updateChart(value, label, start, end, id, 'Sale: ', '$')
        } else {
            updateChart(value, label, start, end, id, 'Quantity: ', 'pcs')
        } 
    })

    $(document).ready(function () {

        var chart = document.getElementById('chart-container')
        var canvas = document.getElementById('canvas')

        canvas.width = chart.offsetWidth
        canvas.height = chart.offsetHeight

        $(window).on('resize', function () {
            canvas.width = chart.offsetWidth
            canvas.height = chart.offsetHeight
        })

        $('.export-excel').on('click', function () {

            $('#export-table').html(`
                <thead>
                    <tr>
                        <td>Date</td>
                        <td>Result</td>
                    </tr>
                </thead>
                <tbody id="data-table">

                </tbody>`)


            myChart.data.labels.forEach((l, i) => {
                $('#data-table').append('<tr><td>' + l + '</td><td>' + myChart.data.datasets[0].data[i] + '</td></tr>')
            })

            $('#export-table').DataTable({
                "bDestroy": true,
                searching: false,
                paging: false,
                dom: 'Bfrtip',
                buttons: [
                    'excel', 'pdf', 'print'
                ]
            })

            $('.buttons-excel').click()
        })

        $('.export-pdf').on('click', function () {

            $('#export-table').html(`
                <thead>
                    <tr>
                        <td>Name</td>
                        <td>Result</td>
                    </tr>
                </thead>
                <tbody id="data-table">

                </tbody>`)


            myChart.data.labels.forEach((l, i) => {
                $('#data-table').append('<tr><td>' + l + '</td><td>' + myChart.data.datasets[0].data[i] + '</td></tr>')
            })

            $('#export-table').DataTable({
                searching: false,
                paging: false,
                dom: 'Bfrtip',
                "bDestroy": true,
                buttons: [
                    'excel', 'pdf', 'print'
                ]
            })

            $('.buttons-pdf').click()
        })

        $('.export-print').on('click', function () {

            $('#export-table').html(`
        <thead>
            <tr>
                <td>Date</td>
                <td>Result</td>
            </tr>
        </thead>
        <tbody id="data-table">

        </tbody>`)


            myChart.data.labels.forEach((l, i) => {
                $('#data-table').append('<tr><td>' + l + '</td><td>' + myChart.data.datasets[0].data[i] + '</td></tr>')
            })

            $('#export-table').DataTable({
                searching: false,
                paging: false,
                dom: 'Bfrtip',
                "bDestroy": true,
                buttons: [
                    'excel', 'pdf', 'print'
                ]
            })

            $('.buttons-print').click()
        })

        $('.item').on('click', function () {
            var items = document.querySelectorAll('.item')
            Array.from(items).forEach(i => {
                $(i).removeClass('active')
            })
            $(this).addClass('active')
            var start = $('#start-date').val()
            var end = $('#end-date').val()
            var value = $('#filter').val()
            var label = $('#filter option:selected').text()
            var id = $(this).attr('id')

            if (id == 'product_report') {
                updateChart(value, label, start, end, id, 'Sale: ', '$')
            } else {
                updateChart(value, label, start, end, id, 'Quantity: ', 'pcs')
            }
        })

        $('#start-date, #end-date').on('change', function () {
            var start = $('#start-date').val()
            var end = $('#end-date').val()
            var value = $('#filter').val()
            var label = $('#filter option:selected').text()
            var id = ''
            Array.from($('.item-container').children()).forEach(i => {
                if ($(i).hasClass('active')) {
                    id = $(i).attr('id')
                }
            })

            if (id == 'product_report') {
                updateChart(value, label, start, end, id, 'Sale: ', '$')
            } else {
                updateChart(value, label, start, end, id, 'Quantity: ', 'pcs')
            }
        })

        $.ajax({
            url: '/product_report',
            type: 'POST',
            data: { 'filter': 'daily', 'start': null, 'end': null },
            success: function (data) {
                var chart = document.getElementById('chart-container')
                var canvas = document.getElementById('canvas')

                canvas.width = chart.offsetWidth
                canvas.height = chart.offsetHeight

                $(window).on('resize', function () {
                    canvas.width = chart.offsetWidth
                    canvas.height = chart.offsetHeight
                })

                var dataObj = {
                    labels: [],
                    data: [],
                    background: [],
                    border: [],
                    hover: []
                }

                data.data.forEach(d => {
                    var color = generateColor()
                    dataObj.labels.push(d.label)
                    dataObj.data.push(d.data)
                    dataObj.background.push(color+'50')
                    dataObj.border.push(color+'cc ')
                    dataObj.hover.push(color+'50')
                })

                $('#start-date').val(data.oldest)
                $('#end-date').val(data.latest)

                var ctx = canvas.getContext('2d')
                myChart = new Chart(ctx, {
                    type: 'bar',
                    data: {
                        labels: dataObj.labels,
                        datasets: [{
                            label: 'Daily',
                            data: dataObj.data,
                            backgroundColor: dataObj.background,
                            borderColor: dataObj.border,
                            hoverBackgroundColor: dataObj.hover,
                            hoverBorderColor: dataObj.border,
                            borderWidth: 1
                        }]
                    },
                    options: {
                        onClick: function (a, b) {
                            label = b[0]._model.label
                            item = ''
                            title = ''
                            filter = $('#filter option:selected').text()
                            Array.from($('.item-container').children()).forEach(i => {
                                if ($(i).hasClass('active')) {
                                    item = $(i).attr('id')
                                    title = $(i).find('p').text()
                                }
                            })

                            $.ajax({
                                url: '/sale_report/details',
                                type: 'POST',
                                data: {label: label},
                                success: function(data) {
                                    console.log(data)
                                    element = ''
                                    amount = 0
                                    quantity = 0
                                    data.forEach(d => {
                                        amount += parseFloat(d.profit)
                                        quantity += parseInt(d.quantity)
                                        element += `<tr class="color-text">
                                                        <td>`+d.description+`</td>
                                                        <td>`+accounting.formatMoney(d.price)+`</td>
                                                        <td>`+d.quantity+`</td>
                                                        <td>`+d.discount+`%</td>
                                                        <td>`+accounting.formatMoney(d.amount)+`</td>
                                                        <td>`+accounting.formatMoney(d.profit, {
                                                            precision: 2,
                                                            format: {
                                                                pos: "%s%v",
                                                                neg: "-%s%v",
                                                                zero: '...'
                                                            }
                                                        })+`</td>
                                                    </tr>`
                                    })
                                    $('#table-head').html(`<tr class="color-font">
                                        <td class="ln-description">Description</td>
                                        <td class="ln-price">Price</td>
                                        <td class="ln-quantity">Quantity</td>
                                        <td class="ln-discount">Discount</td>
                                        <td class="ln-total">Total</td>
                                        <td class="ln-profit">Profit</td>
                                    </tr>`)
                                    $('#table-body').html(element)
                                    $('#transaction-title').text(capitalizeFirstLetter(title)+': '+label)
                                    switch (item) {
                                        case 'product_report':
                                            $('#total-title').text(accounting.formatMoney(amount, {
                                                            precision: 2,
                                                            format: {
                                                                pos: "%s%v",
                                                                neg: "-%s%v",
                                                                zero: '...'
                                                            }
                                                        }))
                                            break;
                                        case 'quantity_report':
                                            $('#total-title').text(quantity+'pcs')
                                        default:
                                            break;
                                    }
                                    $('#transactionModal').modal('show')
                                }
                            })
                        },
                        responsive: true,
                        legend: {
                            position: 'bottom',
                        },
                        hover: {
                            mode: 'label'
                        },
                        scales: {
                            xAxes: [{
                                display: true,
                                scaleLabel: {
                                    display: true
                                }
                            }],
                            yAxes: [{
                                display: true,
                                ticks: {
                                    beginAtZero: true,
                                    steps: 10,
                                    stepValue: 5
                                }
                            }]
                        },
                        tooltips: {
                            enabled: true,
                            mode: 'single',
                            callbacks: {
                                label: function(tooltipItems, data) {
                                    return 'Sale: '+data.datasets[0].data[tooltipItems.index] + '$';
                                }
                            }
                        }
                    }
                });
            }
        })
    })
</script>
{% endblock %}