{% extends 'layout/layout.html' %}

{% block style %}
<style>
    .loading-container {
        position: fixed;
        z-index: 100;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        opacity: 0.9;
        background-color: var(--color-bg);
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .loading-container span {
        font-size: 33px;
        letter-spacing: 3px;
        color: var(--color-hr);
        user-select: none;
        animation: loading 3s infinite linear;
        text-transform: uppercase;
    }

    .loading-container span:nth-child(1) {
        animation-delay: 0s;
    }
    .loading-container span:nth-child(2) {
        animation-delay: 0.2s;
    }
    .loading-container span:nth-child(3) {
        animation-delay: 0.4s;
    }
    .loading-container span:nth-child(4) {
        animation-delay: 0.6s;
    }
    .loading-container span:nth-child(5) {
        animation-delay: 0.8s;
    }
    .loading-container span:nth-child(6) {
        animation-delay: 1s;
    }
    .loading-container span:nth-child(7) {
        animation-delay: 1.2s;
    }
    .loading-container span:nth-child(8) {
        animation-delay: 1.4s;
    }
    .loading-container span:nth-child(9) {
        animation-delay: 1.6s;
    }
    .loading-container span:nth-child(10) {
        animation-delay: 1.8s;
    }
    .loading-container span:nth-child(11) {
        animation-delay: 2.0s;
    }
    .loading-container span:nth-child(12) {
        animation-delay: 2.2s;
    }

    @keyframes loading {
        10% {
            color: var(--color-text);
        }
        100% {
            color: var(--color-hr);
        }
    }
</style>
{% endblock %}

{% block content %}
<div class="wrap-container">
    <h5 class="color-font"><i class="fa fa-caret-right right" aria-hidden="true"></i><span class="ln-theme">Theme</span></h5>
    <p class="paragraph ml-4 mt-2 ln-theme-details">Choose your favorite background color</p>
    <div class="select-list">
        <select id="select-theme" class="input-color" name="theme">
            <option value="light">Light</option>
            <option value="dark">Dark</option>
            <option value="blue">Blue</option>
            <option value="red">Red</option>
            <option value="green">Green</option>
            <option value="pink">Pink</option>
        </select>
    </div>
    <br>
    <h5 class="color-font"><i class="fa fa-caret-right right" aria-hidden="true"></i><span class="ln-lang">Language</span></h5>
    <p class="paragraph ml-4 mt-2 ln-lang-details">Choose your language</p>
    <div class="select-list">
        <select id="select-lang" class="input-color" name="lang">
            <option value="english">English</option>
            <option value="khmer">Khmer</option>
            <option value="vietnam">Vietnam</option>
            <option value="indonesia">Indonesia</option>
        </select>
    </div>
    <!-- <br>
    <h5 class="color-font"><i class="fa fa-caret-right right" aria-hidden="true"></i>Tooltip</h5>
    <p class="paragraph ml-4 mt-2">Show tooltip in your webpage</p>
    <div class="select-list">
        <select id="select-tooltip" class="input-color" name="theme">
            <option value="enable">Enable</option>
            <option value="disable">Disable</option>
        </select>
    </div> -->
    <br>
    <h5 class="color-font"><i class="fa fa-caret-right right" aria-hidden="true"></i><span class="ln-backup">Backup</span></h5>
    <p class="paragraph ml-4 mt-2 ln-backup-details">Back up your data to prevent data lose</p>
    <div class="select-list">
        <button class="btn border" id="backup-data"><ion-icon class="mr-1" name="download-outline"></ion-icon>Backup</button>
    </div>
    <br>
    <h5 class="color-font"><i class="fa fa-caret-right right" aria-hidden="true"></i><span class="ln-restore">Restore</span></h5>
    <p class="paragraph ml-4 mt-2 ln-restore-details">Restore data to go back to the previous change</p>
    <div class="select-list">
        <input type="file" class="border" name="restore" id="restore">
    </div>
    <!-- <br>
    <h5 class="color-font"><i class="fa fa-caret-right right" aria-hidden="true"></i>Language</h5>
    <p class="paragraph ml-4 mt-2">Choose your language</p>
    <div class="select-list">
        <div id="google_translate_element"></div>
    </div> -->
</div>
{% endblock %}

{% block script %}
    <script>
        $(document).ready(function() {
            $('.loading-container').addClass('hide')
            // $('.goog-te-combo').addClass('input-color')

            $('#backup-data').on('click', function() {
                $.ajax({
                    url: '/backup',
                    type: 'POST',
                    beforeSend: function() {
                        $('.loading-container').removeClass('hide')
                    },
                    success: function(data) {
                        if (data.result == 'Success') {
                            alert(languagesAlert[language].userSaveSuccess)
                        } else {
                            alert(languagesAlert[language].error)
                        }
                        $('.loading-container').addClass('hide')
                    }
                })
            })

            $('#select-lang').on('change', function() {
                lang = $(this).children('option:selected').val()
                $.ajax({
                    url: '/language/change',
                    method: 'POST',
                    data: {
                        data: lang
                    },
                    success: function (data) {
                        window.location.reload()
                    }
                })
            })
        })

        $('#restore').on('change', function() {
            file = document.querySelector('#restore').files[0]
            form = new FormData()
            form.append('file', file)
            $.ajax({
                url: '/restore',
                type: 'POST',
                data: form,
                contentType: false,
                cache: false,
                processData: false,
                beforeSend: function () {
                    $('.loading-container').removeClass('hide')
                },
                success: function(data) {
                    if (data.data == 'Success') {
                        alert(languagesAlert[language].restoreSuccess)
                        window.location.reload()
                    } else {
                        alert(languagesAlert[language].error)
                        $('.loading-container').addClass('hide')
                    }
                }
            })
        })
    </script>
{% endblock %}