{% extends 'layout/layout.html' %}

{% block content %}
<div class="wrap-container">
    <h5 class="color-font"><i class="fa fa-caret-right right" aria-hidden="true"></i>Theme</h5>
    <p class="paragraph ml-4 mt-2">Choose your favorite background color</p>
    <div class="select-list">
        <select id="select-theme" class="input-color" name="theme">
            <option value="light">Light</option>
            <option value="dark">Dark</option>
            <option value="green">Green</option>
        </select>
    </div>
    <!-- <br>
    <h5 class="color-font"><i class="fa fa-caret-right right" aria-hidden="true"></i>Tooltip</h5>
    <p class="paragraph ml-4 mt-2">Show tooltip in your webpage</p>
    <div class="select-list">
        <select id="select-tooltip" class="input-color" name="theme">
            <option value="enable">Enable</option>
            <option value="disable">Disable</option>
        </select>
    </div> -->
    <br>
    <h5 class="color-font"><i class="fa fa-caret-right right" aria-hidden="true"></i>Backup</h5>
    <p class="paragraph ml-4 mt-2">Back up your data to prevent data lose</p>
    <div class="select-list">
        <button class="btn border" id="backup-data"><ion-icon class="mr-1" name="download-outline"></ion-icon>Back Up</button>
    </div>
    <br>
    <h5 class="color-font"><i class="fa fa-caret-right right" aria-hidden="true"></i>Restore</h5>
    <p class="paragraph ml-4 mt-2">Restore data to go back to the previous change</p>
    <div class="select-list">
        <button class="btn border"><ion-icon class="mr-1" name="download-outline"></ion-icon>Restore</button>
    </div>
    <br>
    <h5 class="color-font"><i class="fa fa-caret-right right" aria-hidden="true"></i>Language</h5>
    <p class="paragraph ml-4 mt-2">Choose your language</p>
    <div class="select-list">
        <div id="google_translate_element"></div>
    </div>
</div>
{% endblock %}

{% block script %}
    <script>
        $(document).ready(function() {
            $('.goog-te-combo').addClass('input-color')

            $('#backup-data').on('click', function() {
                $.ajax({
                    url: '/backup',
                    type: 'POST',
                    success: function(data) {
                        alert(data.msg)
                    }
                })
            })
        })
    </script>
{% endblock %}