@import url(https://use.typekit.net/phg0jwr.css);
@import url(https://fonts.googleapis.com/css?family=Roboto+Mono:300);
@font-face {
    font-family: "Ionicons";
    src: url("https://code.ionicframework.com/ionicons/2.0.1/fonts/ionicons.eot?v=2.0.1");
    src: url("https://code.ionicframework.com/ionicons/2.0.1/fonts/ionicons.eot?v=2.0.1#iefix") format("embedded-opentype"), url("https://code.ionicframework.com/ionicons/2.0.1/fonts/ionicons.ttf?v=2.0.1") format("truetype"), url("https://code.ionicframework.com/ionicons/2.0.1/fonts/ionicons.woff?v=2.0.1") format("woff"), url("https://code.ionicframework.com/ionicons/2.0.1/fonts/ionicons.svg?v=2.0.1#Ionicons") format("svg");
    font-weight: normal;
    font-style: normal;
};

@font-face {
    font-family: 'Hanuman';
    src: url('/static/fonts/Hanuman-Regular.ttf') format('truetype'), url('/static/fonts/Hanuman-Bold.ttf') format('truetype');
} 

* {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", 'Hanuman', serif;
}

html[data-theme='light'] {
    --color-tooltip: rgb(29, 29, 29);
    --color-bg: #ffffff;
    --color-menu-bg: rgba(255, 255, 255, 0.9);
    --color-menu: rgb(240, 240, 240);
    --color-font: #111;
    --color-logo: #111;
    --color-text: #555;
    --color-hr: rgba(0, 0, 0, 0.1);
    --color-hover: rgba(0, 0, 0, 0.3);
    --color-btn-hover: rgba(240, 240, 240, 0.9);
    --color-shadow: rgba(1, 1, 1, 0.1);
    --color-inset: 0 0 0 3px hsla(0, 0%, 100%, 0), 0 0 0 4px hsla(0, 0%, 83.9%, 0), inset 0 2px 2px 0 rgba(0, 0, 0, .2);
    --color-label: #696969;
    --color-inset: 0 0 0 3px hsla(0, 0%, 100%, 0), 0 0 0 4px hsla(0, 0%, 83.9%, 0), inset 0 2px 2px 0 rgba(0, 0, 0, .2);
}

html[data-theme='green'] {
    --color-tooltip: rgb(15, 73, 7);
    --color-bg: rgb(5, 31, 16);
    --color-menu-bg: rgba(5, 31, 16, 0.9);
    --color-menu: rgb(11, 54, 21);
    --color-font: rgb(255, 255, 255);
    --color-logo: rgb(223, 223, 223);
    --color-text: rgb(201, 201, 201);
    --color-hr: rgba(243, 243, 243, 0.1);
    --color-hover: rgba(255, 255, 255, 0.3);
    --color-btn-hover: rgba(255, 255, 255, 0.9);
    --color-shadow: rgba(1, 1, 1, 0.1);
    --color-inset: 0 0 0 3px hsla(0, 0%, 100%, 0), 0 0 0 4px hsla(0, 0%, 83.9%, 0), inset 0 2px 2px 0 rgba(0, 0, 0, .2);
    --color-label: #696969;
    --color-inset: 0 0 0 3px hsla(0, 0%, 100%, 0), 0 0 0 4px hsla(0, 0%, 83.9%, 0), inset 0 2px 2px 0 rgba(0, 0, 0, .2);
}

html[data-theme='pink'] {
    --color-tooltip: rgb(92, 39, 87);
    --color-bg: rgb(70, 5, 61);
    --color-menu-bg: rgba(70, 5, 61, 0.9);
    --color-menu: rgb(68, 24, 73);
    --color-font: rgb(255, 255, 255);
    --color-logo: rgb(223, 223, 223);
    --color-text: rgb(201, 201, 201);
    --color-hr: rgba(243, 243, 243, 0.1);
    --color-hover: rgba(255, 255, 255, 0.3);
    --color-btn-hover: rgba(255, 255, 255, 0.9);
    --color-shadow: rgba(1, 1, 1, 0.1);
    --color-inset: 0 0 0 3px hsla(0, 0%, 100%, 0), 0 0 0 4px hsla(0, 0%, 83.9%, 0), inset 0 2px 2px 0 rgba(0, 0, 0, .2);
    --color-label: #696969;
    --color-inset: 0 0 0 3px hsla(0, 0%, 100%, 0), 0 0 0 4px hsla(0, 0%, 83.9%, 0), inset 0 2px 2px 0 rgba(0, 0, 0, .2);
}

html[data-theme='blue'] {
    --color-tooltip: rgb(10, 43, 80);
    --color-bg: rgb(8, 26, 53);
    --color-menu-bg: rgba(8, 26, 53, 0.9);
    --color-menu: rgb(13, 42, 66);
    --color-font: rgb(255, 255, 255);
    --color-logo: rgb(223, 223, 223);
    --color-text: rgb(201, 201, 201);
    --color-hr: rgba(243, 243, 243, 0.1);
    --color-hover: rgba(255, 255, 255, 0.3);
    --color-btn-hover: rgba(255, 255, 255, 0.9);
    --color-shadow: rgba(1, 1, 1, 0.1);
    --color-inset: 0 0 0 3px hsla(0, 0%, 100%, 0), 0 0 0 4px hsla(0, 0%, 83.9%, 0), inset 0 2px 2px 0 rgba(0, 0, 0, .2);
    --color-label: #696969;
    --color-inset: 0 0 0 3px hsla(0, 0%, 100%, 0), 0 0 0 4px hsla(0, 0%, 83.9%, 0), inset 0 2px 2px 0 rgba(0, 0, 0, .2);
}

html[data-theme='dark'] {
    --color-tooltip: rgb(29, 29, 29);
    --color-bg: rgb(37, 37, 37);
    --color-menu-bg: rgba(37, 37, 37, 0.9);
    --color-menu: rgb(51, 51, 51);
    --color-font: #e9e9e9;
    --color-logo: #e9e9e9;
    --color-text: #c5c5c5;
    --color-hr: rgba(255, 255, 255, .1);
    --color-hover: rgba(255, 255, 255, 0.3);
    --color-btn-hover: rgba(37, 37, 37, 0.5);
    --color-shadow: rgba(1, 1, 1, 0.5);
    --color-inset: 0 0 0 3px hsla(0, 0%, 100%, 0), 0 0 0 4px hsla(0, 0%, 83.9%, 0), inset 0 2px 2px 0 rgba(0, 0, 0, .2);
    --color-label: #e6e6e6;
    --color-inset: 0 0 0 3px hsla(0, 0%, 100%, 0), 0 0 0 4px hsla(0, 0%, 83.9%, 0), inset 0 2px 2px 0 rgba(0, 0, 0, .2);
}

tbody tr,
tbody tr td,
tbody tr td ion-icon,
tbody tr td i {
    vertical-align: middle !important;
}

.expand-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vh;
    height: 100vh;
}

.flex-between-center .bootstrap-select .dropdown-toggle:focus, .form-group .bootstrap-select .dropdown-toggle:focus {
    outline: none !important;
    outline: none !important;
    outline-offset: 0 !important;
}

.btn-light.focus, .btn-light:focus, .btn-light:hover {
    color: var(--color-text) !important;
    background-color: var(--color-bg) !important;
    border-color: var(--color-hover) !important;
    box-shadow: none !important;
}

.form-control {
    border-radius: 7px;
    z-index: 10;
}

.input-modal,
.form-group .input-modal:hover,
.form-group .input-modal:focus {
    border-radius: 0 !important;
    border-top: none !important;
    border-right: none !important;
    border-left: none !important;
}

.btn-modal {
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15) !important;
}

.dropdown-divider {
    border-top: 1px solid var(--color-hr);
}

.config-list {
    width: 80%;
}

.appearance-value {
    width: 50%;
    text-align: start;
    font-size: 13px;
}

.container-input {
    position: relative;
    user-select: none;
}

.container-input input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.checkbox {
    position: absolute;
    bottom: 10px;
    left: 10px;
    height: 25px;
    width: 25px;
    background-color: var(--color-menu);
    border-radius: 50%;
    transition: 0.3s ease;
}

.bootstrap-select {
    z-index: 99 !important;
}

.container-input:hover input~.checkbox {
    background-color: var(--color-menu);
}

.container-input input:checked~.checkbox {
    background-color: #2196F3;
}

.empty-result {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.checkbox:after {
    content: "";
    position: absolute;
    display: none;
}

.container-input input:checked~.checkbox:after {
    display: block;
}

.container-input .checkbox:after {
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
}

input[type=date] {
    &::-webkit-datetime-edit-year-field {
        pointer-events: none;
    }

    &::-webkit-datetime-edit-month-field {
        pointer-events: none;
    }

    &::-webkit-datetime-edit-date-field {
        pointer-events: none;
    }
}

.underline {
    text-decoration: underline !important;
}


// tooltip
.tooltip {
    z-index: 100;
}

.tooltip-inner {
    background-color: var(--color-tooltip) !important;
    padding: 8px;
}

.bs-tooltip-auto[x-placement^=bottom] .arrow::before,
.bs-tooltip-bottom .arrow::before,
.bs-tooltip-auto[x-placement^=top] .arrow::before,
.bs-tooltip-top .arrow::before {
    border-bottom-color: var(--color-tooltip) !important;
    border-top-color: var(--color-tooltip) !important;
}

.checkbox-container {
    position: absolute;
    top: 33px;
    right: 30px;
}

.is-scan input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.is-scan {
    position: absolute;
    top: 32px;
    right: 5px;
    display: flex;
    align-items: center;
    color: var(--color-hover);
    box-shadow: none;
    background: none;
    outline: none;
    border: none;
}

.is-stock {
    display: block;
    position: relative;
    cursor: pointer;
    font-size: 22px;
    user-select: none;
}

.is-stock input:checked~.check-span {
    background-color: var(--color-hover);
    border: 1px solid var(--color-bg);
}

/* Hide the browser's default checkbox */
.is-stock input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.check-span {
    position: absolute;
    top: 0;
    left: 0;
    height: 18px;
    width: 18px;
    border-radius: .25rem;
    border: 1px solid var(--color-hr);
}

.is-stock:hover input~.check-span {
    background-color: var(--color-menu);
}

/* Create the checkmark/indicator (hidden when not checked) */
.check-span:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.is-stock input:checked~.check-span:after {
    display: block;
}

/* Style the checkmark/indicator */
.is-stock .check-span:after {
    left: 6px;
    top: 2px;
    width: 5px;
    height: 10px;
    border: solid var(--color-bg);
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

// Check-label



.menu-icon {
    position: relative;
    height: 34px;
    background-color: var(--color-menu);
    padding: 6px 13px;
    cursor: pointer;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    border-radius: 16px;
    margin-right: 10px;
}

.menu-icon span {
    display: inline-block;
    height: 2px;
    background-color: var(--color-text);
    border-radius: 5px;
    transition: 0.2s ease;
}

.menu-icon span:nth-child(1) {
    width: 17px;
}

.menu-icon span:nth-child(2) {
    width: 14px;
}

.menu-icon span:nth-child(3) {
    width: 11px;
}

.menu-icon.active span:nth-child(2) {
    width: 17px;
}

.menu-icon.active span:nth-child(3) {
    width: 17px;
}

textarea:focus,
textarea.form-control:focus,
input.form-control:focus,
input[type=text]:focus,
input[type=password]:focus,
input[type=email]:focus,
input[type=number]:focus,
[type=text].form-control:focus,
[type=password].form-control:focus,
[type=email].form-control:focus,
[type=tel].form-control:focus,
[contenteditable].form-control:focus {
    box-shadow: inset 0 -2px 0 rgba(0, 0, 0, 0);
    border: 1px solid var(--color-hover);
}

button {
    outline: none !important;
    box-shadow: none !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    appearance: none;
    margin: 0;
}

select:hover,
input:hover,
textarea:hover {
    border: 1px solid var(--color-hover);
}

.input:hover,
.input:focus,
.input:valid {
    border: 1px solid #777 !important;
}

.selector select {
    box-shadow: none !important;
}

h3,
h5,
p,
a {
    color: var(--color-font);
    margin: 0;
}

select:invalid,
select option[value=""] {
    color: var(--color-hover) !important;
}

::placeholder {
    color: var(--color-hover) !important;
}

.percentage {
    position: absolute;
    top: 35px;
    right: 18px;
    color: var(--color-text);
    z-index: 1;
    cursor: pointer;
}

html,
body {
    height: 100%;
    background-color: var(--color-bg);
    transition: 0.3s ease-in-out;
}

.dropdown {
    z-index: 100;
}

.dropdown-menu {
    background-color: var(--color-menu);
    border: none;
    z-index: 10000;
    box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15) !important;
}

.dropdown-item {
    color: var(--color-text);
    position: relative;
}

.dropdown-item:hover {
    background-color: var(--color-hr);
    color: var(--color-font);
}

.dropdown-item.active {
    background-color: var(--color-hr);
    color: var(--color-font);
}

.dropdown-item.active::after {
    content: 'L';
    position: absolute;
    font-size: 13px;
    top: 6px;
    right: 10px;
    transform: rotate(45deg) scale(-1, 1);
}

.modal-content {
    background-color: var(--color-bg);
    color: var(--color-font);
}

.modal-header {
    border-bottom: 1px solid var(--color-hr);
}

.modal-footer {
    border-top: 1px solid var(--color-hr);
}

.form-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.container-right {
    width: 700px;
    height: 100%;
}

.container-left {
    width: 100%;
    height: 100vh;
    background-color: #333;
}

.container-left nav {
    padding: 20px 50px;
    position: fixed;
}

.logo {
    width: auto;
    font-size: 23px;
    color: #f2f2f2;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo p {
    margin: 0;
}

.container-right header {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100%;
    padding-bottom: 50px;
    margin: 0;
    overflow-x: hidden;
}

.container-right footer {
    height: 50px;
    margin-top: -50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 13px;
}

form {
    width: 350px;
}

.form-group {
    position: relative;
    padding-top: 23px;
    margin: 5px;
}


.label {
    position: absolute;
    top: 30px;
    left: 13px;
    color: var(--color-hover);
    transition: 0.3s ease;
    width: 79%;
    text-align: start;
    cursor: text;
}

input:focus+label,
input:valid+label,
label.check-label {
    top: 5px;
    left: 3px;
    font-size: 12px;
    color: var(--color-text);
    width: 100%;
    cursor: default;
}

.input:focus+label,
.input:valid+label {
    color: #333;
}

textarea:focus+label,
textarea:valid+label {
    top: 5px;
    left: 3px;
    font-size: 12px;
    color: var(--color-text);
}

.hero {
    color: #f2f2f2;
    position: absolute;
    top: 50%;
    left: 50px;
    transform: translate(0, -50%);
}

.nav-logo {
    color: var(--color-logo);
    z-index: 100000 !important;
}

.nav-logo img {
    width: 18px;
    height: 18px;
}

.title {
    margin-bottom: 30px;
    text-align: center;
}

.flex-end {
    display: flex;
    justify-content: flex-end;
}

.flex-end-center {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.flex-between-start {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.flex-between-end {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.flex-column-start-start {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
    cursor: default;
}

.flex-column-start-center {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.flex-between-end h5 {
    margin: 0;
}

.errors-msg {
    height: 13px;
    width: 13px;
    position: absolute;
    top: 30px;
    right: 8px;
    border-radius: 50%;
    color: #d9534f;
    cursor: pointer;
}

.form-group .invalid {
    border-color: #d9534f !important;
}

.profile a {
    text-decoration: none;
    color: #000;
}

#canvas {
    position: absolute;
    width: 100%;
    height: 100%;
}

.side-nav {
    height: 100vh;
    width: 58px;
    background-color: var(--color-menu);
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 50px 0px;
    transition: 0.3s ease-in-out;
    z-index: 101;
}

.side-menu {
    position: relative;
    display: flex;
    padding: 10px 20px;
    cursor: pointer;
}

.side-menu.current a {
    color: #0686f0;
}

.side-menu span {
    display: inline;
    opacity: 0;
    position: absolute;
    color: var(--color-text);
    font-size: 18px;
    top: 0;
    padding: 10px 20px 10px 53px;
    background-color: var(--color-menu-bg);
    transform: translateX(-50px) scale(0.5);
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-weight: 400;
    border-radius: 20px;
    transition: 0.5s ease;
    // border: 1px solid var(--color-hr);
    white-space: nowrap;

    // background-color: rgba(0, 0, 0, 0) !important;
    border: none;
}

.side-menu.active span {
    color: var(--color-font);
    opacity: 1;
    transform: translateX(-15px) scale(1);
    z-index: 10;
}

.side-nav li {
    list-style: none;
}

.side-nav li a {
    color: var(--color-font);
    font-size: 18px;
    z-index: 100;
}

.side-nav li button {
    background: none;
    border: none;
    outline: none;
    width: 18px;
    height: 18px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.side-nav li button span {
    width: 18px;
    height: 2px;
    background-color: var(--color-font);
    display: inline-block;
    border-radius: 3px;
}

.social-nav {
    width: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
    padding: 20px 0;
    height: 170px;
    position: fixed;
    right: 0;
    top: 45%;
    transform: translateY(-50%);
    background-color: var(--color-bg);
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
    font-size: 18px;
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15) !important;
}

.facebook:hover a {
    color: #096df0;
}

.youtube:hover a {
    color: #d40303;
}

// .instagram:hover {
//     background: #d6249f;
//     background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
// }

.facebook a, .youtube a {
    color: var(--color-text);
}

.bs-searchbox input, .no-results {
    background-color: var(--color-menu) !important;
    color: var(--color-text) !important;
    font-weight: 400;
}

.instagram {
    display: inline-block;
    width: 15px;
    height: 15px;
    text-align: center;
    border-radius: 5px;
    font-size: 15px;
    line-height: 19px;
    vertical-align: middle;
}

.instagram a {
    color: var(--color-font) !important;
}

.nav-on {
    width: 30%;
}

header {
    position: relative;
    min-height: 100%;
    padding-bottom: 70px;
    margin-left: 0;
    box-sizing: border-box;
}

header.isAuthenticated {
    margin-left: 58px;
}

.menu-nav.isAuthenticated {
    width: calc(100% - 58px);
}

.menu-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    padding: 20px 100px;
    z-index: 100;
    background-color: var(--color-menu-bg);
    transition: 0.3s ease-in-out;
}

footer {
    height: 70px;
    margin-top: -70px;
    margin-left: 78px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-bar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 50%;
    margin: 0;
    padding: 0;
}

.menu-bar li {
    list-style: none;
    transition: 0.3s ease;
    padding: 0 10px;
    text-align: center;
}

.menu-bar li.active {
    background-color: var(--color-menu);
    padding: 5px 10px;
    border-radius: 10px;
}

.menu-bar li a {
    color: var(--color-logo);
    font-weight: 400;
}

main {
    padding-top: 100px;
    position: relative;
    box-sizing: border-box;
    transition: 0.3s ease;
}

.color-font {
    color: var(--color-font) !important;
    font-weight: 400;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", 'Hanuman', serif;
}

.color-text {
    color: var(--color-text) !important;
    font-weight: 400;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", 'Hanuman', serif;
}

.color-text-contrast {
    color: var(--color-bg) !important;
    font-weight: 400;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", 'Hanuman', serif;
}

.hover:hover {
    color: var(--color-font) !important;
}

.wrap-container {
    padding: 0 100px;
    position: relative;
    box-sizing: border-box;
}

.border-right {
    margin: 0 30px;
    border-right: 1px solid var(--color-hr) !important;
}

.row-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.column-wrapper {
    position: relative;
    padding: 0;
    background-color: var(--color-bg);
    z-index: 1;
}

.right {
    margin-right: 10px;
}

.paragraph {
    color: var(--color-text);
    font-weight: 400;
    font-size: 13px;
    // margin-left: 18px;
}

.select-list {
    position: relative;
}

.select-list select, .select-list input, .select-list button {
    width: 200px;
    height: 30px;
    color: var(--color-text);
    border-radius: 5px;
    margin-left: 18px;
    font-weight: 400;
    font-size: 13px;
    outline: none;
    border-width: 1px !important;
    padding: 0 6px;
}

.select-list button {
    vertical-align: middle;
    padding: 0 10px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
    padding: 50px;
    grid-gap: 30px;
}

.grid-item {
    background-color: var(--color-menu);
    color: var(--color-font);
    height: 330px;
    border-radius: 5px;
    position: relative;
    padding: 20px;
}

.item-header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.item-body {
    overflow: hidden;
    position: relative;
}

.item-body canvas {
    width: 100%;
    height: 100%;
}

.input-color,
.input-color:focus,
.goog-te-combo,
.goog-te-combo:focus {
    background-color: var(--color-bg);
    color: var(--color-text);
    border-color: var(--color-hr);
    font-weight: 400;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", 'Hanuman', serif !important;
}

.table-data {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.table-data p {
    margin: 0;
}

.margin-r {
    margin-right: 20px;
    cursor: pointer;
}

.column-header {
    position: relative;
    height: 130px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 50% 50%;
    grid-gap: 10px;
}

.box {
    border-radius: 5px;
    background-color: var(--color-menu);
    color: var(--color-text);
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 10px;
    overflow: hidden;
}

.box.stocks {
    padding: 0 !important;
    grid-row: 2/3;
    height: 100%;
}

.box .carousel-inner,
.box .carousel-inner .carousel-item {
    height: 100%;
    width: 100%;
    text-align: end;
}

.box-container {
    padding: 10px;
    width: 100%;
    height: 100%;
}

.box.stocks .box-icon {
    height: 100%;
}

.box.stocks .box-result {
    height: 100%;
    width: 50%;
}

#stocks {
    padding: 0;
}

.box.today {
    grid-row: 1;
    grid-column: 1/2;
}

.box.total {
    grid-row: 1;
    grid-column: 2/3;
}

.box.activity {
    grid-row: 2;
    grid-column: 1/3;
}

.box.cover {
    position: relative;
    grid-row: 1/2;
    grid-column: 1/3;
    height: 100%;
    width: 100%;
    padding: 0 !important;
    overflow: hidden;
}

.cover img {
    height: 100%;
    width: 100%;
    object-fit: contain;
    object-position: center;
}

.form {
    width: 100%;
    display: none;
}

.box-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    height: 100%;
}

.box-icon p {
    margin: 0;
    font-size: 13px;
    width: 100%;
    text-align: start;
}

.search-box {
    width: 100%;
    display: flex;
    align-items: center;
}

.search-icon {
    margin-right: 10px;
    color: var(--color-text);
}

.search-inp {
    border: none;
    border-bottom: 1px solid var(--color-text);
}

.flex-between {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex-center {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.flex-center-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-between h5,
.flex-between h3 {
    margin: 0;
}

.display {
    display: block;
}

.item-container {
    height: 52vh;
    overflow-y: auto;
    user-select: none;
    overflow-x: hidden;
    box-sizing: border-box;
}

.item-container::-webkit-scrollbar, .row-wrapper::-webkit-scrollbar, .money-container::-webkit-scrollbar, .order-container::-webkit-scrollbar, .content-body::-webkit-scrollbar {
    display: none !important;
}

.dataTables_wrapper.no-footer .dataTables_scrollBody {
    border-bottom: 1px solid var(--color-hr) !important;
}

.flex-start {
    display: flex;
    justify-content: start;
    align-items: flex-end;
}

.flex-start-start {
    display: flex;
    justify-content: start;
    align-items: flex-start;
}

.flex-start-center {
    display: flex;
    justify-content: start;
    align-items: center;
}

.flex-start h5,
.flex-start h3 {
    margin: 0;
}

.margin-x {
    margin: 0 20px;
}

hr {
    border: 0;
    border-top: 1px solid var(--color-hr);
}

.property-form {
    display: none;
}

.display-row {
    display: table-row;
}

.clear {
    transform: rotate(45deg);
    transition: 0.3s ease;
    cursor: pointer;
}

.plus {
    margin: 0;
    transition: 0.3s ease;
}

.bg-menu {
    background-color: var(--color-menu);
}

.btn-clear {
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotate(45deg);
    cursor: pointer;
    transition: 0.3s ease;
    z-index: 1;
}

.btn-clear:hover {
    color: var(--color-hover);
}

.add-prop,
#add-category {
    position: relative;
}

.add-prop p,
#add-category p {
    margin: 0;
    transition: 0.1s ease-in-out;
    transform-origin: 50% 55%;
}

.content-body {
    position: relative;
    height: 72vh;
    display: flex;
    overflow: scroll;
}

.content-header {
    height: 45px;
}

.input-radio:checked ~ div ion-icon {
    color: dodgerblue;
}

.is-selected {
    background: var(--color-hr);
}

.item {
    cursor: pointer;
    padding: 8px 10px;
}

.item p {
    margin: 0;
}

.item .edit-content {
    display: inline;
    white-space: nowrap;
}

table.table>thead>tr>td {
    border-collapse: separate;
    border-color: var(--color-hr) !important;
    font-size: 15px;
}

table.table>tbody>tr>td {
    border-collapse: separate;
    border-color: var(--color-hr) !important;
    font-size: 13px;
}

table {
    border-collapse: separate;
    border-spacing: 0 5px;
}

table tbody tr {
    cursor: pointer;
}


.flex-between-center {
    display: flex !important;
    justify-content: space-between;
    align-items: center;
}

.flex-between-start {
    display: flex !important;
    justify-content: space-between;
    align-items: flex-start;
}

.flex-between-start-start {
    display: flex !important;
    justify-content: start;
    align-items: flex-start;
}

.flex-between-center p {
    margin: 0;
}

.action-btn {
    width: 40px;
    height: 100%;
    margin-left: 20px;
}

.scale-up {
    transform: scale(1.3);
}

.btn-blank {
    background: none;
    border: none;
    outline: none;
}

.border {
    border-color: var(--color-hr) !important;
}

.fa {
    cursor: pointer;
}

.hide {
    display: none !important;
}

.pointer {
    cursor: pointer;
}

.btn {
    border-radius: 7px;
}

.btn-slim {
    padding: 1px 20px !important;
    border-radius: 30px !important;
}

.btn-slim:hover {
    border-color: var(--color-hover) !important;
}

.loader,
.bubbling {
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--color-bg);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    z-index: 10000;
}

.bubbling img {
    width: 70%;
    height: 70%;
    object-fit: contain;
    object-position: center;
}


.loading {
    border: 2px solid var(--color-hr);
    border-radius: 50%;
    border-top: 2px solid var(--color-text);
    width: 40px;
    height: 40px;
    animation: spin 0.7s linear infinite;
}

.btn:hover,
.btn:focus {
    outline: none;
    color: var(--color-font);
}

.btn-shadow:hover,
.btn-shadow:focus {
    box-shadow: inset 0 -1px 0 var(--color-hr);
    color: var(--color-font);
}

[contenteditable="true"]:active,
[contenteditable="true"]:focus {
    border: none;
    outline: none;
    transform: scale(1.1);
}

.edit-content {
    cursor: text;
    transition: 0.3s ease-in-out;
}

.checkmark {
    transform: scaleX(-1) rotate(-35deg);
    font-size: 10px;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.checkmark:hover {
    color: var(--color-hover);
}

.no-result {
    color: var(--color-text);
    margin: 0;
    font-size: 13px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.upload-container {
    position: relative;
    height: 200px;
    border-radius: 7px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--color-hr);
}

.image-containers {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    overflow: hidden;
}

.image-containers .carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    z-index: -1;
}

.image-containers .carousel-item {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.image-containers div {
    width: 100%;
    height: 100%;
    position: relative;
}

.image-item {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.upload-label {
    position: absolute;
    cursor: pointer;
    width: 100%;
    height: 100%;
    margin: 0;
}

.upload-input {
    visibility: hidden;
    width: 100%;
}

.upload-label.disabled {
    background-color: var(--color-hr);
    cursor: not-allowed;
}

.upload-label span {
    position: absolute;
    bottom: 10px;
    left: 10px;
}

.upload-label span i {
    opacity: 0;
    font-size: 18px;
}

.upload-label:hover span i {
    opacity: 1;
    color: var(--color-hr);
}

.textarea {
    min-height: 130px;
}

#brand-nav {
    display: block;
}

.btn-value.disabled {
    background-color: var(--color-hr);
    cursor: not-allowed;
}

#product-nav {
    transform: translateX(100%);
    height: 77vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.slide-form {
    overflow-y: auto;
    overflow-x: hidden;
    border-top: 1px solid var(--color-hr);
    height: 83%;
}

.slide-form::-webkit-scrollbar {
    display: none;
}

.sub-content {
    font-size: 15px;
    margin: 20px 0 0 0;
    display: flex;
    justify-content: flex-start;
}

.sub-details {
    font-size: 13px;
    font-weight: 400 !important;
    letter-spacing: .1em;
    margin: 4px 0 10px;
    position: relative;
    text-align: left;
    color: var(--color-text);
}

.detail-content {
    font-size: 13px;
    margin: 0 0 5px 0;
    color: var(--color-text);
    font-weight: 400;
}

.product-container {
    width: 100%;
    height: calc(100vh - 230px);
    overflow-y: auto !important;
    scroll-behavior: smooth;
}

.grid-products {
    position: relative;
    width: 100%;
    display: grid;
    grid-column-gap: 30px;
    grid-row-gap: 50px;
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(200px, 200px));
    padding: 15px 15px 0 15px;
    overflow-y: auto;
}

.list-products {
    position: relative;
    width: 100%;
    display: block;
    padding: 10px 10px;
    overflow: hidden;
}

.list-products .product-item {
    width: 100%;
    height: 130px;
    padding: 10px 0;
    position: relative;
    transition: 0.3s ease;
    border-bottom: 1px solid var(--color-hr);
    text-decoration: none;
}

.list-products .product-item .item-wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.list-products .product-item .item-wrapper .item-details {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 10px 20px;
    width: 100%;
}

.list-products .product-item .item-wrapper .item-details .details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.list-products .product-item .item-wrapper .item-details .details .color-font {
    font-size: 18px !important;
}

.list-products .product-item .item-wrapper .item-details div:nth-child(2) {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
}

.list-products .product-item .item-wrapper .item-details div:nth-child(2) p {
    text-align: end;
}

.list-products .product-item .item-wrapper .item-details div:nth-child(2) p:first-child {
    text-align: end;
    font-size: 13px !important;
}

.list-products .product-item .item-wrapper .item-details .details #details-date {
    display: block !important;
}

.list-products .product-item .item-wrapper .item-details .details #details-description {
    display: block !important;
}

.list-products .product-item .item-wrapper .item-img {
    position: relative;
    width: 130px;
    height: 110px;
}

.list-products .product-item .item-wrapper .item-img .product-btn {
    position: absolute;
    top: 10px;
    left: 10px;
}

.grid-products .product-item {
    position: relative;
    height: 200px;
    border-radius: 5px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", 'Hanuman', serif;
    text-decoration: none !important;
    background-color: var(--color-menu);
    overflow: hidden;
    cursor: pointer;
    transition: 0.3s ease;
}

.grid-products .product-item .item-wrapper {
    width: 100%;
    height: 100%;
    position: relative;
}

.grid-products .product-item .item-wrapper .item-img {
    position: relative;
    height: 110px;
    background-color: var(--color-bg);
}

.item-img img,
.details-img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
}

.grid-products .product-item .item-wrapper .item-details {
    height: calc(100% - 110px);
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.item-details p,
.details-details p {
    margin: 0;
    text-align: start;
}

.details {
    text-align: start;
    width: 100%;
    overflow: hidden;
}

.details-appearance {
    position: relative;
    margin-top: 0px;
    width: 100%;
    height: 100%;
    overflow: auto;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
}

.product-btn {
    background-color: var(--color-btn-hover);
    width: 50px;
    height: 23px;
    border-radius: 5px;
    position: absolute;
    top: 5px;
    right: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    opacity: 0;
    color: var(--color-font);
    transform: scale(0.8);
    transition: 0.3s ease;
    z-index: 10;
    cursor: default;
}

.product-item:hover .product-btn,
.product-item.active .product-btn {
    opacity: 1;
    transform: scale(0.9);
}

.value:hover .product-btn {
    background-color: var(--color-btn-hover);
    opacity: 1;
    transform: scale(0.9);
}

.text-wrapper {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.symbol {
    margin-right: 3px;
}

.product-details {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", 'Hanuman', serif;
    transition: 0.5s ease-in-out;
    text-decoration: none !important;
    background-color: var(--color-bg);
    cursor: pointer;
}

.details-left {
    width: 400px;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.details-img {
    height: 200px;
    width: 200px;
}

.details-details {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
}

.details-right {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: auto;
    padding: 0px 20px 20px 20px;
}

.details-header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.details-colors {
    position: relative;
    width: 100%;
    height: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.span-border {
    position: relative;
    width: 35px;
    height: 35px;
    padding: 3px;
    margin: 0 3px;
    border-radius: 50%;
    transition: 0.3s ease;
}

.span-color {
    display: inline-block;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: var(--color-bg);
    box-shadow: 0 0 0 3px hsla(0, 0%, 100%, 0), 0 0 0 4px hsla(0, 0%, 83.9%, 0), inset 0 2px 2px 0 rgba(0, 0, 0, .2);
}

.span-border.active {
    border: 1px solid var(--color-hr);
}

.product-arrival {
    position: absolute;
    top: 4px;
    left: 4px;
}

.product-arrival img {
    width: 37px;
    height: 37px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px var(--color-bg);
    border-radius: 5px;
    background-color: var(--color-bg);
}

::-webkit-scrollbar {
    width: 5px;
    height: 3px;
    background-color: var(--color-bg);
}

::-webkit-scrollbar-thumb {
    border-radius: 5px;
    box-shadow: inset 0 0 6px var(--color-hr);
    background-color: var(--color-bg);
}

.pcr-app {
    background-color: var(--color-menu) !important;
    width: 350px !important;
}

.pcr-interaction {
    flex-wrap: nowrap !important;
}

.pcr-interaction input {
    background-color: var(--color-bg) !important;
    color: var(--color-text) !important;
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
}

.list-properties {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.property-values {
    position: relative;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(100px, 100px));
    width: 100%;
    cursor: default;
    padding: 10px;
}

.property-values .value {
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15) !important;
    height: 100px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--color-menu);
    cursor: pointer;
    padding: 10px;
    border: none;
    margin: 0;
}

.btn-value {
    height: 100px;
    margin-left: 5px;
    background-color: var(--color-bg);
    border-radius: 10px;
    z-index: 10;
}

.fixed {
    position: fixed;
}

.value p {
    margin: 0;
}

.carousel {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0 20px;
    overflow: hidden;
}

.carousel-inner img {
    width: 100%;
    height: 200px;
}

.carousel-control-next:hover,
.carousel-control-prev:hover {
    background-color: var(--color-hr);
}

.carousel-indicators {
    margin-bottom: 0;
}

.carousel-control-next i,
.carousel-control-prev i {
    color: var(--color-text);
}

.carousel-indicators li {
    background-color: var(--color-text);
}

.carousel-indicators li:active {
    background-color: var(--color-font);
}

.edit-color {
    width: 100%;
    height: 100%;
    padding: 5px;
    z-index: 10;
}

.image-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(50%, 50%);
    padding: 5px;
    border-radius: 50%;
    background-color: var(--color-hr);
}

.image-btn i {
    color: var(--color-text);
}

.caret-right {
    display: inline-block;
    border: 1px solid var(--color-text);
    border-bottom: 0;
    border-left: 0;
    line-height: 18px;
    width: 5px;
    height: 5px;
    margin: 0 13px 0 0px;
    transform: translate(0, -6px) rotate(45deg);
}

#google_translate_element {
    margin-left: 18px;
}

.translated-ltr {
    margin-top: -40px;
}

.translated-ltr {
    margin-top: -40px;
}

.goog-te-banner-frame {
    display: none;
    margin-top: -20px;
}

select.goog-te-combo {
    margin: 0 !important;
}

.goog-logo-link {
    display: none !important;
}

.goog-te-gadget {
    color: transparent !important;
}

.inset-shadow-right {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
    box-shadow: inset -5px 0px 10px -11px var(--color-shadow);
}

.inset-shadow {
    display: block;
    box-shadow: inset 0 7px 9px -7px var(--color-shadow);
    position: absolute;
    top: 0;
    left: -5px;
    width: 110%;
    height: 10px;
    z-index: 10;
    transition: 0.3s ease;
}

.content-menu {
    width: 100%;
    padding: 5px 0;
    border-bottom: 1px solid var(--color-hr);
}

.menu-items {
    width: 100%;
    height: 100%;
    overflow-x: scroll;
}

.menu-items .menu-item,
.menu-btn .view-btn,
.menu-btn .search-btn,
.menu-btn .sort-btn {
    padding: 5px 10px;
    margin: 0 7px;
    border-radius: 16px;
    display: inline;
    white-space: nowrap;
}

.sort-btn.active {
    background-color: var(--color-menu);
    color: var(--color-font);
}

.menu-item {
    background-color: var(--color-menu);
    padding: 5px 16px;
    cursor: pointer;
    user-select: none;
}

.menu-items div.active {
    color: var(--color-font);
    border: 1px solid var(--color-hr);
}

.menu-btn {
    position: relative;
    width: 250px;
    height: 100%;
}

.search-btn {
    border: 1px solid var(--color-hr);
    padding: 4px 16px 0 12px !important;
    height: 38px;
    border-radius: 20px !important;
    position: relative;
}

.search-input {
    border: none;
    outline: none;
    box-shadow: none;
    width: 0;
    transition: 0.5s ease;
    opacity: 0;
}

.search-input.active {
    width: 200px;
    opacity: 1;
}

.search-input:focus,
.search-input:hover {
    border: none !important;
}

.view-btn.active {
    background-color: var(--color-menu);
}

#list-filters .dropdown-menu {
    transform: translate3d(-35%, 34px, 0) !important;
    user-select: none;
}

.chart-container {
    width: 100%;
    height: 300px;
}

.stock-container {
    position: relative;
    width: 100%;
    height: 100%;
    overflow-y: auto;
}

.form-empty {
    width: 100%;
    border: none;
    box-shadow: none;
    outline: none;
    border: 1px solid var(--color-hr);
    border-radius: 10px;
    padding: 5px 10px;
}

button.form-empty:hover {
    border-color: var(--color-hover);
}

#to-stock,
#refresh-chart {
    outline: none !important;
    box-shadow: none !important;
    border: none;
    background-color: var(--color-menu);
    width: 23px;
    height: 23px;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    right: 10px;
    border-radius: 50%;
    z-index: 1000;
}

#refresh-chart {
    top: 0;
    right: 38px !important;
}

#list-stocks tr {
    cursor: text;
}

#list-stocks tr td.active {
    text-decoration: underline;
}

.menu-profile {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 15px 5px 5px;
    border: 1px solid var(--color-hr);
    border-radius: 20px;
}

.menu-profile:hover {
    border: 1px solid var(--color-hover);
}

.menu-profile:hover .profile-img {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15) !important;
}

.menu-profile .profile-img {
    position: relative;
    height: 28px;
    width: 28px;
    border-radius: 50% !important;
    overflow: hidden;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15) !important;
    transition: 0.3s ease;
}

.menu-profile .profile-img img {
    width: 100%;
    height: 100%;
    object-position: top;
    object-fit: cover;
}

.menu-profile span {
    margin-left: 7px;
    font-size: 15px;
    color: var(--color-text);
}

.order-container {
    height: calc(100vh - 300px);
    overflow: scroll;
}

.item-payment {
    height: calc(100% - 100px);
    overflow-y: scroll;
}

.btn-search-customer {
    position: absolute;
    top: 33px;
    left: 13px;
    color: var(--color-text);
}

.search-customer {
    left: 35px;
}

#search-customer {
    padding-left: 35px;
    border-radius: 13px;
}

.payment-container {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.payment-invoice {
    position: relative;
    height: 100%;
    width: 100%;
    padding-top: 30px;
}

.payment-bill {
    position: relative;
    width: 800px;
    height: 100%;
    padding-top: 20px;
}

.payment-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 20px;
}

.payment-body {
    border-top: 1px solid var(--color-hr);
    border-right: 1px solid var(--color-hr);
    padding: 0 20px;
    border-top-right-radius: 10px;
    height: 93%;
}

.payment-type {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.payment-type div {
    padding: 3px 10px;
    cursor: pointer;
    border: 1px solid var(--color-bg);
    border-bottom-color: #ffffff00;
    margin-bottom: -1px;
}

.payment-type div.active {
    border-radius: 10px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-color: var(--color-hr);
    border-bottom-color: var(--color-bg);
}

.payment-total {
    text-align: center;
    font-size: 13px;
    width: 100%;
    background-color: var(--color-menu);
    padding: 10px;
    position: absolute;
    bottom: 0;
}

.checkout-btn, .checkout-owe {
    cursor: pointer;
    font-size: 18px;
}

.invoice-close {
    position: absolute;
    top: 5px;
    right: 0;
}

#receive-currency {
    position: absolute;
    width: 53px;
    height: 26px;
    font-size: 10px;
    top: 29px;
    right: 5px;
    border-radius: 5px;
}

#receive-cash {
    padding-right: 63px;
}

.change-row {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: flex-end;
}

.change-container {
    padding: 10px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    border: 1px solid var(--color-hr);
    border-radius: 5px;
}

.change-left {
    width: 50%;
    display: flex;
    justify-content: space-between;
    padding-right: 10px;
}

.list-changes {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
}

.print-btn:hover {
    color: var(--color-font);
}

.total-container {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}

.total-paid {
    width: 50%;
    display: flex;
    justify-content: space-between;
    padding: 10px 10px 0 10px;
}

.total-remain {
    width: 50%;
    display: flex;
    justify-content: space-between;
    padding: 10px 10px 10px 10px;
}

.total-change {
    width: 50%;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.invoice-body {
    height: 100%;
    font-size: 11px;
    padding: 10px 20px 166px 20px;
}

.border-dashed {
    border: 1px solid var(--color-hr);
    border-style: dashed;
    border-left: none;
    border-right: none;
    border-bottom: none;
}

.invoice-total {
    margin-top: -166px;
    padding: 5px 20px 5px 20px;
    font-size: 12px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
}

.invoice-total div {
    width: 50%;
}

.invoice-footer {
    height: 30px;
    font-size: 13px !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

.invoice-header {
    font-size: 18px !important;
}

.invoice-text {
    font-size: 13px !important;
}

.invoice-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.invoice-btn button {
    border: 1px solid var(--color-hr);
    border-radius: 5px;
    outline: none;
    box-shadow: none;
    font-size: 18px;
    vertical-align: middle;
}

.print-inv {
    background-color: var(--color-menu);
    padding: 5px 20px;
    margin-left: 10px;
}

.close-payment {
    background-color: #007bff;
    width: 100%;
    padding: 5px;
}

.clear-btn {
    height: 27px;
}

.tbody {
    counter-reset: rowNumber;
}

.tbody tr::before {
    display: table-cell;
    counter-increment: rowNumber;
    content: counter(rowNumber);
    padding-right: 0.3em;
    text-align: right;
}

.input-inv {
    height: 33px;
}

.button-inv {
    position: absolute;
    right: 10px;
    top: 3px;
}

#export-table_wrapper {
    display: none;
}

.product-discount {
    padding: 2px 20px;
    background-color: #ae423f;
    width: auto;
    position: absolute;
    top: 0;
    left: -17px;
    transform: rotate(-45deg);
    text-align: center;
}

.product-discount p {
    color: #f2f2f2 !important;
    font-size: 13px;
}

.fa-bookmark {
    color: #8142f5;
}

.fav-btn {
    padding: 6px 13px;
    margin: 0 7px;
    border: 1px solid var(--color-hr);
    border-radius: 20px;
}

.side-header {
    display: none;
}

.navbar-hide {
    transform: translateY(-100%);
    transition: 0.5s ease;
}

.wrap-container .dataTables_wrapper .dataTables_paginate .paginate_button.current {
    color: dodgerblue !important;
}


@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@media only screen and (max-width: 1100px) {
    .menu-bar {
        width: 60%;
    }
    .wrap-container {
        padding: 0 50px !important;
    }
    .menu-nav {
        padding: 20px 50px;
    }
}

@media only screen and (max-width: 750px) {
    .menu-bar {
        flex-wrap: wrap;
    }
    .menu-nav {
        padding: 20px;
    }
    .wrap-container, .product-details {
        padding: 0 20px !important;
    }
    .row-wrapper {
        flex-wrap: wrap;
    }
    .row-wrapper .item-container {
        height: auto;
        padding-bottom: 20px;
    }
    .column-wrapper {
        width: 100% !important;
    }
    .column-wrapper .select-list {
        display: flex;
        flex-wrap: wrap;
        font-size: 10px;
        align-items: center;
    }
    .column-wrapper .select-list select, .column-wrapper .select-list input {
        width: 70px;
    }

    .item-container {
        height: auto !important;
    }
}

@media only screen and (max-width: 550px) {
    .menu-btn {
        display: none;
    }
    .grid-products .product-item .item-wrapper .item-details {
        height: calc(100% - 80px);
    }
    .grid-products .product-item .item-wrapper .item-img {
        height: 80px;
    }
    .product-item {
        height: 150px !important;
    }
    .grid-products {
        grid-column-gap: 10px;
        grid-row-gap: 10px;
        grid-template-columns: repeat(auto-fill, minmax(80px, 1fr));
        grid-template-rows: repeat(auto-fill, minmax(150px, 150px));
        padding: 5px 5px 0 5px;
    }

    .color-font {
        font-size: 13px !important;
    }

    .color-text {
        font-size: 11px !important;
    }

    .stock-tag {
        font-size: 11px;
    }

    .fav-btn, .menu-icon {
        font-size: 8px;
        padding: 3px 10px;
    }

    .menu-bar li {
        font-size: 10px;
    }

    .menu-icon {
        padding: 5px;
        height: 22px;
        border-radius: 10px;
    }

    .menu-icon span {
        height: 1px;
    }

    .grid-container {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        padding: 50px 20px;
        grid-gap: 20px;
    }
    .lb-data .lb-close {
        top: -40px !important;
        right: 10px !important;
    }
}

@media only screen and (max-width: 450px) {
    .navbar-hide {
        transform: translateY(0);
    }
    header, footer {
        margin-left: 0 !important;
    }
    .menu-nav {
        width: 100% !important;
    }
    .menu-profile {
        padding: 5px;
    }
    .profile-name {
        display: block !important;
    }
    .menu-profile span {
        display: none;
    }
    .logo-btn {
        display: none;
    }
    .sidenav-btn {
        display: block !important;
    }

    .side-nav.active {
        transform: translateX(0);
    }

    .side-nav {
        position: fixed;
        transform: translateX(-100%);
        padding-top: 15vh;
        width: 80%;
        background-color: var(--color-menu-bg);
        box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15) !important;
    }

    .side-menu span {
        background-color: rgba(0, 0, 0, 0) !important;
        border: none;
        opacity: 1;
        transform: translateX(-15px) scale(1);
        z-index: 10;
    }

    .close-sidenav {
        position: absolute;
        top: 25px;
        right: 10px;
        transform: translateY(-50%);
        width: 30px;
        height: 30px;
        display: flex !important;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        cursor: pointer;
    }

    .side-header {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        height: 20vh;
        width: 100%;
        padding: 20px;
        background-color: rgba(0, 0, 0, 0.1);
    }

    .generate-button button {
        position: absolute;
        top: 0;
        right: 0;
    }
}


