<!DOCTYPE html>
<html lang="en" data-theme="{{current_user.theme}}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome {% block title %}{% endblock %} </title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
        integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Hanuman&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{url_for('static', filename='css/dist/style.css')}}">

    {% block style %}{% endblock %}
</head>

<body>
    <ul class="side-nav">
        <li>
            <button id="side-btn">
                <span></span>
                <span></span>
                <span></span>
            </button>
        </li>
        <li>
            <a href="/">
                <i class="fa fa-home" aria-hidden="true"></i>
            </a>
        </li>
        <li>
            <a href="/custome">
                <i class="fa fa-tasks" aria-hidden="true"></i>
            </a>
        </li>
        <li>
            <a href="">
                <i class="fa fa-bar-chart" aria-hidden="true"></i>
            </a>
        </li>
        <li>
            <a href="/setting">
                <i class="fa fa-sliders" aria-hidden="true"></i>
            </a>
        </li>
    </ul>
    <header>
        <nav class="menu-nav">
            <div class="nav-logo">
                <i class="fa fa-terminal" aria-hidden="true"></i>
            </div>
            {% block navbar %}{% endblock %}
            <div class="dropdown">
                <button type="button" class="btn color-font" data-toggle="dropdown">
                    {{current_user.username}}
                </button>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">Link 1</a>
                    <a class="dropdown-item" href="#">Link 2</a>
                    <div class="dropdown-divider"></div>
                    <form action="/logout" method="post" style="width: auto;">
                        <input type="submit" value="Logout">
                    </form>
                </div>
            </div>
        </nav>
        <main>
            {% block content %}{% endblock %}
        </main>
    </header>
    <footer>
        <p class="color-text">Developed by thong</p>

    </footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.0/js/mdb.min.js">
    </script>
    <script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/16327/gsap-latest-beta.min.js"></script>
    <script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/16327/CSSRulePlugin3.min.js"></script>
    <script src="https://unpkg.com/ionicons@5.1.0/dist/ionicons.js"></script>
    <script src="{{url_for('static', filename='js/translate.js')}}"></script>
    <script src="{{url_for('static', filename='js/script.js')}}"></script>
    {% block script %}{% endblock %}
    <script>
        var theme = $('html').attr('data-theme')

        $.each($('#select-theme option'), function () {
            if ($(this).val() == theme) {
                $(this).attr('selected', 'selected')
            }
        })
        $('#side-btn').on('click', function () {
            $('.side-nav').toggleClass('nav-on')
        })
        $('#select-theme').on('change', function () {
            theme = $(this).children('option:selected').val()
            $.ajax({
                url: '/theme/change',
                method: 'POST',
                data: {
                    data: theme
                },
                success: function (data) {
                    $('html').attr('data-theme', data['theme'])
                }
            })
        })

        function valueForm(name, price, currency, details) {
            this.name = name
            this.price = price
            this.details = details
            this.currency = currency
            var element = ''
            if (this.currency == 'riel') {
                element = `<option value="dollar">$</option>
                            <option value="riel" selected="selected">R</option>`
            } else {
                element = `<option value="dollar" selected="seleceted">$</option>
                            <option value="riel">R</option>`
            }
            return `<div class="form-group">
                    <input class="form-control input-color" type="text" name="property-name" id="property-name" value="` +
                this.name +
                `">
                    <label class="label name" for="property-name">Name</label>
                </div>
                <div class="row">
                    <div class="col-md-8 pr-0">
                        <div class="form-group">
                            <input class="form-control input-color" type="number" name="property-price" id="property-price" value="` +
                this.price + `">
                            <label class="label price" for="property-price">Price</label>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <select class="form-control input-color" id="property-currency" name="property-currency">
                                ` + element +
                `
                            </select>
                        </div>
                    </div>
                </div>
                <div class="form-group pb-3">
                    <textarea class="form-control input-color" type="text" id="property-description" name="property-description" style="min-height: 100px;">` +
                this.details + `</textarea>
                    <label class="label description" for="property-description">Description</label>
                </div>`
        }

        function uploadColor(picker, input) {
            $('.pcr-app').each((i, obj) => {
                if ($(obj).attr('id') == 'pickr-add') {
                    $(obj).remove()
                }
            })
            this.picker = picker
            this.input = input
            const pickr = Pickr.create({
                el: this.picker,
                theme: 'classic', // or 'monolith', or 'nano'
                defaultRepresentation: 'HEX',
                default: '#111111',
                useAsButton: true,
                components: {
                    // Main components
                    preview: true,
                    opacity: true,
                    hue: true,

                    // Input / output Options
                    interaction: {
                        hex: false,
                        rgba: false,
                        hsla: false,
                        hsva: false,
                        cmyk: false,
                        input: true,
                        clear: false,
                        save: true
                    }
                }
            })
            $('.pcr-app').each((i, obj) => {
                if ($(obj).attr('id') != 'pickr-edit') {
                    $(obj).attr('id', 'pickr-add')
                    $(obj).find('.pcr-interaction').attr('id', 'pcr-add-btn')
                }
            })

            $('#pcr-add-btn').prepend('<input value="" type="text" class="pcr-name" id="' + this.input +
                '" placeholder="Name" style="width: 50%; text-align: left">')


            pickr.on('save', (color, instance) => {
                $('.pcr-save').attr('disabled', true)
                const hex = color.toHEXA().toString()
                const name = $('#' + this.input).val()
                const id = $(this.picker).attr('id')
                if (name != '') {
                    $.ajax({
                        url: '/product/color/' + id,
                        type: 'post',
                        data: {
                            'hex': hex,
                            'color': name
                        },
                        beforeSend: function () {

                        },
                        success: function (data) {
                            $('#color').append(`<option value="` + data.hex + `" id="` + data.id +
                                `">` + data.color + `</option>`)
                            $('.pcr-save').attr('disabled', false)
                            $('.details-colors').append(`<div class="span-border"><span class="span-color" id="` + data
                                .id + `" style="background-color: ` + data.hex + `"></span></div>`)
                            $('.pcr-name').val('')
                            pickr.hide()
                        }
                    })
                } else {
                    $('#' + this.input).focus()
                    $('.pcr-save').attr('disabled', false)
                }
            })
        }

        function toggleEdit(show, hide) {
            this.show = show
            this.hide = hide

            this.show.removeClass('hide')
            this.hide.addClass('hide')
        }

        function toggleLoader(loader) {
            this.loader = loader
            if (this.loader.hasClass('hide')) {
                this.loader.removeClass('hide')
            } else {
                this.loader.addClass('hide')
            }

        }

        function filterProducts(list, filter) {

        }

        function dynamicSort(property) {
            var sortOrder = 1;
            if (property[0] === "-") {
                sortOrder = -1;
                property = property.substr(1);
            }
            return function (a, b) {
                /* next line works with strings and numbers, 
                 * and you may want to customize it to your needs
                 */
                var result = (a[property] < b[property]) ? -1 : (a[property] > b[property]) ? 1 : 0;
                return result * sortOrder;
            }
        }

        function showProduct(element, id, product, category, photo, price, arrival) {
            this.element = element
            this.id = id
            this.product = product
            this.photo = photo
            this.price = price
            this.category = category
            this.arrival = arrival
            var duration = ''
            if (this.arrival < 1) {
                duration = '<img src="static/svg/new-{{current_user.theme}}.svg" alt="" srcset="">'
            }
            this.element.append(`
                    <a class="product-item" id="` + this.id + `" href="/product/` + this.id + `">
                        <div class="item-wrapper">
                            <div class="item-img">
                                <img src="static/uploads/` + this.photo + `" alt="" srcset="">
                                <div class="product-btn color-text">
                                    <i class="fa fa-pencil-square-o edit-product" aria-hidden="true"></i>
                                    <i class="fa fa-trash-o delete-product" aria-hidden="true"></i>
                                </div>
                                <div class="product-arrival">
                                    `+ duration +`
                                </div>
                            </div>
                            <div class="item-details">
                                <div class="details">
                                    <p class="notranslate color-font text-wrapper" id="details-title" style="font-size: 14px;" title="` +
                this.product + `">` +
                this.product + `</p>
                                    <p class="color-text" id="details-category" style="font-size: 12px;">` + this
                .category +
                `</p>
                                </div>
                                <div class="notranslate flex-between-end color-text" style="width: 100%;">
                                    <p class="color-font text-wrapper" id="details-price" style="font-size: 14px; width: 100px;"><span class="symbol">$</span><span class="price-tag">` +
                this.price + `</span></p>
                                    <p style="font-size: 12px;">
                                        <i class="fa fa-heart-o" aria-hidden="true"></i>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </a>`)
        }


        function showProductDetails(params) {
            var image = params.image
            var colors = params.colors
            var product = params.product
            var category = params.category
            var description = params.description
            var currency = params.currency
            var price = params.price
            var properties = params.properties
            var values = params.values
            var id = params.id

            var color_element = ''

            if (colors.length > 0) {
                colors.forEach(color => {
                    color_element += '<div class="span-border"><span class="span-color" id="' + color.id + '" style="background-color: ' + color.hex + '" title="' + color.color + '"></span></div>'
                });
            }

            if (currency == 'riel') {
                currency = 'R'
            } else {
                currency = '$'
            }

            var property_element = ''

            if (properties.length > 0) {
                properties.forEach(property => {
                    var value_element =
                        '<button class="btn border btn-value color-font"><p class="plus">+</p></button>'
                    if (values.length > 0) {
                        values.forEach(value => {
                            if (value.currency == 'riel') {
                                value.currency = 'R'
                            } else {
                                value.currency = '$'
                            }
                            if (value.property == property.id) {
                                value_element += `<label class="value container-input" id="` + value
                                                    .id + `">
                                                    <div class="product-btn color-text">
                                                        <i class="fa fa-pencil-square-o edit-value" aria-hidden="true"></i>
                                                        <i class="fa fa-trash-o delete-value" aria-hidden="true"></i>
                                                    </div>
                                                    <div class="flex-between-start">
                                                        <div class="flex-column-start-start">
                                                            <h5 class="color-font notranslate" id="value-value">` + value.value +`</h5>
                                                            <p style="font-size: 11px" class="color-text" id="value-description">` + value.description + `</p>
                                                        </div>
                                                    </div>
                                                    <div class="flex-end" style="font-size: 18px">
                                                        <p class="color-text notranslate" id="value-currency">` + value.currency + `</p>
                                                        <p class="color-text notranslate" id="value-price">` + value.price + `</p>
                                                    </div>
                                                    <input type="radio" name="` + property.id + `">
                                                    <span class="checkbox"></span>
                                                </label>`
                            }

                        });
                    }
                    property_element +=
                        `<div class="flex-column-start-start mt-4">
                            <h5 class="color-font notranslate mb-3"><i class="fa fa-caret-right right" aria-hidden="true"></i>` +
                                property.property + `</h5>
                            <button class="notranslate hide btn border color-font btn-slim add-value" id="` +
                            property.id + `" data-toggle="modal" data-target="#addValue"><p class="plus">+</p></button>
                        </div>
                        <div class="property-values property-` + property.id + `">
                            ` + value_element + `
                        </div>`
                });
            }

            return `<div class="product-details">
                        <div class="details-left">
                            <div class="details-img">
                                <img src="` + image + `" alt="" srcset="">
                            </div>
                            <div class="details-colors">` + color_element +
                `</div>
                            <div class="details-appearance">
                                <h5 class="color-font mt-3"><i class="fa fa-caret-right right" aria-hidden="true"></i>Appearance</h5>
                            </div>
                        </div>
                        <div class="details-right">
                            <div class="details-details">
                                <div class="details">
                                    <p class="notranslate color-font text-wrapper details-title" id="` + id +
                `" style="font-size: 23px;">` + product + `</p>
                                    <div class="flex-start">
                                        <p class="color-text" id="details-category" style="font-size: 12px;">` + category + `</p>
                                        <div class="flex-start ml-1 description-container" style="width: 80%">
                                            <span class="caret-right"></span>
                                            <p class="color-text text-wrapper" id="details-description" style="font-size: 12px; text-align: left;">` + description + `<p>
                                        </div>
                                    </div>
                                </div>
                                <div class="details-header" style="font-size: 23px">
                                    <span class="notranslate details-symbol color-font">` + currency + `</span>
                                    <span class="notranslate details-price color-font">` + price + `</span>
                                </div>
                            </div> 
                            <hr></hr>                           
                            <div class="details-property">` + property_element + `</div>
                        </div>
                    </div>`
        }

        function showProductForm(params) {
            var category = params.category
            var product = params.product
            var price = params.price
            var description = params.description
            var colors = params.colors
            var cost = params.cost
            var quantity = params.quantity
            var image = params.image
            var element = ''
            if (colors.length > 0) {
                colors.forEach(color => {
                    /*color change*/
                    element += '<option value="' + color.hex + '" id="' + color.id + '">' + color.color +
                        '</option>'
                });
            }
            if (category != '') {

            }
            var productForm =
                `<h5 class="color-font m-0">Product</h5>
                    <div class="slide-form" style="width: 100%;">
                        <form action="/product/add" method="post" enctype="multipart/form-data" style="width: 100%;"
                            id="product-form">
                            <h5 class="color-font sub-content"><i class="fa fa-caret-right right" aria-hidden="true"></i>Select Category</h5>
                            <input type="hidden" name="brand" id="brand-id">
                            <div class="form-group selector">
                                <p class="detail-content">Use category for specific products</p>
                                <select name="category" id="category" class="form-control input-color" required>
                                    <option disabled="disabled" selected="selected" value="">Select category</option>
                                    {% if categories %}
                                        {% for category in categories %}
                                            <option value="{{category.id}}">{{category.category}}</option>
                                        {% endfor %}
                                    {% else %}
                                    <option value="">No category</option>
                                    {% endif %}
                                </select>
                            </div>
                            <h5 class="color-font sub-content mb-2"><i class="fa fa-caret-right right" aria-hidden="true"></i>Product Informations</h5>
                            <div class="form-group">
                                <input type="text" class="form-control input-color" name="product" id="product" value="` + product +
                `" required>
                                <label for="product" class="label product">Product</label>
                            </div>
                            
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="form-group">
                                        <input type="number" class="form-control input-color" name="price" id="price" value="` + price +
                `"
                                            required>
                                        <label for="price" class="label price">Price</label>
                                    </div>
                                </div>
                                <div class="col-md-4 selector pl-0">
                                    <div class="form-group">
                                        <select name="currency" id="currency" class="form-control input-color">
                                            <option value="dollar"><span>&#36;</span></option>
                                            <option value="riel"><span>&#6107;</span></option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-7">
                                    <div class="form-group">
                                        <input type="number" class="form-control input-color" name="cost" id="cost" value="` + cost +
                `"
                                            required>
                                        <label for="cost" class="label cost">Cost</label>
                                    </div>
                                </div>
                                <div class="col-md-5 selector pl-0">
                                    <div class="form-group">
                                        <input type="number" class="form-control input-color" name="quantity" id="quantity" value="` + quantity + `"
                                            required>
                                        <label for="quantity" class="label quantity">Quantity</label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <textarea name="details" id="details"
                                    class="form-control input-color textarea" required>` + description + `</textarea>
                                <label for="details" class="label details">Description</label>
                            </div>
                            
                            <input type="submit" value="Save" class="submit-btn hide">
                        </form>
                        
                        <div class="product-image hide">
                            <h5 class="color-font sub-content"><i class="fa fa-caret-right right" aria-hidden="true"></i>Product Appearance</h5>
                            <div class="form-group">
                                <p class="detail-content">Select product photo</p>
                                <div class="upload-container">
                                    <div class="image-containers" id="product-img">
                                        <div class="image-item">
                                            <img src="` + image + `" id="product-src">
                                        </div>
                                    </div>
                                    <div class="bubbling hide">
                                        <img src="/static/svg/bubbling-{{current_user.theme}}.svg">
                                    </div>
                                    <label for="product-photo" class="upload-label">
                                        <input type="file" name="product-photo" id="product-photo" class="upload-input">
                                        <span><i class="fa fa-camera" aria-hidden="true"></i></span>
                                    </label>
                                </div>
                            </div>
                            <div class="form-group selector">
                                <p class="detail-content">Add color for product</p>
                                <div class="row">
                                    <div class="col-sm-2">
                                        <button class="btn input-color edit-color"></button>
                                    </div>
                                    <div class="col-sm-7 p-0 selector">
                                        <select name="color" id="color" class="form-control input-color" required>
                                            <option disabled selected="selected" value="">Select color</option>
                                            ` + element + `
                                        </select>   
                                    </div>
                                    <div class="col-sm-3">
                                        <button class="btn pickr input-color">+</button>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <p class="detail-content">Select color photo: <span class="selected-color"></span></p>
                                <div class="upload-container">
                                    <div class="image-containers" id="color-img">
                                        <div class="image-item">
                                            <img src="/static/uploads/default.png" id="image-src">
                                        </div>
                                    </div>
                                    <div class="bubbling hide">
                                        <img src="/static/svg/bubbling-{{current_user.theme}}.svg">
                                    </div>
                                    <label for="photo" class="upload-label disabled">
                                        <input type="file" name="photo" id="photo" class="upload-input" multiple disabled>
                                        <span><i class="fa fa-camera" aria-hidden="true"></i></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button class="btn btn-block border color-font submit-product">Create</button>
                    <button class="btn btn-block border color-font save-product hide">Save</button>`
            return productForm
        }

        function uuid() {
            return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function (c) {
                var r = Math.random() * 16 | 0,
                    v = c == 'x' ? r : (r & 0x3 | 0x8)
                return v.toString(16)
            })
        }

        function uploadPhoto(files, color, product, self, url) {

            const validtypes = ['image/gif', 'image/jpeg', 'image/png']
            this.color = color
            this.product = product
            this.url = url
            this.files = files
            this.self = self

            var imgtag = $(this.self).closest('.upload-container').find('.image-containers').attr('id')
            var name = $(this.self).closest('.slide-form').find('#product').val()
            var loader = $(this.self).closest('.upload-container').find('.bubbling')


            toggleLoader(loader)
            var form = new FormData()
            form.append('color', this.color)
            form.append('name', name)

            var len = []

            if (this.files.length > 0) {
                this.files.forEach((file, index) => {
                    if (jQuery.inArray(file.type, validtypes) == -1) {
                        alert('Invalide file!')
                    } else {
                        if (file.size > 2000000) {
                            alert('Image size too big ')
                        } else {
                            form.append(index, file)
                            len.push(index)
                        }
                    }
                })
                if (len.length > 0) {
                    $.ajax({
                        url: this.url + '/' + this.product,
                        type: 'post',
                        data: form,
                        contentType: false,
                        cache: false,
                        processData: false,
                        beforeSend: function () {

                        },
                        success: function (data) {

                            setTimeout(function () {
                                if (this.url == '/product/photo') {
                                    $('.details-img').html(
                                        '<img src="/static/uploads/' + data[0]
                                        .src + '" alt="' + data[0].alt + '">')
                                    var element = `<div class="image-item">
                                            <img src="/static/uploads/` + data[0].src + `" alt="` + data[0]
                                        .alt + `">
                                        </div>`
                                    $('#' + imgtag).html(element)
                                } else {
                                    $('#' + imgtag).html(showColorPhotos(data
                                        .photos, 'color-images'))
                                }
                                toggleLoader(loader)
                            }, 1000)
                        }
                    })
                } else {
                    toggleLoader(loader)
                }
            } else {
                alert('No file selected')
                toggleLoader(loader)
            }

        }

        $(document).on('click', '.add-value', function () {
            var property = $(this).attr('id')
            var title = $(this).prev().text()
            $('.modal-title').text(title)
            $('.modal-body').html(valueForm('', '0.00', '', ''))
            toggleEdit($('.save-btn'), $('.edit-btn'))
            $('.save-btn').attr('id', property)
        })

        $('.save-btn').on('click', function () {
            event.stopPropagation()
            var product = $('.details-title').attr('id')
            var property = $(this).attr('id')

            var value = $('#property-name').val()
            var price = $('#property-price').val()
            var currency = $('#property-currency').val()
            var description = $('#property-description').val()

            if (value == '') {
                $('#property-name').focus()
            } else {
                $.ajax({
                    url: '/value/add',
                    method: 'POST',
                    data: {
                        product: product,
                        property: property,
                        value: value,
                        price: price,
                        currency: currency,
                        description: description
                    },
                    success: function (data) {
                        $('#addValue').modal('hide')
                        if (data.currency == 'riel') {
                            data.currency = 'R'
                        } else {
                            data.currency = '$'
                        }
                        var element = `<label class="value container-input" id="` + data.id + `">
                                        <div class="product-btn color-text">
                                            <i class="fa fa-pencil-square-o edit-value" aria-hidden="true"></i>
                                            <i class="fa fa-trash-o delete-value" aria-hidden="true"></i>
                                        </div>
                                        <div class="flex-between-start">
                                            <div class="flex-column-start-start">
                                                <h5 class="color-font" id="value-value">` + data.value +
                            `</h5>
                                                <p style="font-size: 11px" class="color-text" id="value-description">` + data.description + `</p>
                                            </div>
                                        </div>
                                        <div class="flex-end color-text" style="font-size: 18px">
                                            <p class="color-text" id="value-currency">` + data.currency + `</p>
                                            <p class="color-text" id="value-price">` + data.price + `</p>
                                        </div>
                                        <input type="radio" name="` + data.property + `">
                                        <span class="checkbox"></span></label>`

                        var values = $('.property-' + data.property)
                        values.append(element)
                    }
                })
            }
        })
        $(document).on('click', '.btn-value', function () {
            $(this).parent().prev().find('.add-value').click()
        })

        function showColorPhotos(data, carousel) {
            this.data = data
            this.carousel = carousel
            var element = '<div id="' + this.carousel + '" class="carousel slide" data-ride="carousel">'
            var indicators = '<ul class="carousel-indicators">'
            var images = '<div class="carousel-inner">'
            if (this.data.length > 1) {
                this.data.forEach((photo, i) => {
                    if (i == 0) {
                        indicators += '<li class="active" data-target="#' + this.carousel +
                            '" data-slide-to="' + i + '"></li>'
                        images += `<div class="carousel-item active" id="` + photo.id + `">
                                    <img src="static/uploads/` + photo.src + `" alt="` + photo.alt + `">
                                </div>`
                    } else {
                        indicators += '<li data-target="#' + this.carousel + '" data-slide-to="' + i + '"></li>'
                        images += `<div class="carousel-item" id="` + photo.id + `">
                                    <img src="static/uploads/` + photo.src + `" alt="` + photo.alt + `">
                                </div>`
                    }
                    element += `<a class="carousel-control-prev" href="#` + this.carousel + `" data-slide="prev">
                                    <i class="fa fa-angle-left" aria-hidden="true"></i>
                                </a>
                                <a class="carousel-control-next" href="#` + this.carousel + `" data-slide="next">
                                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                                </a>`
                })
            } else {
                if (this.data.length) {
                    images += `<div class="carousel-item active" id="` + data[0].id + `">
                                    <img src="static/uploads/` + this.data[0].src + `" alt="` + this.data[0].alt + `">
                                </div>`
                } else {
                    images += `<div class="carousel-item active">
                                <img src="static/uploads/default.png" alt="No photo">
                            </div>`
                }
            }
            indicators += '</ul>'
            images += '</div>'
            element += indicators + images + `</div>`
            return element
        }
    </script>
</body>

</html>