<!DOCTYPE html>
<html lang="en" data-theme="{{current_user.theme}}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
        integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <!-- <link href="http://www.jqueryscript.net/css/jquerysctipttop.css" rel="stylesheet" type="text/css"> -->
    <link rel="stylesheet" href="{{url_for('static', filename='css/dist/style.css')}}">
    
    {% block style %}{% endblock %}
</head>

<body>
    <ul class="side-nav">
        <li>
            <button id="side-btn">
                <span></span>
                <span></span>
                <span></span>
            </button>
        </li>
        <li>
            <a href="/">
                <i class="fa fa-home" aria-hidden="true"></i>
            </a>
        </li>
        <li>
            <a href="/custome">
                <i class="fa fa-tasks" aria-hidden="true"></i>
            </a>
        </li>
        <li>
            <a href="">
                <i class="fa fa-bar-chart" aria-hidden="true"></i>
            </a>
        </li>
        <li>
            <a href="/setting">
                <i class="fa fa-sliders" aria-hidden="true"></i>
            </a>
        </li>
    </ul>
    <header>
        <nav class="menu-nav">
            <div class="nav-logo">
                <i class="fa fa-terminal" aria-hidden="true"></i>
            </div>
            {% block navbar %}{% endblock %}
            <div class="dropdown">
                <button type="button" class="btn color-font" data-toggle="dropdown">
                    {{current_user.username}}
                </button>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">Link 1</a>
                    <a class="dropdown-item" href="#">Link 2</a>
                    <a class="dropdown-item" href="#">Link 3</a>
                    <div class="dropdown-divider"></div>
                    <form action="/logout" method="post" style="width: auto;">
                        <input type="submit" value="Logout">
                    </form>
                </div>
            </div>
        </nav>
        <main>
            {% block content %}{% endblock %}
        </main>
    </header>
    <footer>
        <p class="color-font">Developed by thong</p>

    </footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.0/js/mdb.min.js"></script>
    <script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/16327/gsap-latest-beta.min.js"></script>
    <script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/16327/CSSRulePlugin3.min.js"></script>
    <script src="https://unpkg.com/ionicons@5.1.0/dist/ionicons.js"></script>
    <script src="{{url_for('static', filename='js/script.js')}}"></script>
    {% block script %}{% endblock %}
    <script>
        var theme = $('html').attr('data-theme')

        $.each($('#select-theme option'), function () {
            if ($(this).val() == theme) {
                $(this).attr('selected', 'selected')
            }
        })
        $('#side-btn').on('click', function () {
            $('.side-nav').toggleClass('nav-on')
        })
        $('#select-theme').on('change', function () {
            theme = $(this).children('option:selected').val()
            $.ajax({
                url: '/theme/change',
                method: 'POST',
                data: { data: theme },
                success: function (data) {
                    console.log(data)
                    $('html').attr('data-theme', data['theme'])
                }
            })

        })

        function toggleEdit(show, hide) {
            this.show = show
            this.hide = hide

            this.show.removeClass('hide')
            this.hide.addClass('hide')
        }

        function toggleLoader(loader) {
            this.loader = loader
            if (this.loader.hasClass('hide')) {
                this.loader.removeClass('hide')
            } else {
                this.loader.addClass('hide')
            }
            
        }



        function showProduct(element, id, product, category, photo, price) {
            this.element = element
            this.id = id
            this.product = product
            this.photo = photo
            this.price = price
            this.category = category
            this.element.append(`
                    <div class="product-item" id="`+this.id+`">
                        <div class="item-wrapper">
                            <div class="item-img">
                                <img src="static/uploads/`+this.photo+`" alt="" srcset="">
                                <div class="product-btn color-text">
                                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                    <i class="fa fa-trash-o" aria-hidden="true"></i>
                                </div>
                            </div>
                            <div class="item-details">
                                <div class="details">
                                    <p class="color-font text-wrapper" id="details-title" style="font-size: 14px;">`+this.product+`</p>
                                    <p class="color-text" id="details-category" style="font-size: 12px;">`+this.category+`</p>
                                </div>
                                <div class="flex-between-end color-text" style="width: 100%;">
                                    <p class="color-font text-wrapper" id="details-price" style="font-size: 14px; width: 100px;"><span class="symbol">$</span><span class="price-tag">`+this.price+`</span></p>
                                    <p style="font-size: 12px;">
                                        <i class="fa fa-heart-o" aria-hidden="true"></i>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>`)
        }

        var productSample = `<div class="product-sample">
                                    <div class="sample-left">
                                        <div class="sample-img">
                                            <img src="static/svg/camera-light.svg" alt="" srcset="">
                                        </div>
                                        <div class="sample-details">
                                            <div class="details">
                                                <p class="color-font text-wrapper" id="sample-title" style="font-size: 14px;">Product Name</p>
                                                <p class="color-text" id="sample-category" style="font-size: 12px;">category</p>
                                            </div>
                                            <p class="color-text mt-2" id="sample-description" style="font-size: 12px;"><p>
                                        </div>
                                    </div>
                                    <div class="sample-right">
                                        <div class="sample-header">
                                            <div class="sample-price color-font">$</div>
                                        </div>
                                        
                                    </div>
                                </div>`

        function showProductForm(params) {
            var category = params.category
            var product = params.product
            var price = params.price
            var description = params.description
            var productForm = `<h5 class="color-font m-0">Product</h5>
                    <div class="slide-form" style="width: 100%;">
                        <form action="/product/add" method="post" enctype="multipart/form-data" style="width: 100%;"
                            id="product-form">
                            <h5 class="color-font sub-content"><i class="fa fa-caret-right right" aria-hidden="true"></i>Select Category</h5>
                            <input type="hidden" name="brand" id="brand-id">
                            <div class="form-group selector">
                                <p class="detail-content">Use category for specific products</p>
                                <select name="category" id="category" class="form-control input-color" required>
                                    <option disabled selected="selected" value="">`+category+`</option>
                                    {% if categories %}
                                    {% for category in categories %}
                                    <option value="{{category.id}}">{{category.category}}</option>
                                    {% endfor %}
                                    {% else %}
                                    <option value="">No category</option>
                                    {% endif %}
                                </select>
                            </div>
                            <h5 class="color-font sub-content mb-2"><i class="fa fa-caret-right right" aria-hidden="true"></i>Product Informations</h5>
                            <div class="form-group">
                                <input type="text" class="form-control input-color" name="product" id="product" value="`+product+`" required>
                                <label for="product" class="label product">Product</label>
                            </div>
                            
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="form-group">
                                        <input type="number" class="form-control input-color" name="price" id="price" value="`+price+`"
                                            required>
                                        <label for="price" class="label price">Price</label>
                                    </div>
                                </div>
                                <div class="col-md-4 selector pl-0">
                                    <div class="form-group">
                                        <select name="currency" id="currency" class="form-control input-color">
                                            <option value="dollar"><span>&#36;</span></option>
                                            <option value="riel"><span>&#6107;</span></option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <textarea name="details" id="details"
                                    class="form-control input-color textarea" value="`+description+`" required></textarea>
                                <label for="details" class="label details">Description</label>
                            </div>
                            <div class="product-image hide">
                                <h5 class="color-font sub-content"><i class="fa fa-caret-right right" aria-hidden="true"></i>Product Image</h5>
                                <div class="form-group">
                                    <p class="detail-content">Select product photo. This photo will be show in the product</p>
                                    <div class="upload-container">
                                        <label for="photo" class="upload-label">
                                            <input type="file" name="photo" id="photo" class="upload-input">
                                            <span><i class="fa fa-camera" aria-hidden="true"></i></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <input type="submit" value="Save" class="submit-btn hide">
                        </form>
                    </div>
                    <button class="btn btn-block border color-font submit-product">Create</button>
                    <button class="btn btn-block border color-font save-product hide">Save</button>`
            return productForm
        }
    </script>
</body>

</html>